.grid-container: .grid-x.grid-padding-x
 .small-24.large-8
   h2 Форма обратной связи
   form.feedback-form
     input(type='text', required, placeholder="Ваше имя")
     input(type='text', required, placeholder="+7 (ххх) ххх хх хх")
     input(type='text', placeholder="Email")
     input(type='text', placeholder="Тема")
     button.button.button-filled.button-outline-white(type='submit') Отправить
