.recipes
 h2.recipes__title Список рецептов
 ul.recipse__list
      li.recipes__section Новые рецепты
      li.recipes__section Рекомендуемые экспертами
      li.recipes__section Избранные рецепты
      li.recipes__section Популярные рецепты
      li.recipes__section Быстрые рецепты
      li.recipes__section Разовые рецепты
      li.recipes__section Разное
