.recipes {
 ul{
   margin-left: 0;
   font-size: rem-calc(15);
 }
  &__title {
    &:after {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-flow: column;
    margin-left: 0;
  }

  &__section {
    display: block;
    padding: 14px 0;
    a {
      color: #000;
      font-family: "Lato", sans-serif;
      font-weight: bold;
    }

    &:not(:last-child) {
      border-bottom: #f57365 solid 1px;
    }

    &.current {
      a {
        color: #f57365;
      }
    }

  }
}