.recipes
 h2.recipes__title Список рецептов
 ul.recipse__list
      li.recipes__section.current
       a(href='#' title='') Новые рецепты
      li.recipes__section
       a(href='#' title='') Рекомендуемые экспертами
      li.recipes__section
       a(href='#' title='') Избранные рецепты
      li.recipes__section
       a(href='#' title='') Популярные рецепты
      li.recipes__section
       a(href='#' title='') Быстрые рецепты
      li.recipes__section
       a(href='#' title='') Разовые рецепты
      li.recipes__section
       a(href='#' title='') Разное
