recipes.recipes
 .grid-container: .grid-x.grid-padding-x
    .small-24.large-6.cell.recipes
     h2.recipes__title Список рецептов
     ul.recipse__list
      li.recipes__category Новые рецепты
      li.recipes__category Рекомендуемые экспертами
      li.recipes__category Избранные рецепты
      li.recipes__category Популярные рецепты
      li.recipes__category Быстрые рецепты
      li.recipes__category Разовые рецепты
      li.recipes__category Разное
    .small-24.large-auto.cell
    include ../text-main/_text-main.pug