.recipes
 h2.recipes__title Список рецептов
 ul.recipse__list
      li.recipes__section.current
       a Новые рецепты
      li.recipes__section
       a Рекомендуемые экспертами
      li.recipes__section
       a Избранные рецепты
      li.recipes__section
       a Популярные рецепты
      li.recipes__section
       a Быстрые рецепты
      li.recipes__section
       a Разовые рецепты
      li.recipes__section
       a Разное
