#add-to-favourites-auth-popup.reveal(data-reveal)
    .grid-x.grid-padding-x
        .show-for-medium.medium-12.cell
            img(src='./i/photo.svg' alt='изображение')

        .small-24.medium-12.text-center.cell
            h3 Товар добавлен в список любимых товаров!
            p Чтобы сохранить список, вам нужно:
            a(href='login.html', title='').button.expanded.secondary Войти
            p или
            a(href='login.html', title='').button.expanded.secondary Зарегистрироваться

    button.close-button(data-close aria-label="Закрыть")
        span(aria-hidden="true") &times;
