#add-to-favourites-auth-popup.reveal.small(data-reveal)
    .grid-x.grid-padding-x
        .show-for-medium.medium-6.cell
            img(src='./i/image.svg' alt='изображение' style='background: #CA3034')

        .small-12.medium-6.text-center.cell
            h3 Товар добавлен в список любимых товаров!
            p Чтобы сохранить список, вам нужно:
            a(href='login.html', title='').button.expanded Войти
            p или
            a(href='login.html', title='').button.expanded Зарегистрироваться

    button.close-button(data-close aria-label="Закрыть")
        span(aria-hidden="true") &times;