#add-product-comment.reveal(data-reveal)
    h2 Добавить свой отзыв

    form
        label Представьтесь
            span.text-dark-gray &#160; или автор комментария будет «аноним»
        input(type='text')

        label Ваш email
            span.text-dark-gray &#160; если хотите узнавать о новых комментариях к этому товару
        input(type='email')

        label Ваша оценка товара
        p
            span.rating
                span.rating__star
                span.rating__star
                span.rating__star
                span.rating__star
                span.rating__star

        label Текст отзыва *
        textarea(rows='3')

        button.button Отправить отзыв

    button.close-button(data-close aria-label="Закрыть")
        span(aria-hidden="true") &times;