.padding-top-12.padding-bottom-6
    .grid-container: .grid-x.grid-padding-x
        .small-24.medium-12.cell
            .margin-bottom-6.background-main: a(href='#'): img(src='./i/image.svg' alt='баннер')
        .small-24.medium-12.cell
            .grid-x.grid-padding-x
                .small-12.cell
                    .margin-bottom-6.background-main: a(href='#'): img(src='./i/image.svg' alt='баннер')
                .small-12.cell
                    .margin-bottom-6.background-main: a(href='#'): img(src='./i/image.svg' alt='баннер')
            .grid-x.grid-padding-x
                .small-12.cell
                    .margin-bottom-6.background-main: a(href='#'): img(src='./i/image.svg' alt='баннер')
                .small-12.cell
                    .margin-bottom-6.background-main: a(href='#'): img(src='./i/image.svg' alt='баннер')