.content
    .grid-container: .grid-x.grid-padding-x
        .small-12.medium-6.cell
            .margin-bottom-6: a(href='#'): img(src='./i/image.svg' alt='баннер' style='background:#1ccacd;')
        .small-12.medium-6.cell
            .grid-x.grid-padding-x
                .small-6.cell
                    .margin-bottom-6: a(href='#'): img(src='./i/image.svg' alt='баннер' style='background:#0c75bc;')
                .small-6.cell
                    .margin-bottom-6: a(href='#'): img(src='./i/image.svg' alt='баннер' style='background:#ca3034;')
            .grid-x.grid-padding-x
                .small-6.cell
                    .margin-bottom-6: a(href='#'): img(src='./i/image.svg' alt='баннер' style='background:#ca3034;')
                .small-6.cell
                    .margin-bottom-6: a(href='#'): img(src='./i/image.svg' alt='баннер' style='background:#0c75bc;')