.content
    .row
        .small-12.medium-6.columns
            p: a(href='#'): img(src='./images/image.svg' style='background:#1ccacd;')
        .small-12.medium-6.columns
            .row
                .small-6.columns
                    p: a(href='#'): img(src='./images/image.svg' style='background:#0c75bc;')
                .small-6.columns
                    p: a(href='#'): img(src='./images/image.svg' style='background:#ca3034;')
            .row
                .small-6.columns
                    p: a(href='#'): img(src='./images/image.svg' style='background:#ca3034;')
                .small-6.columns
                    p: a(href='#'): img(src='./images/image.svg' style='background:#0c75bc;')