.info.grid-container: .grid-x.grid-padding-x.small-up-2.medium-up-3.large-up-6
  each item, index in {"truck-with-right-arrow":"Бесплатная доставка от 1200 рублей", "globe":"Доставка по всей России", "working-hours":"Доставка от 3 до 10 дней", "lock":"Защищённый платёж", "item-return":"Бесплатный возврат в течение 30 дней", "clothes-measure":"Можно примерить перед оплатой"}
    .cell.text-center
      .sect.sect_rect: svg.sect__svg
        use(xlink:href= '#' + index )
      .sect= item
