.content
    .grid-container: .grid-x.grid-padding-x
        .small-12.medium-8.cell
            h2 Бренды
        .small-12.medium-4.cell.medium-text-right
            a.button.hollow(href='#') Все Бренды &nbsp;
                i.fa.fa-long-arrow-right
    .grid-container: .grid-x.grid-padding-x.small-up-2.medium-up-4.large-up-8
        - var n = 0
        while n < 8
            .cell
                img.margin-bottom-6(src='./i/image.svg' style='width:100%; height:75px; background:#FEF141;' alt=n)
            - n++