.background-black.padding-top-8.padding-bottom-4.text-dark-gray
    .grid-container: .grid-x.grid-padding-x
        .small-12.medium-4.cell
            .margin-bottom-6 &copy;&nbsp;
                a(href='#').text-light-gray ООО «Интернет-Магазин»
                | , 2017
            .margin-bottom-6
                | 150040, Ярославль, проспект Ленина 25, этаж 6, офис 606
                br
                a.text-light-gray(href='tel:88000000000') 8 (800) 775-52-93
                br
                a.text-light-gray(href='mailto:welcome@cetera.ru') welcome@cetera.ru
            .margin-bottom-6
                a(href='#', title='').fa-stack.fa-lg.text-vk
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-vk.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-twi
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-fb
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-ok
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-odnoklassniki.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-insta
                    i.fa.fa-circle.fa-stack-2x.fa-inverse
                    i.fa.fa-instagram.fa-stack-1x
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-gp
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-google-plus.fa-stack-1x.fa-inverse

        .small-12.medium-2.cell
            .margin-bottom-6: a.text-light-gray(href='#', title=''): strong Магазин
            .margin-bottom-6
                a.text-light-gray(href="#") О магазине
                br
                a.text-light-gray(href="#") Партнёрам
                br
                a.text-light-gray(href="#") Контакты

        .small-12.medium-2.cell
            .margin-bottom-6: a.text-light-gray(href='#', title=''): strong Покупателям
            .margin-bottom-6
                a.text-light-gray(href="#") Доставка
                br
                a.text-light-gray(href="#") Оплата
                br
                a.text-light-gray(href="#") Возврат
                br
                a.text-light-gray(href="#") Гарантия и сервис

        .small-12.medium-4.large-3.large-offset-1.cell
            .margin-bottom-6: strong Принимаем к оплате
            .margin-bottom-6
                img(src='./images/shop/visa.svg', style='height: 24px', alt='visa')
                img(src='./images/shop/mc.svg', style='height: 24px', alt='mc')
                img(src='./images/shop/ms.svg', style='height: 24px', alt='sber')
                img(src='./images/shop/qiwi.svg', style='height: 24px', alt='qiwi')
                img(src='./images/shop/ym.svg', style='height: 24px', alt='ym')
                img(src='./images/shop/pp.svg', style='height: 24px', alt='pp')

            hr.margin-bottom-6
            .margin-bottom-6
                a.text-light-gray(href='http://cetera.ru/', title='') Создание сайта&nbsp;&mdash;&nbsp;
                | Cetera Labs
                br
                a.text-light-gray(href='http://www.cetera.ru/support/default.php?project=CCD&lang=ru&page=http://wireframes.cetera.ru/boilerplate/', title='') Сообщить об ошибке