footer.footer
  .grid-container: .grid-x.grid-padding-x
    .medium-12.large-6.cell.footer__block
      a(href='#')
        img(src='./images/logo_white.svg' alt='logo').footer__logo

    .small-12.medium-12.large-6.cell
      a(href='#', title='').footer__shop Магазин
      nav.footer__nav
        a.footer__link(href='#') О магазине
        a.footer__link(href='#') Партнёрам
        a.footer__link(href='#') Контакты

    .small-12.medium-12.large-6.cell
      a(href='#', title='').footer__shop Покупателям
      nav.footer__nav
        a.footer__link(href='#') Доставка
        a.footer__link(href='#') Оплата
        a.footer__link(href='#') Возврат
        a.footer__link(href='#') Гарантия и сервис

    .medium-12.large-6.cell
      h6 Контакты
      .footer__nav
        | 150040, Ярославль, проспект Ленина 25, этаж 6, офис 606
        div: a.footer__link(href='tel:88007755293') 8 (800) 775-52-93
        div: a.footer__link(href='mailto:welcome@cetera.ru') welcome@cetera.ru
      h6 Принимаем к оплате
      .footer__nav
        img(src='./images/shop/visa.svg', alt='visa').footer__pay
        img(src='./images/shop/mc.svg', alt='mc').footer__pay
        img(src='./images/shop/ms.svg', alt='sber').footer__pay
        img(src='./images/shop/qiwi.svg', alt='qiwi').footer__pay
        img(src='./images/shop/ym.svg', alt='ym').footer__pay
        img(src='./images/shop/pp.svg', alt='pp').footer__pay

  .grid-container: .grid-x.grid-padding-x: .cell.footer__soc
    include ../common/_soc

  include ../common/_footer-info
