.header
    .row
        .small-12.medium-12.large-3.columns.text-center.large-text-left
            a(href='shop-index.html')
                img(src='./i/image.svg', style='width: 400px; height: 70px', alt='logo')
        .small-4.columns.show-for-small-only(data-responsive-toggle='menu', data-hide-for='medium')
            br
            div(data-toggle)
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-bars.fa-stack-1x.fa-inverse
                | &nbsp;Меню
        .small-2.medium-3.large-2.large-offset-1.columns.text-center
            br
            a.text-dark-gray(href='call:+00000000000')
                strong
                    i.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-phone.fa-stack-1x.fa-inverse
                    span.hide-for-small-only &nbsp;8 (800) 000 0000
        .small-2.medium-3.large-2.columns.text-center.large-text-right
            br
            a.text-dark-gray(href='shop-wishlist.html')
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-heart-o.fa-stack-1x.fa-inverse
                span.hide-for-small-only &nbsp;Избранное&nbsp;
                span.hide-for-small-only.badge 10
        .small-2.medium-3.large-2.columns.text-center.large-text-right
            br
            a.text-dark-gray(href='shop-cart.html')
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shopping-basket.fa-stack-1x.fa-inverse
                span.hide-for-small-only &nbsp;Корзина&nbsp;
                span.hide-for-small-only.badge 5
        .small-2.medium-3.large-2.columns.text-center.large-text-right
            br
            a.text-dark-gray(href='shop-user-login.html')
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-sign-in.fa-stack-1x.fa-inverse
                span.hide-for-small-only &nbsp;Войти