.grid-container.padding-vertical-6
    .grid-x.grid-padding-x
        .small-12.medium-12.large-3.cell.align-self-middle.text-center.large-text-left
            a(href='shop-index.html' title='')
                img(src='./i/image.svg', style='width: 400px; height: 70px', alt='logo')
            .margin-bottom-6.hide-for-large
        .small-4.cell.align-self-middle.show-for-small-only(data-responsive-toggle='menu', data-hide-for='medium')
            div(data-toggle)
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-bars.fa-stack-1x.fa-inverse
                | &nbsp;Меню
        .small-2.medium-4.large-2.large-offset-1.cell.align-self-middle.text-center
            a.text-dark-gray(href='call:+00000000000')
                strong
                    i.fa-stack.fa-lg
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-phone.fa-stack-1x.fa-inverse
                    span.hide-for-small-only &nbsp;8 (800) 000 0000
        .small-2.medium-3.large-2.cell.align-self-middle.text-center.large-text-right
            a.text-dark-gray(href='shop-wishlist.html')
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-heart-o.fa-stack-1x.fa-inverse
                span.hide-for-small-only &nbsp;Избранное&nbsp;
                span.show-for-large.badge 10
        .small-2.medium-3.large-2.cell.align-self-middle.text-center.large-text-right
            a.text-dark-gray(href='shop-cart.html')
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shopping-basket.fa-stack-1x.fa-inverse
                span.hide-for-small-only &nbsp;Корзина&nbsp;
                span.show-for-large.badge 5
        .small-2.medium-2.large-2.cell.align-self-middle.text-center.large-text-right
            a.text-dark-gray(href='shop-user-login.html')
                i.fa-stack.fa-lg
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-sign-in.fa-stack-1x.fa-inverse
                span.hide-for-small-only &nbsp;Войти