header.header: .grid-container
  .grid-x.grid-padding-x
    .medium-24.large-4.cell.header__info
      a(href='shop-index.html' title='')
        img(src='./images/logo.svg', alt='logo').header__logo
    .small-4.cell.header__hamb
      div(data-responsive-toggle='menu', data-hide-for='medium')
        div(data-toggle)
          i.fas.fa-bars
    .small-5.medium-8.large-auto.large-offset-2.cell.header__block
      a(href='tel:88007755293').header__tel
        i.fa-layers.fa-fw
          i.fas.fa-circle(data-fa-transform="grow-3")
          i.fas.fa-phone.fa-inverse(data-fa-transform="shrink-6")
        span.header__span 8 (800) 775-52-93
    .small-5.medium-6.large-auto.cell.header__block
      a.header__tel(href='shop-wishlist.html')
        i.fa-layers.fa-fw
          i.fas.fa-circle(data-fa-transform="grow-3")
          i.far.fa-heart.fa-inverse(data-fa-transform="shrink-6")
        span.header__span Избранное
        +badge('show-for-large badge_secondary')
    .small-5.medium-6.large-auto.cell.header__block
      a.header__tel(href='shop-cart.html')
        i.fa-layers.fa-fw
          i.fas.fa-circle(data-fa-transform="grow-3")
          i.fas.fa-shopping-basket.fa-inverse(data-fa-transform="shrink-6")
        span.header__span Корзина
        +badge('show-for-large badge_secondary')
    .small-5.medium-4.large-auto.cell.header__block.large-text-right
      a.header__tel(href='shop-user-login.html')
        i.fa-layers.fa-fw
          i.fas.fa-circle(data-fa-transform="grow-3")
          i.fas.fa-sign-in-alt.fa-inverse(data-fa-transform="shrink-6")
        span.header__span Войти
