.grid-container.padding-vertical-10
    .grid-x.grid-padding-x
        .small-24.medium-24.large-4.cell.align-self-middle.text-center.large-text-left
            a(href='shop-index.html' title='')
                img(src='./images/logo.svg', style='max-width: 15rem;', alt='logo')
            .margin-bottom-6.hide-for-large
        .small-8.cell.align-self-middle.show-for-small-only(data-responsive-toggle='menu', data-hide-for='medium')
            div(data-toggle).text-secondary
                i.fa-layers.fa-2x.fa-fw
                    i.fas.fa-circle(data-fa-transform="grow-3")
                    i.fas.fa-bars.fa-inverse(data-fa-transform="shrink-6")
                | &nbsp;Меню
        .small-4.medium-8.large-auto.large-offset-2.cell.align-self-middle.text-center
            a.text-medium-gray(href='tel:88007755293')
                strong
                    i.fa-layers.fa-2x.fa-fw
                        i.fas.fa-circle(data-fa-transform="grow-3")
                        i.fas.fa-phone.fa-inverse(data-fa-transform="shrink-6")
                    span.text-secondary.hide-for-small-only &nbsp;8 (800) 775-52-93
        .small-4.medium-6.large-auto.cell.align-self-middle.text-center.large-text-right
            a.text-medium-gray(href='shop-wishlist.html')
                i.fa-layers.fa-2x.fa-fw
                    i.fas.fa-circle(data-fa-transform="grow-3")
                    i.far.fa-heart.fa-inverse(data-fa-transform="shrink-6")
                span.text-secondary.hide-for-small-only &nbsp;Избранное&nbsp;
                span.show-for-large.badge.secondary 10
        .small-4.medium-6.large-auto.cell.align-self-middle.text-center.large-text-right
            a.text-medium-gray(href='shop-cart.html')
                i.fa-layers.fa-2x.fa-fw
                    i.fas.fa-circle(data-fa-transform="grow-3")
                    i.fas.fa-shopping-basket.fa-inverse(data-fa-transform="shrink-6")
                span.text-secondary.hide-for-small-only &nbsp;Корзина&nbsp;
                span.show-for-large.badge.secondary 5
        .small-4.medium-4.large-auto.cell.align-self-middle.text-center.large-text-right
            a.text-medium-gray(href='shop-user-login.html')
                i.fa-layers.fa-2x.fa-fw
                    i.fas.fa-circle(data-fa-transform="grow-3")
                    i.fas.fa-sign-in-alt.fa-inverse(data-fa-transform="shrink-6")
                span.text-secondary.hide-for-small-only &nbsp;Войти