.header
    .row
        .small-12.medium-12.large-3.columns.text-center.large-text-left
            a(href='shop-index.html')
                img(src='./images/image.svg', style='width: 400px; height: 70px', alt='logo')
        .small-4.columns.show-for-small-only(data-responsive-toggle='menu', data-hide-for='medium')
            br
            div(data-toggle)
                i.fa.fa-lg.fa-bars
                | &nbsp;Меню
        .small-2.medium-3.large-2.large-offset-1.columns.text-center
            br
            a(href='call:+00000000000')
                strong
                    i.fa.fa-lg.fa-phone
                    span.hide-for-small-only &nbsp;8(800) 000 0000
        .small-2.medium-3.large-2.columns.text-center.large-text-right
            br
            a(href='#')
                i.fa.fa-lg.fa-heart-o
                span.hide-for-small-only &nbsp;Избранное&nbsp;
                span.badge 10
        .small-2.medium-3.large-2.columns.text-center.large-text-right
            br
            a(href='#')
                i.fa.fa-lg.fa-shopping-basket
                span.hide-for-small-only &nbsp;Корзина&nbsp;
                span.badge 5
        .small-2.medium-3.large-2.columns.text-center.large-text-right
            br
            a(href='#')
                i.fa.fa-lg.fa-sign-in
                span.hide-for-small-only &nbsp;Войти