.content
    .row.column
        h2 Новости магазина
    .row.small-up-2.medium-up-4
        - var n = 0
        while n < 4
            .column
                .mb-1
                    a(href='#', title='') Изменение в графике работы магазина в праздничные дни
                    br
                    span.text-medium-gray 20.02.2016
            - n++