.info.grid-container: .grid-x.grid-padding-x: .cell
  h2 Новости магазина
.grid-container: .grid-x.grid-padding-x.small-up-2.medium-up-2.large-up-4
  - var n = 0
  while n < 4
    .cell
      .sect
        a(href='#', title='') Изменение в графике работы магазина в праздничные дни
        .sect__date 20.02.2016
    - n++
