mixin productLineWide(discount, onDemand, inCart, inFavourites)
    .grid-x.grid-padding-x
        .cell.medium-4.large-2.hide-for-small-only
            .margin-bottom-6: img(src='./i/photo.svg' alt='Товар')
        .cell.medium-8.large-12
            h6.margin-bottom-1
                if discount
                    span.label.secondary
                        i.far.fa-star
                        | &nbsp;Акция
                    | &nbsp;
                a(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
            .margin-bottom-3.hide-for-small-only: a.text-dark-gray.text-size-small(href='shop-catalog.html') Шуроповерты
        .cell.small-24.medium-12.large-10
            .margin-bottom-6
                .grid-x.grid-padding-x
                    .cell.small-24.medium-8.medium-order-2
                        if onDemand
                            span.text-dark-gray: em Нет в наличии&nbsp;
                        else
                            strong.text-size-xxlarge
                                | 1&nbsp;250&nbsp;
                                i.fas.fa-ruble-sign
                                | &nbsp;&nbsp;
                            if discount
                                br.hide-for-small-only
                                del.text-dark-gray
                                    | 1&nbsp;750&nbsp;
                                    i.fas.fa-ruble-sign
                        .margin-bottom-3.show-for-small-only
                    .cell.small-10.medium-8.medium-order-3
                        if onDemand
                            a(href='#' title='')
                                i.far.fa-bell
                                | &nbsp;Заказать
                        else
                            if inCart
                                a(href='shop-cart.html' title='')
                                    span.dark-gray
                                        i.fas.fa-check.fa-lg
                                        | &nbsp;В корзине
                            else
                                a(href='shop-cart.html' title='').button.hollow.margin-bottom-0
                                    i.fas.fa-shopping-basket
                                    | &nbsp;Купить
                    .cell.small-14.medium-8.medium-order-1.text-right.medium-text-left
                        if !inFavourites
                            a.text-dark-gray(data-open="add-to-favourites-auth-popup")
                                i.far.fa-heart.fa-lg

                        else
                            a.text-dark-gray(href='' title='Удалить из запомненных')
                                i.fas.fa-heart.fa-lg
                        | &nbsp;&nbsp;
                        a.text-dark-gray(href='shop-compare.html' title='')
                            i.fas.fa-balance-scale.fa-lg