mixin productLine(discount, onDemand, inCart)
    .row
        .column.small-4.medium-2
            p: img(src='./i/image.svg')
        .column.small-8.medium-6.large-5
            h5
                if discount
                    span.label.success
                        i.fa.fa-star-o
                        | &nbsp;Акция
                    | &nbsp;
                a.text-dark(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
            ul.hide-for-small-only
                li Гарантия: 1 год
                li Мощность: 1000W
                li Цвет: Красный
                li Страна: Китай

        .column.small-12.medium-4.large-offset-1
            if onDemand
                p
                    span.text-dark-gray: em Нет в наличии&nbsp;
                    br
                    a(href='#'): strong Заказать
            else
                .row.collapse
                    .small-7.columns
                        p
                            span.stat
                                | 1&nbsp;250&nbsp;
                                i.fa.fa-rub
                            if discount
                                br
                                del.text-dark-gray
                                    | 1&nbsp;750&nbsp;
                                    i.fa.fa-rub
                    .small-5.columns
                        if inCart
                            a(href='shop-cart.html')
                                span.dark-gray
                                    i.fa.fa-check.fa-lg
                                    | &nbsp;В корзине
                        else
                            a(href='shop-cart.html').button.hollow.expanded Купить
            div.hide-for-small-only
                hr
                br
                p
                    i.fa.fa-credit-card
                    | &nbsp;Купить в кредит
                    br
                    i.fa.fa-truck
                    | &nbsp;Доставим на дом
                    br
                    a(data-open="add-to-favourites-auth-popup")
                        i.fa.fa-heart-o
                        | &nbsp;Запомнить
                    | &nbsp;&nbsp;
                    a(href='shop-compare.html')
                        i.fa.fa-balance-scale
                        | &nbsp;Сравнить
