mixin productTile(title, discount)
    .cell
        .clearfix(data-equalizer-watch)
            .margin-bottom-6
                a(href='shop-product.html'): img(src='./i/image.svg' alt='товар' style='background:#e6e6e6;')
            .margin-bottom-3
                if discount
                    span.label.success
                        i.fa.fa-star-o
                        | &nbsp;Акция
                    | &nbsp;
                a(href='shop-product.html')
                    if title
                        = title
                    else
                        | Название товара
                br
                a.text-dark-gray.text-size-small(href='shop-catalog.html') Шуроповерты
        hr.margin-bottom-3
        .margin-bottom-3
            strong.text-size-large
                | 1&nbsp;250&nbsp;
                i.fa.fa-rub
            if discount
                | &nbsp;&nbsp;
                del.text-dark-gray.text-size-small
                    | 1&nbsp;750&nbsp;
                    i.fa.fa-rub
        .grid-x.margin-bottom-6
            .small-5.cell
                a(href='shop-cart.html').button.small.primary.hollow.expanded.margin-bottom-0 Купить
            .small-7.cell.text-right.align-self-middle
                a.text-dark-gray(title='Запомнить' data-open="add-to-favourites-auth-popup")
                    i.fa.fa-heart-o.fa-lg
                | &nbsp;&nbsp;&nbsp;
                a.text-dark-gray(title="Добавить к сравнению" href='shop-compare.html')
                    i.fa.fa-balance-scale.fa-lg