p
    a(href='#', title='')
        i.fa.fa-lg.fa-file-pdf-o &#160;
        | Инструкция по эксплуатации
p
    a(href='#', title='')
        i.fa.fa-lg.fa-file-pdf-o &#160;
        | Инструкция по ремонту
p
    a(href='#', title='')
        i.fa.fa-lg.fa-external-link &#160;
        | Приложение для смартфона
p
    a(href='#', title='')
        i.fa.fa-lg.fa-file-text-o &#160;
        | Сертификат соответствия