.sect: a(href='http://farm9.staticflickr.com/8140/30366640446_eb359921c5_b.jpg' data-fancybox="gallery"): img(src='./i/photo.svg' alt='товар')
.grid-x.grid-padding-x.small-up-3.medium-up-4.large-up-6
  - n = 0
  while n < 6
    - n++
    .cell
      a(href='http://farm9.staticflickr.com/8542/29466009773_a809b99d19_b.jpg' data-fancybox="gallery"): img.sect(src='./i/photo.svg' alt=n)
