p
    a(href='#', title='')
        i.far.fa-lg.fa-file-pdf.fa-fw
        | &#160;Инструкция по эксплуатации
p
    a(href='#', title='')
        i.far.fa-lg.fa-file-pdf.fa-fw
        | &#160;Инструкция по ремонту
p
    a(href='#', title='')
        i.fas.fa-lg.fa-external-link-alt.fa-fw
        | &#160;Приложение для смартфона
p
    a(href='#', title='')
        i.far.fa-lg.fa-file-alt.fa-fw
        | &#160;Сертификат соответствия