.margin-bottom-6 Рассказать:&nbsp;
    a(href='#' title='').text-fb.fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-stack-1x.fa-facebook.fa-inverse
    | &nbsp;
    a(href='#' title='').text-twi.fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-stack-1x.fa-twitter.fa-inverse
    | &nbsp;
    a(href='#' title='').text-vk.fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-stack-1x.fa-vk.fa-inverse
    | &nbsp;
    a(href='#' title='').text-ok.fa-stack.fa-lg
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-stack-1x.fa-odnoklassniki.fa-inverse