p
    a(href='#', title='')
        i.far.fa-lg.fa-file-pdf.fa-fw.picture
        | Инструкция по эксплуатации
p
    a(href='#', title='')
        i.far.fa-lg.fa-file-pdf.fa-fw.picture
        | Инструкция по ремонту
p
    a(href='#', title='')
        i.fas.fa-lg.fa-external-link-alt.fa-fw.picture
        | Приложение для смартфона
p
    a(href='#', title='')
        i.far.fa-lg.fa-file-alt.fa-fw.picture
        | Сертификат соответствия
