.margin-bottom-6  А4, 600×600 dpi, 27/27 стр в мин., ADF, Duplex, USB, Ethernet

.grid-x.grid-padding-x
    .small-12.large-2.cell Цвет:
    .cell.auto
        .checkbox-group
            input.checkbox-group__item(type='radio' id='color1' name='color')
            label.checkbox-group__label(for='color1' style='background-color: #eee;') &nbsp;
            input.checkbox-group__item(type='radio' id='color2' name='color')
            label.checkbox-group__label(for='color2' style='background-color: #ca3034;') &nbsp;
            input.checkbox-group__item(type='radio' id='color3' name='color')
            label.checkbox-group__label(for='color3' style='background-color: #578b93;') &nbsp;
            input.checkbox-group__item(type='radio' id='color4' name='color')
            label.checkbox-group__label(for='color4' style='background-color: #deb887;') &nbsp;

.grid-x.grid-padding-x
    .small-12.large-2.cell Размер:
    .cell.auto
        .checkbox-group
            input.checkbox-group__item(type='radio' id='size1' name='size')
            label.checkbox-group__label(for='size1') 39
            input.checkbox-group__item(type='radio' id='size2' name='size')
            label.checkbox-group__label(for='size2') 40
            input.checkbox-group__item(type='radio' id='size3' name='size')
            label.checkbox-group__label(for='size3') 41
            input.checkbox-group__item(type='radio' id='size4' name='size')
            label.checkbox-group__label(for='size4') 42
            input.checkbox-group__item(type='radio' id='size5' name='size')
            label.checkbox-group__label(for='size5') 43

.grid-x.grid-padding-x
    .large-10.large-offset-2.cell
        .margin-bottom-6
            a(href='#', title='') Таблица размеров
            br
            span.text-dark-gray Нет нужного размера или цвета?
            a.pseudo-link(href='#') &nbsp; Сообщим о появлении.

br

.grid-x.grid-padding-x
    .small-12.large-5.cell
        .margin-bottom-6
            span.stat
                | 25 280&nbsp;
                i.fa.fa-rub
            br
            del.text-dark-gray
                | 27 150 &nbsp;
                i.fa.fa-rub
            | &nbsp;&nbsp;
            span.label.warning Бонус <i>+45</i>
    .small-12.large-7.cell
        .input-group
            input.input-group-field(type='number' value='1' min='1')
            .input-group-field
                a(href='shop-cart.html' title="Товар добавлен в корзину").button.margin-bottom-0
                    | &nbsp;
                    i.fa.fa-shopping-basket.fa-lg
                    | &nbsp;В корзину
                    | &nbsp;


.grid-x.grid-padding-x: .cell
    .margin-bottom-3
        span.rating
            input.rating__input#rating5(type="radio" name="rating")
            label.rating__star(for="rating5")
            input.rating__input#rating4(type="radio" name="rating")
            label.rating__star(for="rating4")
            input.rating__input#rating3(type="radio" name="rating")
            label.rating__star(for="rating3")
            input.rating__input#rating2(type="radio" name="rating")
            label.rating__star(for="rating2")
            input.rating__input#rating1(type="radio" name="rating")
            label.rating__star(for="rating1")
        em.text-dark-gray &nbsp;оценок 25
        | &nbsp; &nbsp;
    .margin-bottom-6
        a(href='#', title='')
            i.fa.fa-lg.fa-comments
            | &nbsp;Отзывы&nbsp;
            span.badge 10
        | &nbsp; &nbsp;
        a(href='shop-compare.html' title="Товар добавлен к сравнению.")
            i.fa.fa-lg.fa-balance-scale
            | &nbsp;К сравнению
        | &nbsp; &nbsp;
        a(data-open="add-to-favourites-auth-popup")
            i.fa.fa-lg.fa-heart-o
            | &nbsp;Запомнить