.margin-bottom-6 Рассказать:&nbsp;
    a(href='#' title='').text-tertiary.fa-layers.fa-2x.fa-fw
        i.fas.fa-circle(data-fa-transform="grow-3")
        i.fa.fa-facebook.fa-inverse(data-fa-transform="shrink-6")
    = ' '
    a(href='#' title='').text-tertiary.fa-layers.fa-2x.fa-fw
        i.fas.fa-circle(data-fa-transform="grow-3")
        i.fab.fa-twitter.fa-inverse(data-fa-transform="shrink-6")
    = ' '
    a(href='#' title='').text-tertiary.fa-layers.fa-2x.fa-fw
        i.fas.fa-circle(data-fa-transform="grow-3")
        i.fab.fa-vk.fa-inverse(data-fa-transform="shrink-6")
    = ' '
    a(href='#' title='').text-tertiary.fa-layers.fa-2x.fa-fw
        i.fas.fa-circle(data-fa-transform="grow-3")
        i.fab.fa-odnoklassniki.fa-inverse(data-fa-transform="shrink-6")