#product-quickview.reveal.large(data-reveal)
    .grid-x.grid-padding-x
        .small-12.medium-6.cell.medium-order-2
            .margin-bottom-3
                span.label.success
                    i.fa.fa-star-o
                    | &nbsp;Акция
                span.text-dark-gray &nbsp; Артикул 123456
            h2 Принтер лазерный HP LaserJet Pro M477fnw (CF377A#ACB)
            include _product-base-info
        .small-12.medium-6.cell.medium-order-1
            include _product-images
    button.close-button(data-close aria-label="Закрыть")
        span(aria-hidden="true") &times;