p
    a(href='#', title='')
        i.far.fa-lg.fa-file-pdf &#160;
        | Инструкция по эксплуатации
p
    a(href='#', title='')
        i.far.fa-lg.fa-file-pdf &#160;
        | Инструкция по ремонту
p
    a(href='#', title='')
        i.fas.fa-lg.fa-external-link-alt &#160;
        | Приложение для смартфона
p
    a(href='#', title='')
        i.far.fa-lg.fa-file-alt &#160;
        | Сертификат соответствия