include _add-product-comment
.grid-x.grid-padding-x: .cell
    h3 Отзывы покупателей (3)
    .margin-bottom-6
        a(data-open="add-product-comment" title='') Добавить свой отзыв
.margin-bottom-12
    .grid-x.grid-padding-x
        .small-12.medium-2.cell
            .fa-lg
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star-o &#160;
                i.fa.fa-star-o &#160;
        .small-12.medium-6.cell
            .margin-bottom-6 Покупал на дачу, и в магазине порекомендовали взять этот, так как он у нас должен стоять в ванной комнате (на виду). При неправильном закреплении на стену он у нас перевернулся и упал на пол с полным баком воды, но повреждение получила только верхняя пластиковая крышка.Вообще лучше брать такой же водонагреватель, только горизонтальный, так как больше количество воды постоянной температуры.
        .small-12.medium-3.medium-offset-1.cell
            .margin-bottom-6.text-dark-gray 3 августа 2015
                br
                | Иван Иванов

    .grid-x.grid-padding-x
        .small-12.medium-2.cell
            .fa-lg
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
        .small-12.medium-6.cell
            .margin-bottom-6
                p Праздники не прошли даром. Отсутствие жены, уехавшей к маме пагубно сказалось на количестве спиртного и на состоянии моих совсем нетрезвых друзей. И меня, что уж тут таить. Вследствие чего по утру хорошо, что пришлось менять только унитаз.
                p Ваш магазин был для меня спасением - цены низкие, доставили на следующий день и тут же установили. Жена, приехавшая через сутки, была сказочно рада началу давно откладывавшегося ремонта ;)
        .small-12.medium-3.medium-offset-1.cell
            .margin-bottom-6.text-dark-gray 10 июля 2014
                br
                | Витя

    .grid-x.grid-padding-x
        .small-12.medium-2.cell
            .fa-lg
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star &#160;
                i.fa.fa-star-o &#160;
        .small-12.medium-6.cell
            .margin-bottom-6 Эксплуатирую только в периоды отключения горячей воды, а это суммарно максимум месяц в год. Учитывая другие отзывы про ненадежность бака стараюсь не перегревать бак температуры в 60 градусов вполне хватает двоим помыться
        .small-12.medium-3.medium-offset-1.cell
            .margin-bottom-6.text-dark-gray 18 марта 2014
                br
                | Иван Петрович
include ../common/_pagination