.grid-x.grid-padding-x
    .small-12.medium-6.cell
        .margin-bottom-6
            b Наличие:
            br
            | Магазин —
            span.text-success &#160; много
            br
            | Склад 1 —
            span.text-medium-gray &#160; нет
            br
            | Склад 2 —
            span.text-alert &#160; мало
    .small-12.medium-6.cell
        .margin-bottom-6
            | #[i.fa.fa-truck] #[b Доставка]:
            br
            | Самовывоз — 17.03.2016
            br
            | Москва и МО — 18.03.2016 (Бесплатно)
            br
            | Россия — 23.03.2016 (от 500 руб)
            br
            a(href='#' title='') Тарифы и условия доставки