p
    b Общее
.table-scroll: table
    colgroup
        col.sect.sect_col
        col.sect.sect_col
    tr
        td Устройство
        td принтер/сканер/копир/факс
    tr
        td Тип печати
        td цветная
    tr
        td Технология печати
        td лазерная
    tr
        td Размещение
        td настольный
    tr
        td Область применения
        td средний офис
    tr
        td Количество страниц в месяц
        td 50 000

p
    b Принтер
.table-scroll: table
    colgroup
        col.sect.sect_col
        col.sect.sect_col
    tr
        td Максимальный формат
        td A4
    tr
        td Максимальный размер отпечатка
        td 216 × 356 мм
    tr
        td Автоматическая двусторонняя печать
        td есть
    tr
        td Количество цветов
        td 4
    tr
        td Максимальное разрешение для ч/б печати
        td 600x600 dpi
    tr
        td Максимальное разрешение для цветной печати
        td 600x600 dpi
    tr
        td Скорость печати
        td 28 стр/мин (ч/б А4), 28 стр/мин (цветн. А4)
    tr
        td Время выхода первого отпечатка
        td 8.90 c (ч/б), 9.80 с (цветн.)

p
    b Сканер
.table-scroll: table
    colgroup
        col.sect.sect_col
        col.sect.sect_col
    tr
        td Тип сканера
        td планшетный/протяжный
    tr
        td Максимальный формат оригинала
        td A4
    tr
        td Максимальный размер сканирования
        td 216x356 мм
    tr
        td Разрешение сканера
        td 1200x1200 dpi
    tr
        td Устройство автоподачи оригиналов
        td одностороннее
    tr
        td Емкость устройства автоподачи оригиналов
        td 50 листов
    tr
        td Скорость сканирования (цветн.)
        td 21
    tr
        td Скорость сканирования (ч/б)
        td 26

p
    b Копир
.table-scroll: table
    colgroup
        col.sect.sect_col
        col.sect.sect_col
    tr
        td Максимальное разрешение копира (ч/б)
        td 300x420 dpi
    tr
        td Максимальное разрешение копира (цветн.)
        td 300x420 dpi
    tr
        td Скорость копирования
        td 28 стр/мин (ч/б А4), 28 стр/мин (цветн. А4)

p
    b Дополнительная информация
.table-scroll: table
    colgroup
        col.sect.sect_col
        col.sect.sect_col
    tr
        td Отображение информации
        td цветной ЖК-дисплей
    tr
        td Диагональ дисплея
        td 4.3 дюйма
    tr
        td Уровень шума при работе
        td 49 дБ
