include _add-product-comment
.grid-x.grid-padding-x: .cell
  h3 Отзывы покупателей (3)
  .sect
    a(data-open="add-product-comment" title='') Добавить свой отзыв
.sect
  .grid-x.grid-padding-x
    .medium-5.large-4.cell
      +mark
    .medium-13.large-12.cell
      p Покупал на дачу, и в магазине порекомендовали взять этот, так как он у нас должен стоять в ванной комнате (на виду). При неправильном закреплении на стену он у нас перевернулся и упал на пол с полным баком воды, но повреждение получила только верхняя пластиковая крышка.Вообще лучше брать такой же водонагреватель, только горизонтальный, так как больше количество воды постоянной температуры.
    .medium-6.large-6.large-offset-2.cell
      .sect.sect_time 3 августа 2015
      div Иван Иванов

  .grid-x.grid-padding-x
    .medium-5.large-4.cell
      +mark
    .medium-13.large-12.cell
      p Праздники не прошли даром. Отсутствие жены, уехавшей к маме пагубно сказалось на количестве спиртного и на состоянии моих совсем нетрезвых друзей. И меня, что уж тут таить. Вследствие чего по утру хорошо, что пришлось менять только унитаз.
      p Ваш магазин был для меня спасением - цены низкие, доставили на следующий день и тут же установили. Жена, приехавшая через сутки, была сказочно рада началу давно откладывавшегося ремонта ;)
    .medium-6.large-6.large-offset-2.cell
      .sect.sect_time 10 июля 2014
      div Витя

  .grid-x.grid-padding-x
    .medium-5.large-4.cell
      +mark
    .medium-13.large-12.cell
      p Эксплуатирую только в периоды отключения горячей воды, а это суммарно максимум месяц в год. Учитывая другие отзывы про ненадежность бака стараюсь не перегревать бак температуры в 60 градусов вполне хватает двоим помыться
    .medium-6.large-6.large-offset-2.cell
      .sect.sect_time 18 марта 2014
      div Иван Петрович
+pagination
