.grid-x.grid-padding-x
    .cell.large-12
        table
            tr
                td Тип печати
                td Черно-белая
            tr
                td Технология печати
                td Лазерная
            tr
                td Максимальный формат бумаги
                td A4
            tr
                td Количество цветов
                td 1
            tr
                td Автоматическая двусторонняя печать
                td Есть
        p
            a(href='#product-tab-spec' title='На вкладку Характеристики') Все характеристики

    .cell.large-10.large-offset-2
        p
            b О товаре
        p Этот МФУ (принтер, сканер, копир, факс) прекрасно подойдёт для среднего офиса (~10 человек) где печатают не слишком большое количетсво документов не каждый день
        p 4-цветная лазерная печать до 28 стр/мин в формате до A4 (210 × 297 мм).
        p Цветной ЖК-дисплей позволяет с легкостью ориентироваться в меню устройства, а подсказки облегчат работу даже неопытному пользователю.
        p Есть двусторонняя печать и автоподача документов при сканировании
