.margin-bottom-6: img(src='./i/image.svg' alt='товар')
.grid-x.grid-padding-x.small-up-3.medium-up-4.large-up-6
    - n = 0
    while n < 6
        - n++
        .cell
            img.margin-bottom-6(src='./i/image.svg' alt=n)
