.grid-x.grid-padding-x
  .medium-12.cell
    .sect
      b Наличие:
      div
        | Магазин —
        span.shipment__num много
      div
        | Склад 1 —
        span.shipment__no нет
      div
        | Склад 2 —
        span.shipment__low мало
  .medium-12.cell
    .sect
      | #[i.fas.fa-truck] #[b Доставка]:
      div Самовывоз — 17.03.2016
      div Москва и МО — 18.03.2016 (Бесплатно)
      div Россия — 23.03.2016 (от 500 руб)
      div: a(href='#' title='') Тарифы и условия доставки
