.row
    .small-12.medium-6.column
        p
            b Наличие:
            br
            | Магазин —
            span.text-success &#160; много
            br
            | Склад 1 —
            span.text-medium-gray &#160; нет
            br
            | Склад 2 —
            span.text-alert &#160; мало
    .small-12.medium-6.column
        p
            | #[i.fa.fa-truck] #[b Доставка]:
            br
            | Самовывоз — 17.03.2016
            br
            | Москва и МО — 18.03.2016 (Бесплатно)
            br
            | Россия — 23.03.2016 (от 500 руб)
            br
            a(href='#' title='') Тарифы и условия доставки