#no-size-popup.reveal.small(data-reveal)
    h4 Этого цвета сейчас нет. Сообщить о появлении?
    form.search
      input.search__input.search__input_border(type='email' placeholder='На e-mail')
      .search__cont
        button.button.button_secondary.button_input(type='button') Сообщить
    include ../common/_close
