.sect.show-for-small-only
  span.button-group.expanded
    +button
      span.button.button_light-gray.button_expanded(data-toggle='menu-left')
        i.fas.fa-lg.fa-bars.picture
        | Навигация
    +button    
      span.button.button_light-gray.button_expanded(data-toggle='filter-left')
        i.fas.fa-lg.fa-filter.picture
        | Фильтр
.side#menu-left(data-toggler='.hide-for-small-only')
  ul.partners
    li.partners__item: a(href='#').partners__link Всё для сада
    li.partners__item: a(href='#').partners__link.partners__link_active Ручной инструмент
    li.partners__item: a(href='#').partners__link Расходные материалы
    li.partners__item
      a(href='#').partners__link Инструменты
      ul.partners
        li.partners__item: a(href='#').partners__link Аккумуляторный инструмент
        li.partners__item: a(href='#').partners__link Гайковёрты
        li.partners__item: a(href='#').partners__link Краскопульты
    li.partners__item: a(href='#').partners__link Силовая техника

.hide-for-small-only#filter-left(data-toggler='.hide-for-small-only')
  +accordion
    li.accordion-item.is-active(data-accordion-item)
      a.accordion-title(href='#') Цена, руб
      .accordion-content(data-tab-content)
        +slider(0,1000)
    li.accordion-item(data-accordion-item)
      a.accordion-title(href='#') Мощность, W
      .accordion-content(data-tab-content)
        +step('до 100')
        +step('100-500')
        +step('500-2000')
        +step('больше 2000')
    
    li.accordion-item(data-accordion-item)
      a.accordion-title(href='#') Цвет
      .accordion-content(data-tab-content)
        +step('Красный')
        +step('Синий')
        +step('Зеленый')
        +step('Белый')
        +step('Черный')
    
    li.accordion-item(data-accordion-item)
      a.accordion-title(href='#') Бренд
      .accordion-content(data-tab-content)
        +step('Красный')
        +step('Синий')
        +step('Зеленый')
        +step('Белый')
        +step('Черный')
  +button('<i class="fas fa-filter fa-lg picture"></i>Подобрать','button_expanded')
  +button('<i class="fas fa-ban fa-lg picture"></i>Сбросить фильтр','button_light-gray button_expanded')
    
