ul
    li: a(href='shop-index.html') Главная
    li: a(href='shop-product.html') Продукт
    li: a(href='shop-catalog.html') Список продуктов плиткой
    li: a(href='shop-catalog-lines.html') Список продуктов строками
    li: a(href='shop-cart.html') Корзина
    li: a(href='shop-regular.html') Текстовая рядовая
    li: a(href='shop-compare.html') Сравнение
    li: a(href='shop-wishlist.html') Любимые товары
    li: a(href='shop-user-login.html') Авторизация
    li: a(href='shop-user-registration.html') Регистрация
    li: a(href='shop-user-recover.html') Восстановление пароля
    li: a(href='shop-user-personal.html') Личный кабинет
    li: a(href='shop-user-edit.html') Редактирование персональных данных
    li: a(href='shop-order-make.html') Оформление заказа
    li: a(href='shop-order-confirmation.html') Завершение заказа
    li: a(href='shop-orders.html') Список заказов
    li: a(href='shop-order.html') Страница заказа
    li: a(href='shop-support.html') Ваши вопросы
    li: a(href='shop-search-text.html') Результаты текстового поиска
    li: a(href='shop-search-catalog.html') Результаты поиска по товарам
    li: a(href='shop-error.html') Страница ошибки
    li: a(href='shop-sitemap.html') Карта сайта