.padding-top-4.padding-bottom-2.text-size-small.background-black
    .grid-container: .grid-x.grid-padding-x
        .small-12.medium-6.large-4.cell.medium-order-2
            .padding-bottom-2.text-left.medium-text-right
                span.text-secondary.show-for-small-only(data-responsive-toggle='responsive-menu', data-hide-for='medium')
                    i.fa.fa-bars.fa-lg(data-toggle)
                    | &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='#', data-toggle='location').text-secondary
                    strong
                        i.fa.fa-globe.fa-lg
                        | &nbsp;
                        | Ярославская область
                        | &nbsp;
                        i.fa.fa-caret-down.fa-lg
        .small-12.medium-6.large-8.cell.medium-order-1
            .padding-bottom-2#responsive-menu
                ul.menu-top
                    each title in ['Доставка', 'Оплата', 'Контакты', 'Помощь']
                        li.menu-top__item
                            a.menu-top__link(href='#')= title

.grid-container: .grid-x.grid-padding-x
    .cell.small-12.large-9.large-offset-3
        .dd(id='location', data-toggler='.dd_show')
            .dd__content.callout
                .grid-container: .grid-x.grid-padding-x.small-up-2.medium-up-4.large-up-4
                    .cell
                        ul
                            each title in ['Москва и область', 'Санкт-Петербург и область', 'Алтайский край', 'Амурская область', 'Архангельская область', 'Астраханская область', 'Белгородская область', 'Брянская область', 'Владимирская область', 'Волгоградская область', 'Вологодская область', 'Воронежская область', 'Еврейская автономная область', 'Забайкальский край', 'Ивановская область', 'Иркутская область', 'Калининградская область', 'Калужская область', 'Камчатский край', 'Кемеровская область', 'Кировская область', 'Кисловодск']
                                li
                                    a(href='#'): small= title
                    .cell
                        ul
                            each title in ['Костромская область', 'Краснодарский край', 'Красноярский край', 'Курганская область', 'Курская область', 'Липецкая область', 'Магаданская область', 'Мурманская область', 'Н.Новгород и область', 'Набережные Челны', 'Новгородская область', 'Новокузнецк', 'Новосибирская область', 'Омская область', 'Оренбургская область', 'Орловская область', 'Пензенская область', 'Пермский край', 'Приморский край', 'Псковская область', 'Республика Адыгея', 'Республика Алтай']
                                li
                                    a(href='#'): small= title
                    .cell
                        ul
                            each title in ['Республика Башкортостан', 'Республика Бурятия', 'Республика Дагестан', 'Республика Ингушетия', 'Республика Кабардино-Балкария', 'Республика Калмыкия', 'Республика Карачаево-Черкесия', 'Республика Карелия', 'Республика Коми', 'Республика Марий Эл', 'Республика Мордовия', 'Республика Саха (Якутия)', 'Республика Северная Осетия', 'Республика Татарстан', 'Республика Тыва', 'Республика Хакасия', 'Ростовская область', 'Рязанская область', 'Самарская область', 'Саратовская область', 'Сахалинская область', 'Свердловская область']
                                li
                                    a(href='#'): small= title
                    .cell
                        ul
                            each title in ['Смоленская область', 'Сочи', 'Ставропольский край', 'Сызрань', 'Тамбовская область', 'Тверская область', 'Тольятти', 'Томская область', 'Тульская область', 'Тюменская область', 'Удмуртская Республика', 'Ульяновская область', 'Хабаровский край', 'Ханты-Мансийский АО', 'Челябинская область', 'Череповец', 'Чеченская Республика', 'Чувашская Республика', 'Чукотский АО', 'Ямало-Ненецкий АО', 'Ярославская область']
                                li
                                    a(href='#'): small= title