mixin cities(city="Ярославль")
  .overlay
  .cities-general
    span#cities-select.cities-select
      i.fas.fa-map-marker-alt.fa-lg
      |  #{city}
    #cities-container.cities-container
      .cities-main-window
        .cities-main-window-inner
          span.cities-main-window-inner-title
            | Выберите город
          .cities-main-window-inner-search
            input#searchCities(type='text', name='searchCities', placeholder='Начните вводить город')
          #main-window-close.cities-container-close
            i.fas.fa-times.text-secondary
        #cities-main-window-list.cities-main-window-list.clearfix
          a.cities-main-window-list-link(data-id='168', href='https://vladimir.ceteralabs.ru')  Владимир 
          a.cities-main-window-list-link(data-id='174', href='https://vologda.ceteralabs.ru')  Вологда 
          a.cities-main-window-list-link(data-id='249', href='https://dzerzhinsk.ceteralabs.ru')  Дзержинск 
          a.cities-main-window-list-link(data-id='330', href='https://ivanovo.ceteralabs.ru')  Иваново 
          a.cities-main-window-list-link(data-id='359', href='https://kaluga.ceteralabs.ru')  Калуга 
          a.cities-main-window-list-link(data-id='403', href='https://kineshma.ceteralabs.ru')  Кинешма 
          a.cities-main-window-list-link(data-id='452', href='https://kostroma.ceteralabs.ru')  Кострома 
          a.cities-main-window-list-link(data-id='604', href='https://moskva.ceteralabs.ru')  Москва 
          a.cities-main-window-list-link(data-id='646', href='https://nizhny-novgorod.ceteralabs.ru')  Нижний Новгород 
          a.cities-main-window-list-link(data-id='814', href='https://rybinsk.ceteralabs.ru')  Рыбинск 
          a.cities-main-window-list-link(data-id='874', href='https://smolensk.ceteralabs.ru')  Смоленск 
          a.cities-main-window-list-link(data-id='944', href='https://tambov.ceteralabs.ru')  Тамбов 
          a.cities-main-window-list-link(data-id='1049', href='https://cherepovec.ceteralabs.ru')  Череповец 
          a.cities-main-window-list-link(data-id='1111', href='https://yaroslavl.ceteralabs.ru')  Ярославль 
    #cities-container-region.cities-container-region
      .cities-container-region-inner
        span.cities-container-region-inner-city
          | Ваш город — 
          strong  Ярославль? 
        .expanded.button-group.button-cities-group
          input#button-ok.button.button-cities-yes(type='button', value='Да')
          input#button-another.button.quaternary.button_quaternary(type='button', value='Другой город')
