.content
    .row.column
        h2 Наши клиенты
        p &nbsp;
        .row.small-up-2.medium-up-4.large-up-6.text-center
            .column
                p: img(src='./images/image.svg', style='width:100px;height:75px;background:#FEF141;', alt='1')
            .column
                p: img(src='./images/image.svg', style='width:100px;height:75px;background:#FEF141;', alt='1')
            .column
                p: img(src='./images/image.svg', style='width:100px;height:75px;background:#FEF141;', alt='1')
            .column
                p: img(src='./images/image.svg', style='width:100px;height:75px;background:#FEF141;', alt='1')
            .column
                p: img(src='./images/image.svg', style='width:100px;height:75px;background:#FEF141;', alt='1')
            .column
                p: img(src='./images/image.svg', style='width:100px;height:75px;background:#FEF141;', alt='1')