.row.margin-rows.column
    h2 Наши клиенты
    .row.column.margin-block
    .row.small-up-2.medium-up-4.large-up-6
        .column
            img(src='http://www.fastsite.ru/_layout/i/clients/henkel.png')
        .column
            img(src='http://www.fastsite.ru/_layout/i/clients/gazprom.png')
        .column
            img(src='http://www.fastsite.ru/_layout/i/clients/loko.png')
        .column
            img(src='http://www.fastsite.ru/_layout/i/clients/yamaha.png')
        .column
            img(src='http://www.fastsite.ru/_layout/i/clients/navicon.png')
        .column
            img(src='http://www.fastsite.ru/_layout/i/clients/r-style.png')