.bg-header
    .row
        .large-12.columns
            .top-bar
                .top-bar-title
                    strong Cetera
                .top-bar-left
                    ul.menu
                        li
                            a(href='#') О компании
                        li
                            a(href='#') Контактная информация
                        li
                            a(href='#') Сообщить об ошибке
                .top-bar-right
                    ul.menu
                        li
                            a(href='#')
                                i.fi.fi-social-twitter
                        li
                            a(href='#')
                                i.fi.fi-social-facebook
                        li
                            a(href='#')
                                i.fi.fi-social-linkedin