.bg-header
    .row
        .large-12.columns
            .top-bar
                .top-bar-title
                    span(data-responsive-toggle='responsive-menu', data-hide-for='medium')
                        span.menu-icon.light(data-toggle='')
                    strong Cetera
                #responsive-menu
                    .top-bar-left
                        ul.dropdown.menu(data-dropdown-menu='')
                            li
                                a(href='#') Сайты
                                ul.menu.vertical
                                    li
                                        a(href='#') Магазины
                                    li
                                        a(href='#') Мобильные
                                    li
                                        a(href='#') CRM
                                    li
                                        a(href='#') Порталы
                                    li
                                        a(href='#') Лендинги
                                    li
                                        a(href='#') Смотреть всё →
                            li
                                a(href='#') Семинары
                            li
                                a(href='#') Конверсия
                            li
                                a(href='#') Реклама
                    .top-bar-right
                        ul.menu
                            li
                                input(type='search', placeholder='Введите слова для поиска')
                            li
                                button.button.border-button(type='button ') Поиск