.row.column.margin-rows
    h2 Новости компании
    a(href='#', data-reveal-id='#1') Все новости
    .row.column.margin-block
    .row.small-up-1.medium-up-2.large-up-3(data-equalizer='news', data-equalize-by-row='true')
        .column
            .callout.news-card(data-equalizer-watch='news')
                .news-card-image
                    img(src='https://d13yacurqjgara.cloudfront.net/users/43762/screenshots/2356645/open-uri20151117-3-1ln2uog')
                h4
                    a(href='#') Приняли на комплексное обслуживание новый сайт
                p
                    | Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет- магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
                a(href='#') Подробнее ›
        .column
            .callout.news-card(data-equalizer-watch='news')
                .news-card-image
                    img(src='https://d13yacurqjgara.cloudfront.net/users/410907/screenshots/2356757/tram_boarding.gif')
                h4
                    a(href='#') Приняли на комплексное обслуживание новый сайт
                p
                    | Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет- магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
                a(href='#') Подробнее ›
        .column
            .callout.news-card(data-equalizer-watch='news')
                .news-card-image
                    img(src='https://d13yacurqjgara.cloudfront.net/users/172672/screenshots/2355911/handyman-app.png')
                h4
                    a(href='#') Приняли на комплексное обслуживание новый сайт
                p
                    | Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет- магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
                a(href='#') Подробнее ›
        .column
            .callout.news-card(data-equalizer-watch='news')
                .news-card-image
                    img(src='https://d13yacurqjgara.cloudfront.net/users/11431/screenshots/2356461/img_6291.jpg')
                h4
                    a(href='#') Приняли на комплексное обслуживание новый сайт
                p
                    | Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет- магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
                a(href='#') Подробнее ›
        .column
            .callout.news-card(data-equalizer-watch='news')
                .news-card-image
                    img(src='https://d13yacurqjgara.cloudfront.net/users/538067/screenshots/2356195/800.gif')
                h4
                    a(href='#') Разработаем несколько интернет- магазинов по продаже сантехники
                p
                    | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
                a(href='#') Подробнее ›
        .column
            .callout.news-card(data-equalizer-watch='news')
                .news-card-image
                    img(src='https://d13yacurqjgara.cloudfront.net/users/374494/screenshots/2356777/markiza_e-commerce.png')
                h4
                    a(href='#') Приняли на комплексное обслуживание новый сайт
                p
                    | Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет- магазинов по продаже сантехники.
                a(href='#') Подробнее ›
.row.column
    include ./_pagination