ul.pagination(role='navigation', aria-label='Pagination')
    li.pagination-previous.disabled Previous
    li.current
        span.show-for-sr You're on page
        |  1
    li
        a(href='#', aria-label='Page 2') 2
    li
        a(href='#', aria-label='Page 3') 3
    li
        a(href='#', aria-label='Page 4') 4
    li.ellipsis
    li
        a(href='#', aria-label='Page 12') 12
    li
        a(href='#', aria-label='Page 13') 13
    li.pagination-next
        a(href='#', aria-label='Next page') Next