.content
    .row.small-up-1.medium-up-3.large-up-3(data-equalizer='services' data-equalize-on='medium')
        .column
            .callout.text-center(data-equalizer-watch='services')
                p
                    img(src='./images/image.svg', alt='Сверхскорость', style='background:#0c75bc;width:100px;height:100px;')
                h4 Сверхскорость
                p
                    | Используем готовую к установке Cetera CMS. Откроем первую версию сайта в течение 3 дней. Привлечем клиентов сразу.
        .column
            .callout.text-center(data-equalizer-watch='services')
                p
                    img(src='./images/image.svg', alt='Отличное качество', style='background:#0c75bc;width:100px;height:100px;')
                h4 Отличное качество
                p
                    | Откроем сайт в индивидуальном дизайне. Напишем тексты. Используем совместимые технологии. Обеспечим исполнение стандартов.
        .column
            .callout.text-center(data-equalizer-watch='services')
                p
                    img(src='./images/image.svg', alt='Равная цена', style='background:#0c75bc;width:100px;height:100px;')
                h4 Равная цена
                p
                    | Окажем услуги за одинаковую абонентскую плату на всех этапах сотрудничества. Откроем первую версию сайта еще до первого платежа. Откроем первую версию сайта еще до первого платежа.
