.row.margin-rows
    .large-4.columns
        .service.radius
            .service-icon-box
                img.service-icon(src='./icons/speed.svg', alt='')
            h4.service-heading Сверхскорость
            p.service-description
                | Используем готовую к установке Cetera CMS. Откроем первую версию сайта в течение 3 дней. Привлечем клиентов сразу.
    .large-4.columns
        .service.radius
            .service-icon-box
                img.service-icon(src='./icons/good.svg', alt='')
            h4.service-heading Отличное качество
            p.service-description
                | Откроем сайт в индивидуальном дизайне. Напишем тексты. Используем совместимые технологии. Обеспечим исполнение стандартов.
    .large-4.columns
        .service.radius
            .service-icon-box
                img.service-icon(src='./icons/cashback.svg', alt='')
            h4.service-heading Равная цена
            p.service-description
                | Окажем услуги за одинаковую абонентскую плату на всех этапах сотрудничества. Откроем первую версию сайта еще до первого платежа.