h2 Новости
.grid-container: .grid-x.grid-padding-x(data-equalizer='news-tile', data-equalize-by-row='true')
 .small-24.large-8.medium-8.cell.news-tile(data-equalizer-watch='news-tile')
  .news-tile__block
   img(src='./images/news-first.png' alt='news')
 .small-24.large-8.medium-8.cell.news-tile(data-equalizer-watch='news-tile')
  .news-tile__block
   img(src='./images/news-second.png' alt='news')
 .small-24.large-8.medium-8.cell.news-tile(data-equalizer-watch='news-tile')
  .news-tile__block
   img(src='./images/news-third.png' alссссссссссссссссt='news')