h2 Новости
.grid-container: .grid-x.grid-padding-x(data-equalizer='news', data-equalize-by-row='true')
 .small-24.large-8.medium-8.news(data-equalizer-watch='news')
  .news__block
   .news__date 05.09.2018
   img(src='./images/news-first.png' alt='news')
   a.news__title(href='#' title='Заголовок') Заголовок новости
   .news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
   a.news__more(href'#' title='Подробнее') Подробнее
   span   &raquo;
 .small-24.large-8.medium-8.news(data-equalizer-watch='news')
   .news__block
    .news__date 08.09.2018
    img(src='./images/news-second.png' alt='news')
    a.news__title(href='#' title='Заголовок') Заголовок новости
    .news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.news__more(href'#' title='Подробнее') Подробнее
    span   &raquo;
 .small-24.large-8.medium-8.news(data-equalizer-watch='news')
   .news__block
    .news__date 12.09.2018
    img(src='./images/news-third.png' alt='news')
    a.news__title(href='#' title='Заголовок') Заголовок новости
    .news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    a.news__more(href'#' title='Подробнее') Подробнее
    span   &raquo;
 a.news__button(href="#" title='news') Все новости
