mixin advice(title)
  h5
    a(href='#', title='')= title
  .sect.sect_rect Ваше обращение зарегистрировано в книге учёта обращений граждан отдела №2 УМВД России по городу…
  .sect
    a(href='#') Прочитать
      i.fas.fa-long-arrow-alt-right.canv
