.grid-container
    .grid-x.grid-padding-x
        .cell.large-12.large-offset-6
            ul.pagination
                li
                    a(href='#' title='') &laquo;
                li.current
                    a.current(href='#' title='') 1
                li
                    a(href='#' title='') 2
                li
                    a(href='#' title='') 3
                li
                    a(href='#' title='') 4
                li
                    a(href='#' title='') 5
                li
                    a(href='#' title='') &raquo;