.breadcrumbs {
  margin-top: 12*$global-margin;
  margin-bottom: 6*$global-margin;


  li {
    font-weight: bold;
    font-size: 16px;
    text-transform: none;
    font-family: "Lato", sans-serif;
  }

  a {
    color: $secondary-color;
  }

  & li:not(:last-child)::after {
    color: $black;
    position: relative;
    margin: 0 rem-calc(10);
    opacity: 1;
    content: "/";
  }
}