.x-carousel-services.carousel-services.padding-top-12.background-main
    .carousel-services__item
        .grid-container: .grid-x.grid-padding-x
            .medium-10.cell.show-for-medium
                img(src='./i/photo.svg', style='', alt='1')
            .medium-12.medium-offset-2.cell.align-self-middle
                h2 Абонентское обслуживание
                .margin-bottom-6 Удобный для клиентов формат обслуживания. Все услуги &mdash; по единой фиксированной цене. Часто &mdash; нулевая стоимость сайта до открытия.
                a.button.secondary.radius(href='#') Узнать больше &nbsp;
                    i.fas.fa-long-arrow-alt-right
    .carousel-services__item
        .grid-container: .grid-x.grid-padding-x
            .medium-10.cell.show-for-medium
                img(src='./i/photo.svg', style='', alt='2')
            .medium-12.medium-offset-2.cell.align-self-middle
                h2 Быстрый старт
                .margin-bottom-6 Откроем сайт в индивидуальном дизайне за 3 дня. Используем Cetera CMS и методологию запуска собственного авторства.
                a.button.secondary.radius(href='#') Узнать больше &nbsp;
                    i.fas.fa-long-arrow-alt-right
    .carousel-services__item
        .grid-container: .grid-x.grid-padding-x
            .medium-10.cell.show-for-medium
                img(src='./i/photo.svg', style='', alt='3')
            .medium-12.medium-offset-2.cell.align-self-middle
                h2 Сайт и клиенты
                .margin-bottom-6 Откроем сайт. Обеспечим поддержкой и развитием. Привлечем покупателей. Конвертируем в заявки. Организуем продажи.
                a.button.secondary.radius(href='#') Узнать больше &nbsp;
                    i.fas.fa-long-arrow-alt-right