.content
    .grid-container: .grid-x.grid-padding-x
        .small-12.large-7.cell
            h2 События компании
            article
                h4.margin-bottom-2
                    span.label.primary
                        i.fa.fa-calendar-o
                        strong &nbsp; 27.02.2017
                    | &nbsp;
                    a(href='#' title='') Приняли на комплексное обслуживание новый сайт
                .margin-bottom-6 Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».

            hr.margin-bottom-6
            article
                h4.margin-bottom-2
                    span.label.primary
                        i.fa.fa-calendar-o
                        strong &nbsp; 27.02.2017
                    | &nbsp;
                    a(href='#' title='') Приняли на комплексное обслуживание новый сайт
                .margin-bottom-6 Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
            hr.margin-bottom-6
            article
                h4.margin-bottom-2
                    span.label.primary
                        i.fa.fa-calendar-o
                        strong &nbsp; 27.02.2017
                    | &nbsp;
                    a(href='#' title='') Приняли на комплексное обслуживание новый сайт
                .margin-bottom-6 Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
            hr.margin-bottom-6.hide-for-large
        .small-12.large-4.cell.large-offset-1
            h2 Календарь событий
            include ../common/_calendar