.content
    .row
        .small-12.large-8.columns
            h2 События компании
            article
                .small-12.medium-3.columns.text-center
                    .date
                        .date__day 27
                        .date__month 02.2015
                .small-12.medium-9.columns
                    h4: a(href='#') Приняли на комплексное обслуживание новый сайт
                    p
                        | Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
            hr
            p
            article
                .small-12.medium-3.columns.text-center
                    .date
                        .date__day 27
                        .date__month 02.2015
                .small-12.medium-9.columns
                    h4: a(href='#') Приняли на комплексное обслуживание новый сайт
                    p
                        | Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
            hr
            p
            article
                .small-12.medium-3.columns.text-center
                    .date
                        .date__day 27
                        .date__month 02.2015
                .small-12.medium-9.columns
                    h4: a(href='#') Приняли на комплексное обслуживание новый сайт
                    p
                        | Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
        .small-12.large-4.columns
            p.hide-for-large &nbsp;
            h2 Календарь событий
            include ../common/_calendar