.content
    .grid-container: .grid-x.grid-padding-x
        .small-12.medium-6.large-3.large-order-1.cell
            h4 Адрес офиса
            p Проспект Ленина, дом 25, 6 этаж, офис 606 (Адрес для курьера)
        .small-12.medium-6.large-3.large-order-4.cell
            h4 Почтовый адрес
            p ООО «Цетера Лабс» Куда: 150040, г.Ярославль, п/о 40, а/я 62
        .small-12.medium-6.large-3.large-order-2.cell
            h4 Телефоны
            h5: a(href='tel:+74999184357' title='') +7 (499) 918-43-57
            p
                | Новые Клиенты — нажмите «0» Текущие Клиенты — добавочные и мобильные телефоны проектных менеджеров
            h5: a(href='tel:+79051345191' title='') +7 (905) 134-51-91
            p Резервный круглосуточный номер для действительно самых экстренных ситуаций
        .small-12.medium-6.large-3.large-order-3.cell
            h4 Email
            h5
                a(href='mailto:welcome@ceteralabs.ru' title='') welcome@ceteralabs.ru
            p Для новых Клиентов
            h5
                a(href='mailto:support@ceteralabs.ru' title='') support@ceteralabs.ru
            p Для текущих Клиентов
            h5
                a(href='mailto:hr@ceteralabs.ru' title='') hr@ceteralabs.ru
            p Для кандидатов в коллеги
