.grid-container: .grid-x.grid-padding-x: .cell
  h2 Мы на связи
.grid-container.info: .grid-x.grid-padding-x(data-equalizer data-equalize-by-row="true")
  .large-14.cell
    +assist
  .large-4.large-offset-2.small-12.cell
    +manager()
  .large-4.small-12.cell
    +manager('Мария Свешникова','Менеджер по маркетингу')
