.background-black.padding-top-8.padding-bottom-4
    .grid-container: .grid-x.grid-padding-x: .cell
        ul.menu-base
            each title in ['Сайт', 'Магазин', 'Интернет-СМИ', 'Реклама', 'Мобильные', 'Обучение', 'Конверсия']
                li.menu-base__item
                    a.menu-base__link(href='#')= title
    .grid-container: .grid-x.grid-padding-x: .cell
        br
        hr.margin-bottom-6
    .grid-container: .grid-x.grid-padding-x.text-dark-gray
        .small-12.medium-8.cell
            .margin-bottom-6
                | &copy;&nbsp;
                a.text-light-gray(href='#') Cetera Labs
                |, 2002–2016
                br
                | Создание сайта &mdash;
                a.text-light-gray(target='_blank', href='http://cetera.ru/') Cetera Labs
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a.text-light-gray(target='_blank', href='http://www.cetera.ru/support/default.php?project=CCD&lang=ru&page=http://wireframes.cetera.ru/boilerplate/') Сообщить об ошибке
        .small-12.medium-4.cell.text-center.medium-text-right
            .margin-bottom-6
                a(href='#')
                    img(src='./i/image.svg', style='width: 300px; height: 50px; background: #8a8a8a', alt='logo')