.content
    .row.column
        h2 Мы на связи
    .row
        .small-12.large-7.columns
            form(method='post', data-abide='', novalidate='novalidate')
                .row
                    .small-12.medium-4.columns
                        label Ваше имя
                    .small-12.medium-8.columns
                        input(type='text', placeholder='Ваше имя', required='')
                        p.help-text Поле обязательно для заполнения
                .row
                    .small-12.medium-4.columns
                        label Email
                    .small-12.medium-8.columns
                        input(type='email', placeholder='username@address.com', required='')
                        p.help-text Введите ваш электронный адрес
                .row
                    .small-12.medium-4.columns
                        label Чем мы можем помочь?
                    .small-12.medium-8.columns
                        textarea(placeholder='Введите ваше сообщение')
                .row
                    .small-12.medium-8.medium-offset-4.columns
                        button.radius.button(type='submit')
                            | Отправить сообщение &nbsp;
                            i.fa.fa-envelope-o.fa-lg
        .large-2.large-offset-1.small-6.columns.text-center
            p.hide-for-large &nbsp;
            .mb-1
                img(src='./i/image.svg', alt='1', style='max-width: 150px')
            h5.mb-0-25 Алена Ратникова
            h6.mb-0-5
                | Менеджер
                br
                | по продажам
            .mb-1
                a(href='#', title='').fa-stack.fa-lg.text-vk
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-vk.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-twi
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-fb
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
        .large-2.small-6.columns.text-center
            p.hide-for-large &nbsp;
            .mb-1
                img(src='./i/image.svg', alt='2', style='max-width: 150px')
            h5.mb-0-25 Мария Свешникова
            h6.mb-0-5
                | Менеджер
                br
                | по маркетингу
            .mb-1
                a(href='#', title='').fa-stack.fa-lg.text-vk
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-vk.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-twi
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-fb
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse