.content(style='background-image: url("./i/image.svg"); background-color: #65318F; background-size: 100% 100%;')
    .grid-container: .grid-x.grid-padding-x.content__promo: .cell.align-self-middle
        h2.text-white Абонентское обслуживание
        p.text-white
            | Удобный для клиентов формат обслуживания. Все услуги — по единой фиксированной цене.
            br
            | Часто — нулевая стоимость сайта до открытия.
        p.text-white
            a.button(href='#') Узнайте стоимость сайта &nbsp;<i class="fa fa-long-arrow-right"></i>