.background-primary.padding-vertical-20
    .grid-container
        .grid-x.grid-padding-x
            .cell.medium-14.align-self-middle
                h2.text-white Абонентское обслуживание
                p.text-white
                    | Удобный для клиентов формат обслуживания. Все услуги — по единой фиксированной цене.
                    br
                    | Часто — нулевая стоимость сайта до открытия.
                p
                    a.button.secondary(href='#') Узнайте стоимость сайта &nbsp;<i class="fa fa-long-arrow-right"></i>
            .cell.medium-8.medium-offset-2.show-for-medium
                img(src='./i/photo.svg' style='width: 100%;')