.promo
  .grid-container
    .grid-x.grid-padding-x
      .cell.medium-14.align-self-middle
        h2 Абонентское обслуживание
        p
          | Удобный для клиентов формат обслуживания. Все услуги — по единой фиксированной цене.
          br
          | Часто — нулевая стоимость сайта до открытия.
        p
          a.button.button_secondary(href='#') Узнайте стоимость сайта <i class="fas fa-long-arrow-alt-right canv"></i>
      .cell.medium-8.medium-offset-2.show-for-medium
        img(src='./i/photo.svg' alt="").promo__img
