.content
    .row.small-up-1.medium-up-3.large-up-3(data-equalizer='services' data-equalize-on='medium')
        .column
            .callout.text-center(data-equalizer-watch='services')
                br
                .mb-1
                    img(src='./i/image.svg', alt='Сверхскорость', style='background:#0c75bc;width:100px;height:100px;')
                h4.mb-0-5 Сверхскорость
                .mb-1
                    | Используем готовую к установке Cetera CMS. Откроем первую версию сайта в течение 3 дней. Привлечем клиентов сразу.
        .column
            .callout.text-center(data-equalizer-watch='services')
                br
                .mb-1
                    img(src='./i/image.svg', alt='Отличное качество', style='background:#0c75bc;width:100px;height:100px;')
                h4.mb-0-5 Отличное качество
                .mb-1
                    | Откроем сайт в индивидуальном дизайне. Напишем тексты. Используем совместимые технологии. Обеспечим исполнение стандартов.
        .column
            .callout.text-center(data-equalizer-watch='services')
                br
                .mb-1
                    img(src='./i/image.svg', alt='Равная цена', style='background:#0c75bc;width:100px;height:100px;')
                h4.mb-0-5 Равная цена
                .mb-1
                    | Окажем услуги за одинаковую абонентскую плату на всех этапах сотрудничества. Откроем первую версию сайта еще до первого платежа. Откроем первую версию сайта еще до первого платежа.
