.grid-container: .grid-x.grid-padding-x.medium-up-3(data-equalizer='services' data-equalize-on='medium')
  .cell
    +services('Сверхскорость','services')
  .cell
    +services('Отличное качество','services')
      | Откроем сайт в индивидуальном дизайне. Напишем тексты. Используем совместимые технологии. Обеспечим исполнение стандартов.
  .cell
    +services('Равная цена','services')
      | Окажем услуги за одинаковую абонентскую плату на всех этапах сотрудничества. Откроем первую версию сайта еще до первого платежа. Откроем первую версию сайта еще до первого платежа.
    
          
