.padding-top-12.padding-bottom-6
    .grid-container: .grid-x.grid-padding-x.small-up-1.medium-up-3(data-equalizer='services' data-equalize-on='medium')
        .cell
            .background-main.radius.text-center.padding-6.margin-bottom-6(data-equalizer-watch='services')
                br
                .margin-bottom-6
                    img(src='./i/photo.svg' alt='Сверхскорость' style='max-width:7rem')
                h4.margin-bottom-3 Сверхскорость
                .margin-bottom-6
                    | Используем готовую к установке Cetera CMS. Откроем первую версию сайта в течение 3 дней. Привлечем клиентов сразу.
        .cell
            .background-main.radius.text-center.padding-6.margin-bottom-6(data-equalizer-watch='services')
                br
                .margin-bottom-6
                    img(src='./i/photo.svg' alt='Отличное качество' style='max-width:7rem')
                h4.margin-bottom-3 Отличное качество
                .margin-bottom-6
                    | Откроем сайт в индивидуальном дизайне. Напишем тексты. Используем совместимые технологии. Обеспечим исполнение стандартов.
        .cell
            .background-main.radius.text-center.padding-6.margin-bottom-6(data-equalizer-watch='services')
                br
                .margin-bottom-6
                    img(src='./i/photo.svg' alt='Равная цена' style='max-width:7rem')
                h4.margin-bottom-3 Равная цена
                .margin-bottom-6
                    | Окажем услуги за одинаковую абонентскую плату на всех этапах сотрудничества. Откроем первую версию сайта еще до первого платежа. Откроем первую версию сайта еще до первого платежа.
