.content
    .grid-container: .grid-x.grid-padding-x.small-up-1.medium-up-3.large-up-3(data-equalizer='services' data-equalize-on='medium')
        .cell
            .callout.text-center(data-equalizer-watch='services')
                br
                .margin-bottom-6
                    img(src='./i/image.svg', alt='Сверхскорость', style='background:#0c75bc;width:100px;height:100px;')
                h4.margin-bottom-3 Сверхскорость
                .margin-bottom-6
                    | Используем готовую к установке Cetera CMS. Откроем первую версию сайта в течение 3 дней. Привлечем клиентов сразу.
        .cell
            .callout.text-center(data-equalizer-watch='services')
                br
                .margin-bottom-6
                    img(src='./i/image.svg', alt='Отличное качество', style='background:#0c75bc;width:100px;height:100px;')
                h4.margin-bottom-3 Отличное качество
                .margin-bottom-6
                    | Откроем сайт в индивидуальном дизайне. Напишем тексты. Используем совместимые технологии. Обеспечим исполнение стандартов.
        .cell
            .callout.text-center(data-equalizer-watch='services')
                br
                .margin-bottom-6
                    img(src='./i/image.svg', alt='Равная цена', style='background:#0c75bc;width:100px;height:100px;')
                h4.margin-bottom-3 Равная цена
                .margin-bottom-6
                    | Окажем услуги за одинаковую абонентскую плату на всех этапах сотрудничества. Откроем первую версию сайта еще до первого платежа. Откроем первую версию сайта еще до первого платежа.
