ul
    li: a(href='corp-index.html') Главная
    li: a(href='corp-regular.html') Рядовая
    li: a(href='corp-form.html') Форма
    li: a(href='corp-search.html') Результаты поиска
    li: a(href='corp-error.html') Страница ошибки
    li: a(href='corp-sitemap.html') Карта сайта