ul
    li: a(href='corp-index.html' title='') Главная
    li: a(href='corp-regular.html' title='') Рядовая
    li: a(href='corp-contacts.html' title='') Контакты
    li: a(href='corp-form.html' title='') Форма
    li: a(href='corp-search.html' title='') Результаты поиска
    li: a(href='corp-error.html' title='') Страница ошибки
    li: a(href='corp-sitemap.html' title='') Карта сайта