a(href='#' title='').soc.fa-layers.fa-fw.soc_fb
  i.fas.fa-circle(data-fa-transform="grow-3")
  i.fab.fa-facebook-f.fa-inverse(data-fa-transform="shrink-6")
= ' '
a(href='#' title='').soc.fa-layers.fa-fw.soc_twi
  i.fas.fa-circle(data-fa-transform="grow-3")
  i.fab.fa-twitter.fa-inverse(data-fa-transform="shrink-6")
= ' '
a(href='#' title='').soc.fa-layers.fa-fw.soc_vk
  i.fas.fa-circle(data-fa-transform="grow-3")
  i.fab.fa-vk.fa-inverse(data-fa-transform="shrink-6")
