.contacts
  .grid-container: .grid-x.grid-padding-x
    .small-24.large-9.cell.medium-order-2
      .contacts__info
        span.contacts__menu(data-responsive-toggle='responsive-menu', data-hide-for='medium')
          span(data-toggle): i.fas.fa-bars.fa-lg
        a(href='tel:+71234567890').contacts__link
          i.fas.fa-phone.contacts__icon
          | +7 123 456-78-90
        a(href='mailto:support@cetera.ru').contacts__link
          i.far.fa-envelope.contacts__icon
          | support@cetera.ru
        a(href='#' title='' data-toggle='search').contacts__search: i.fas.fa-lg.fa-search
    .small-24.large-15.cell.medium-order-1
      .contacts__cab#responsive-menu
        ul.menu-top
          each title in ['Контакты', 'Узнайте цены', 'Личный кабинет']
            li.menu-top__item
              a.menu-top__link(href='#')= title
  

.grid-container: .grid-x.grid-padding-x
  .small-24.large-10.large-offset-14.cell
    .dd(id='search' data-toggler='.dd_show')
      .dd__content.dd__content_new
        form(action='#' method='post' data-abide='', novalidate='novalidate')
          .input-group
            input.input-group-field(type='text', placeholder='Поиск')
            .input-group-button
              button.button.primary(type='submit', name='Найти')
                i.fas.fa-search.fa-inverse
