.padding-top-4.padding-bottom-2.text-size-small.background-primary
    .grid-container: .grid-x.grid-padding-x
        .small-24.large-8.cell.medium-order-2
            .padding-bottom-2.text-left.large-text-right
                span.text-white.hide-for-medium(data-responsive-toggle='responsive-menu', data-hide-for='medium')
                    i.fa.fa-bars.fa-lg(data-toggle)
                    | &nbsp;&nbsp;&nbsp;
                a(href='tel:+71234567890').text-white
                    strong
                        i.fa.fa-phone.fa-lg.hide-for-small-only
                        | &nbsp; +7 123 456-78-90
                | &nbsp;&nbsp;&nbsp;
                a(href='mailto:support@cetera.ru').text-white
                    strong
                        i.fa.fa-envelope-o.fa-lg.hide-for-small-only
                        | &nbsp; support@cetera.ru
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a(href='#' title='' data-toggle='search').text-white: i.fa.fa-lg.fa-search
        .small-24.large-16.cell.medium-order-1
            .padding-bottom-2#responsive-menu
                ul.menu-top
                    each title in ['Контакты', 'Узнайте цены', 'Личный кабинет']
                        li.menu-top__item
                            a.menu-top__link(href='#')= title
                .clearfix

.grid-container: .grid-x.grid-padding-x
    .small-24.large-10.large-offset-14.cell
        .dd(id='search' data-toggler='.dd_show')
            .dd__content.padding-6.background-main
                form(action='' method='post' data-abide='', novalidate='novalidate')
                    .input-group
                        input.input-group-field(type='text', placeholder='Поиск')
                        .input-group-button
                            button.button.primary(type='submit', name='Найти')
                                i.fa.fa-search.fa-inverse