.art {
  display: flex;
  flex-flow: row wrap;
  list-style-type:none;
  margin-left: rem-calc(0);


  &__item {
    &_active {
      padding: rem-calc(10 14);
      font-weight: 700;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    padding: rem-calc(10 14);
  }
}
