include _mixin-news-tile

.content
    .row
        .small-12.medium-8.columns
            h2 Свежие статьи
        .small-12.medium-4.columns.medium-text-right
            a.button(href='#') Все материалы &nbsp;
                i.fa.fa-long-arrow-right

    .row.small-up-1.medium-up-2.large-up-3(data-equalizer='news', data-equalize-by-row='true')
        +newsTile()
        +newsTile()
        +newsTile()
        +newsTile()
        +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники')
            p Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
        +newsTile()