.callout
    h3
        a.text-dark-gray(href='#', title='') Афиша

    p: span.label Кино
    p: img(src='./images/image.svg', alt='Изображение события', style='background:#999;width:100%;height:10rem;')
    p Название этого события в этом блоке афиши
        br
        span.text-gray 13.04.2016 19:00

    a.button.expanded(href='#', title='') Вся афиша
