.callout
    h3
        a.text-dark-gray(href='', title='') Консультации

    h4.subheader Полиция
    p Ваше обращение зарегистрировано в книге учёта обращений граждан отдела №2 УМВД России по городу…
    a.button.small(href='', title='') Прочитать
    hr

    h4.subheader Прокуратура
    p В летнее время действительно обостряются проблемы охраны территорий, на которых расположены садовые…
    a.button.small(href='', title='') Прочитать
    hr

    h4.subheader ГИБДД
    p Горизонтальная дорожная разметка на пересечении Карла Маркса и Краснознамённой нанесена в соответствии…
    a.button.small(href='', title='') Прочитать
    hr

    a.button.expanded(href='', title='') Все консультации