.footer
    .row.column
        ul.menu.simple
            li.menu-footer__item
                a.menu-footer__link(href='#') Экономика
            li.menu-footer__item
                a.menu-footer__link(href='#') Финансы
            li.menu-footer__item
                a.menu-footer__link(href='#') ТЭК
            li.menu-footer__item
                a.menu-footer__link(href='#') Интернет
            li.menu-footer__item
                a.menu-footer__link(href='#') Промышленность
            li.menu-footer__item
                a.menu-footer__link(href='#') Транспорт
            li.menu-footer__item
                a.menu-footer__link(href='#') Наука
            li.menu-footer__item
                a.menu-footer__link(href='#') ИТ и Медиа
            li.menu-footer__item
                a.menu-footer__link(href='#') Потребительские рынки
            li.menu-footer__item
                a.menu-footer__link(href='#') ВПК
            li.menu-footer__item
                a.menu-footer__link(href='#') Бренды
            li.menu-footer__item
                a.menu-footer__link(href='#') Спорт
            li.menu-footer__item
                a.menu-footer__link(href='#') Видео
            li.menu-footer__item
                a.menu-footer__link(href='#') Интервью
            li.menu-footer__item
                a.menu-footer__link(href='#') Пресс-релизы
            li.menu-footer__item
                a.menu-footer__link(href='#') Отставки и назначения
            li.menu-footer__item
                a.menu-footer__link(href='#') Мнения
        br
        hr
        br
    .row
        .small-12.medium-7.columns
            ul.vertical.large-horizontal.menu
                li: a.menu-footer__link(href="#") Редакция
                li: a.menu-footer__link(href="#") Реклама
                li: a.menu-footer__link(href="#") Медиакит
                li: a.menu-footer__link(href="#") Техподдержка
                li: a.menu-footer__link(href="#") Спецпроекты
        .small-12.medium-5.columns.text-gray
            p
                | &copy; Информационное агентство News Service, 2016 г.
                | Учредитель: ООО «Интернет Новости». Адрес: 115280, Москва, ул. Московская, д. 1
                | Свидетельство о регистрации СМИ Эл № ФФ07-12345 выдано федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 08.23.2015
    .row.column
        hr
        br
    .row
        .small-12.medium-7.columns
            img(src='./images/image.svg', style='width: 100px; height: 40px; background: #888', alt='counter')
            | &#160;
            img(src='./images/image.svg', style='width: 100px; height: 40px; background: #888', alt='counter')
            | &#160;
            img(src='./images/image.svg', style='width: 100px; height: 40px; background: #888', alt='counter')
        .small-12.medium-5.columns.text-dark-gray
            a(href='#', title='').fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x.footer__facebook-icon
                i.fa.fa-facebook.fa-stack-1x.fa-inverse
            a(href='#', title='').fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x.footer__twittwer-icon
                i.fa.fa-twitter.fa-stack-1x.fa-inverse
            a(href='#', title='').fa-stack.fa-lg
                i.fa.fa-circle.fa-stack-2x.footer__vk-icon
                i.fa.fa-vk.fa-stack-1x.fa-inverse