
.owl-theme {
  // Styling Next and Prev buttons
  .owl-nav {
    top: 0;
    width: 100%;
    height: 0;
    margin-top: 0;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    [class*='owl-'] {
      position: absolute;
      top: 50%;

      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      color: $nav-color;
      font-size: $nav-font-size;
      margin: $nav-margin;
      padding: $nav-padding;
      background: $nav-background;
      display: inline-block;
      cursor: pointer;
      @include rounded($nav-rounded);

      &:hover {
        background: $nav-background-hover;
        color: $nav-color-hover;
        text-decoration: none;
      }
    }
    .owl-prev {
      left: 1rem;
    }
    .owl-next {
      right: 1rem;
    }
    .disabled {
      opacity: $nav-disabled-opacity;
      cursor: default;
    }
  }

  // Styling dots
  .owl-nav.disabled + .owl-dots {
    margin-top: 2rem;
  }
  .owl-dots {
    margin-bottom: 2rem;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    .owl-dot {
      display: inline-block;
      zoom: 1;
      *display: inline;

      span {
        width: $dot-width;
        height: $dot-height;
        margin: $dot-margin;
        background: $dot-background;
        display: block;
        -webkit-backface-visibility: visible;
        @include transition(opacity, 200ms, ease);
        @include rounded($dot-rounded);
      }

      &.active,
      &:hover {
        span {
          background: $dot-background-active;
        }
      }
    }
  }
}

@media #{$small-only} {
  .owl-theme .owl-nav [class*='owl-'] {
    display: none !important;
  }
}