mixin commentAuthor()
    .media-object
        .media-object-section.show-for-large
            .thumbnail
                img(src='./images/image.svg', alt='Аватар', style='background:#bbb;width:45px;height:45px;')
        .media-object-section
            span.text-dark-gray Юзер Пользовательский, &nbsp; 11&nbsp;сентября 2015