mixin newsTile(title, dataEq)
  .cell.project
    .grid-x
      .cell.small-5.medium-24
        img(src='./i/photo.svg', alt='Новый сайт').project__img
      .cell.small-18.medium-24.small-offset-1.medium-offset-0
        h5.project__title(data-equalizer-watch=dataEq)
          if title
            a(href='smi-article.html')= title
          else
            a(href='smi-article.html') Приняли на комплексное обслуживание новый сайт
        a.project__cat(href='#') Экономика
    .project__text
      if block
        block
      else
        | Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
    a(href='smi-article.html') Читать
      i.fas.fa-long-arrow-alt-right.canv
