mixin productLine(discount, onDemand, inCart, inFavourites)
  .grid-x.grid-padding-x.duct
    .cell.small-8.medium-6
      .duct__img: img(src='./i/photo.svg' alt='Товар')
    .cell.small-16.medium-18
      .grid-x.grid-padding-x
        .cell.small-24.medium-14
          h5
            if discount
              span.label.label_action
                i.far.fa-star.picture
                | Акция
            a(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
          a.duct__cat(href='shop-catalog.html') Шуроповерты
        .cell.small-24.medium-10.large-8.large-offset-2
          if onDemand
            .duct__no Нет в наличии&nbsp;
          else
            .duct__price
              | 10&nbsp;250&nbsp;
              i.fas.fa-ruble-sign
            if discount
              .duct__old
                | 9&nbsp;750&nbsp;
                i.fas.fa-ruble-sign
      .grid-x.grid-padding-x
        .cell.small-24.medium-14.align-self-middle
          ul.hide-for-small-only
            li Гарантия: 1 год
            li Мощность: 1000W
            li Цвет: Красный
            li Страна: Китай
          .duct__info
            if !inFavourites
              a.duct__favor(data-open="add-to-favourites-auth-popup")
                i.far.fa-heart.picture
                | Запомнить

            else
              a.duct__favor(href='' title='Удалить из запомненных')
                i.fas.fa-heart.picture
                | Запомнено
            a.duct__favor(href='shop-compare.html' title='')
              i.fas.fa-balance-scale.picture
              | Сравнить
        .cell.small-24.medium-10.large-8.large-offset-2.align-self-bottom
          if onDemand
            .duct__info
              a(href='#' title='')
                i.far.fa-bell.picture
                | Заказать
          else
            .duct__info
              if inCart
                a(href='shop-cart.html' title='')
                  span.duct__favor
                    i.fas.fa-check.fa-lg.picture
                    | В корзине
              else
                a(href='shop-cart.html' title='').button.button_hollow
                  i.fas.fa-shopping-basket.picture
                  | Купить
