mixin eventTile(title, dataEq, light)
  .cell.event
    .event__block(data-equalizer-watch=dataEq class=light ? '' : 'event__block_main')
      .event__date 27.02.2017
      h6
        a(href='#' title='')= title
      .event__place
        i.fas.fa-map-marker-alt.picture
        | Москва,&nbsp;пр-кт Ленина, д. 1, 123
