mixin commentAuthor()
    .media-object.margin-bottom-3
        .media-object-section.show-for-large
            img(src='./i/image.svg', alt='Аватар', style='background:#bbb;width:45px;height:45px;')
        .media-object-section
            strong.text-secondary Юзер Пользовательский
            br
            i.text-dark-gray 11&nbsp;сентября 2015