.callback {
  height: 75px;

  &__input {
    height: 50px;
    box-shadow: inset 1px 1px 0.5px 0.5px #d7d7d7;
    text-transform: uppercase;
    font-size: 1.3rem;

    &::placeholder {
      color: $black;
    }
  }

  & span {
    color: $primary-color;
  }
  #span1 {
    position: relative;
    bottom: 56px;
    left: 120px;
    width: 1px
  }
  #span2 {
    position: relative;
    bottom: 56px;
    left: 200px;
    width: 1px
  }
}

