h2 Форма обратной связи
form
    .grid-x.grid-padding-x.grid-padding-y
        .small-24.medium-12.large-12.cell.callback
            input.callback__input(type="text" placeholder="ваше имя" required)
            span(id="1") *
        .small-24.medium-12.large-12.cell.callback
            input.callback__input(type="tel" placeholder="+7 (XXX) XXX XX XX" required)
        .small-24.medium-12.large-12.cell.callback
            input.callback__input(type="text" id="mail" placeholder="email" required)
        .small-24.medium-12.large-12.cell.callback
            input.callback__input(type="text" placeholder="тема" required)
        .cell.small-24.medium-6
            button.button(type="submit") Отправить