.callback {
  height: rem-calc(75);
  margin-right:rem-calc(8);

  &__form{
    padding-top:rem-calc(25);
    padding-bottom:rem-calc(49)
  }
  &__input {
    height: rem-calc(54);
    box-shadow: inset 1px 1px 0.5px 0.5px #d7d7d7;
    text-transform: uppercase;
    font-size: 1.3rem;
    width:rem-calc(400);

    &::placeholder {
      color: $black;
      padding-left: rem-calc(10);
      font-size: 1.1rem;
      letter-spacing: 0.04rem;
    }
  }

  & span {
    color: $primary-color;
  }
  #span1 {
    position: relative;
    bottom: 56px;
    left: 120px;
    width: 1px
  }
  #span2 {
    position: relative;
    bottom: 56px;
    left: 200px;
    width: 1px
  }
}
