h2 Форма обратной связи
form.callback
    .grid-x.grid-padding-x.grid-padding-y
        .small-24.medium-12.large-11.cell
            input(type="text" placeholder="ваше имя" required)
        .small-24.medium-12.large-11.cell.main-info__webform-size
            input(type="tel" placeholder="+7 (XXX) XXX XX XX" required)
        .small-24.medium-12.large-11.cell
            input(type="text" id="mail" placeholder="email" required)
        .small-24.medium-12.large-11
            input(type="text" placeholder="тема" required)
        .cell.small-24.medium-6
            button.button(type="submit") Отправить