form
    .row
        .small-12.medium-6.large-4.columns
            label: input(type='text', placeholder='Введите строку для поиска')
        .small-6.medium-3.large-2.columns
            select
                option(value='0') Где искать?
                option(value='1') Новости
                option(value='2') Форум
                option(value='3') Статьи
        .small-6.medium-3.large-2.columns.end
            input.button.expanded(type='button', value='Искать')
p Резульаты поиска 1-5 из 200
hr
p
- var n = 0
while n < 5
    h4
        a(href='#') «1С-Битрикс: Управление сайтом 15.5»: Скорость сайта &nbsp;
            = n
    p
        | ... ваш сайт? Взгляните на сайт глазами посетителей. Насколько быстро загружается ваш сайт? Можете ... зрения клиента - насколько быстро отображается сайт, насколько быстро откроется нужная ... Проверьте скорость собственного сайта! Увидеть сайт глазами посетителей! Новый облачный сервис ... Включите технологии «1С-Битрикс»: Композитный сайт Технология кеширования : автокеширование, html-кеширование ... композитной технологии Революционная технология «Композитный сайт» позволяет достичь невероятной скорости отклика ...
    p
        | Изменен: 12.05.2015
        br
        small
            | Путь:&nbsp;
            a(href='#') Главная
            | &nbsp;/&nbsp;
            a(href='#') Продукты
            | &nbsp;/&nbsp;
            a(href='#') Управление сайтом
            | &nbsp;/&nbsp;
            a(href='#') Что нового?
    hr
    p
    - n++
include ../_pagination