//- https://www.npmjs.com/package/gulp-useref
// build:js(./) js/lib.js type="text/javascript"
script(src='bower_components/jquery/dist/jquery.min.js', type='text/javascript')
//- script(src='bower_components/what-input/what-input.min.js', type='text/javascript')
script(src='bower_components/foundation-sites/dist/foundation.min.js', type='text/javascript')
script(src='bower_components/owl.carousel/dist/owl.carousel.min.js', type='text/javascript')
// endbuild
// build:js(./) js/app.js type="text/javascript"
script(src='src/js/app.js', type='text/javascript')
// endbuild