doctype html
html.no-js(lang='ru')
    include components/service/_head
    body
        include components/corporate/_top-line
        include components/corporate/_header

        block page
            include components/corporate/_carousel-main
            include components/corporate/_services
            include components/corporate/_promo-line
            include components/corporate/_projects
            include components/corporate/_carousel-services
            include components/common/_news-tiles
            include components/corporate/_events
            include components/corporate/_clients

        .grid-container: hr
        include components/corporate/_footer-form
        include components/corporate/_footer
        include components/service/_js
