extends corp-regular
block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Калькулятор комплексного обслуживания
    .padding-top-12.padding-bottom-6
        .grid-container: .grid-x.grid-padding-x: .cell
            include components/common/_form
