extends corp-index

block page
  +breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .cell
      h1 Заголовок новости h1
    
    .grid-container.info: .grid-x.grid-padding-x
      .cell.medium-14.large-16
        p: img(src="./i/photo.svg")
        .sect.sect_date 1 января 2018
        hr
        include components/common/_text
      .cell.medium-10.large-8
        +object(['Приняли на комплексное обслуживание новый сайт', 'Разработаем несколько интернет-магазинов по продаже сантехники', 'Приняли на комплексное обслуживание новый сайт', 'Серверная защита', 'Приняли на комплексное обслуживание новый сайт', 'Разработаем несколько интернет-магазинов по продаже сантехники'])
        +object
        +object(['Приняли на комплексное обслуживание новый сайт'])
        +button('Все новости<i class="fas fa-long-arrow-alt-right canv"></i>')
