extends corp-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Контакты
  .info
    .grid-container: .grid-x.grid-padding-x
      .small-24.medium-12.cell
        p
          b Адрес офиса
          br
          | 150040, Россия, г. Ярославль, проспект Ленина, дом 25, 6 этаж, офис 603

        p
          b Круглосуточная служба поддержки
          br
          | Для Москвы: +7 (905) 134-51-91
          br
          | Для регионов: +7 (499) 918-43-57

        p
          b Электронная почта:
          br
          a(href='#', title='') welcome@ceteralabs.ru

      .small-24.medium-12.cell
        .map
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6344.32377020446!2d37.57639787499114!3d55.79224500973831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549f0c1269c0b%3A0x4236b28a4521323!2z0YPQuy4g0J3QuNC20L3Rj9GPINCc0LDRgdC70L7QstC60LAsIDgsINCc0L7RgdC60LLQsCwgMTI3MjIw!5e0!3m2!1sru!2sru!4v1467010638187" allowfullscreen)
