extends corp-index

block page
  include components/common/_breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .cell
      .error Ошибка 404
      h1 Cтраница не найдена
    .info
      .grid-container: .grid-x.grid-padding-x
        .cell.small-24.medium-20.large-16
          include components/common/_404
