doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    include ../blocks/foundation/callout/_callout
    include ../blocks/foundation/button/_button
    include ../blocks/foundation/pagination/_pagination
    include ../blocks/foundation/close-button/_close-button
    include ../blocks/foundation/breadcrumbs/_breadcrumbs

    include ../blocks/general/contacts/_contacts
    include ../blocks/general/cat/_cat
    include ../blocks/general/dd/_dd
    include ../blocks/general/promo/_promo
    include ../blocks/general/project/_project
    include ../blocks/general/news/_news
    include ../blocks/general/step/_step
    include ../blocks/general/side/_side
    include ../blocks/general/partners/_partners
    include ../blocks/general/share/_share
    include ../blocks/general/carousel-main/_carousel-main

    include ../blocks/corp/carousel-services/_carousel-services
    include ../blocks/corp/services/_services
    include ../blocks/corp/event/_event
    include ../blocks/corp/client/_client
    include ../blocks/corp/assist/_assist
    include ../blocks/corp/manager/_manager
    include ../blocks/corp/object/_object
    include ../blocks/corp/switch/_switch
    

    include components/corporate/_top-line
    include components/corporate/_header

    block page
      +carousel-main
      include components/corporate/_services
      +promo
      include components/corporate/_projects
      +carousel-services
      include components/common/_news-tiles
      include components/corporate/_events
      include components/corporate/_clients

    .grid-container: hr
    include components/corporate/_footer-form
    include components/corporate/_footer
    include components/service/_js
