extends corp-index

block page
    include components/common/_breadcrumbs
    block content
        .grid-container: .grid-x.grid-padding-x: .cell
            h1 Заголовок события h1
        .padding-top-12.padding-bottom-6
            .grid-container: .grid-x.grid-padding-x
                .cell.small-24.medium-10.large-8.medium-order-2
                    .padding-6.margin-bottom-6.radius.background-main
                        .text-size-xxlarge.text-secondary.margin-bottom-3 1-3 января 2018
                        .text-size-large.margin-bottom-6
                            i.fa.fa-map-marker
                            strong &nbsp;&nbsp;Ярославль,&nbsp;
                            | пр-кт Ленина, д. 1, офис 123
                        a(href="mailto:support@cetera.ru").button.secondary.expanded.margin-bottom-0
                            i.fa.fa-envelope-o
                            | &nbsp;Записаться
                .cell.small-24.medium-14.large-16.medium-order-1
                    include components/common/_text