extends corp-index

block page
  +breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .cell
      h1 Заголовок события h1
    .info.grid-container: .grid-x.grid-padding-x
      .cell.medium-10.large-8.medium-order-2
        +side
      .cell.medium-14.large-16.medium-order-1
        include components/common/_text
