extends corp-regular
block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 События
  .grid-container.info: .grid-x.grid-padding-x: .cell
    +button('Предстоящие','picture')
    +button('Прошедшие','button_light-gray')
    div(data-equalizer='title', data-equalize-by-row='true'): .grid-x.grid-padding-x.medium-up-2.large-up-4(data-equalizer='events', data-equalize-by-row='true')
      +event('Приняли на комплексное обслуживание новый сайт', 'events')
      +event('Подписан договор с компанией ООО «Ценнер-Водоприбор Лтд» на SEO продвижение сайта', 'events')
      +event('Приняли на комплексное обслуживание новый сайт', 'events')
      +event('Подписан договор с компанией ООО «Ценнер-Водоприбор Лтд» на SEO продвижение сайта', 'events')
      +event('Подписан договор на разработку сайта с РПК «Престо»', 'events')
      +event('Cetera подписали договор с компанией «ТЕЛЕПЛАСТ» на разработку корпоративного сайта', 'events')
      +event('Подписан договор на разработку сайта с РПК «Престо»', 'events')
      +event('Cetera подписали договор с компанией «ТЕЛЕПЛАСТ» на разработку корпоративного сайта', 'events')
      +event('Приняли на комплексное обслуживание новый сайт', 'events')
      +event('Подписан договор с компанией ООО «Ценнер-Водоприбор Лтд» на SEO продвижение сайта', 'events')
      +event('Приняли на комплексное обслуживание новый сайт', 'events')
      +event('Подписан договор с компанией ООО «Ценнер-Водоприбор Лтд» на SEO продвижение сайта', 'events')
      +event('Подписан договор на разработку сайта с РПК «Престо»', 'events')
      +event('Cetera подписали договор с компанией «ТЕЛЕПЛАСТ» на разработку корпоративного сайта', 'events')
      +event('Подписан договор на разработку сайта с РПК «Престо»', 'events')
      +event('Cetera подписали договор с компанией «ТЕЛЕПЛАСТ» на разработку корпоративного сайта', 'events')
    +pagination
