doctype html
html.no-js(lang='ru')
    include components/service/_head
    body
        include components/corporate/_top-line
        include components/corporate/_header

        block page
            include components/corporate/_carousel-main
            include components/corporate/_services
            include components/corporate/_promo-line
            include components/corporate/_projects
            include components/corporate/_carousel-services
            .grid-container: .grid-x.grid-padding-x: .cell: hr
            include components/corporate/_events
            .grid-container: .grid-x.grid-padding-x: .cell: hr
            include components/common/_news-tiles
            .grid-container: .grid-x.grid-padding-x: .cell: hr
            include components/corporate/_clients

        .grid-container: .grid-x.grid-padding-x: .cell: hr
        include components/corporate/_footer-form
        .grid-container: .grid-x.grid-padding-x: .cell: hr
        //-include components/through/_footer-map
        //-.grid-x.grid-padding-x: .cell: hr
        include components/corporate/_footer-contacts
        include components/corporate/_footer
        include components/service/_js
