doctype html
html.no-js(lang='en')
    include components/service/_head
    body
        include components/corporate/_top-line
        include components/corporate/_header

        block page
            include components/corporate/_carousel-main
            include components/corporate/_services
            include components/corporate/_promo-line
            include components/corporate/_projects
            include components/corporate/_carousel-services
            .row: .column: hr
            include components/corporate/_events
            .row: .column: hr
            include components/common/_news-tiles
            .row: .column: hr
            include components/corporate/_clients

        .row: .column: hr
        include components/corporate/_footer-form
        .row: .column: hr
        //-include components/through/_footer-map
        //-.row: .column: hr
        include components/corporate/_footer-contacts
        include components/corporate/_footer
        include components/service/_js.html
