extends corp-regular

block content
    .row.column
        h1 Контакты
    .content
        .row
            .small-12.medium-6.columns
                p
                    b Адрес офиса
                    br
                    | 115114, Россия, Москва, ул. Летниковская, д.10, стр.5.

                p
                    b Круглосуточная служба поддержки
                    br
                    | Для Москвы: 8 (495) 134-00-40
                    br
                    | Для регионов: 8 (800) 333-23-59

                p
                    b Департамент по закупкам:
                    br
                    a(href='#', title='') purchase@classylook.ru

            .small-12.medium-6.columns
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6344.32377020446!2d37.57639787499114!3d55.79224500973831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549f0c1269c0b%3A0x4236b28a4521323!2z0YPQuy4g0J3QuNC20L3Rj9GPINCc0LDRgdC70L7QstC60LAsIDgsINCc0L7RgdC60LLQsCwgMTI3MjIw!5e0!3m2!1sru!2sru!4v1467010638187" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen)
                br
                br
