extends corp-index

block page
    include components/common/_breadcrumbs
    block content
        .vert
          .vert__slide(style='background-image: url("http://lorempixel.com/output/abstract-q-c-1920-580-8.jpg");')
            .row
              .large-4.medium-6.medium-offset-6.columns.large-offset-5.vert__info
                .vert__align
                  h2 Сложная заказная
                  p Автоматизируем продажи, маркетинг и сервис с помощью CRM-систем.
                  a(href="#").button Войти
          .vert__slide(style='background-image: url("http://lorempixel.com/output/abstract-q-c-1920-580-8.jpg");')
            .row
              .large-4.medium-6.medium-offset-6.columns.large-offset-5.vert__info
                .vert__align
                  h2 Сложная заказная разработка
                  p Автоматизируем продажи, маркетинг и сервис с помощью CRM-систем.
                  a(href="#").button Войти
          .vert__slide(style='background-image: url("http://lorempixel.com/output/abstract-q-c-1920-580-8.jpg");')
            .row
              .large-4.medium-6.medium-offset-6.columns.large-offset-5.vert__info
                .vert__align
                  h2 Сложная заказная разработка
                  p Автоматизируем продажи, маркетинг и сервис с помощью CRM-систем.
                  p Автоматизируем продажи, маркетинг и сервис с помощью CRM-систем.
                  a(href="#").button Войти
          .vert__slide(style='background-image: url("http://lorempixel.com/output/abstract-q-c-1920-580-8.jpg");')
            .row
              .large-4.medium-6.medium-offset-6.columns.large-offset-5.vert__info
                .vert__align
                  h2 Сложная заказная разработка
                  p Автоматизируем продажи, маркетинг и сервис с помощью CRM-систем.
                  p Автоматизируем продажи, маркетинг и сервис с помощью CRM-систем.
                  a(href="#").button Войти
      
        .row.column
            h1 Заголовок страницы h1
        .content
            .row
                .columns.small-12.medium-5.large-4.medium-push-7.large-push-8
                    include components/common/_sidebar
                .columns.small-12.medium-7.large-8.medium-pull-5.large-pull-4
                    include components/common/_text
        
