extends corp-index

block page
  include components/common/_breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .cell
      h1 Заголовок новости h1
    .info
      .grid-container: .grid-x.grid-padding-x
        .cell.small-24.medium-14.large-16
          p: img(src="./i/photo.svg")
          .date 1 января 2018
          hr.hr
          include components/common/_text
        .cell.small-24.medium-10.large-8
          each title in ['Приняли на комплексное обслуживание новый сайт', 'Разработаем несколько интернет-магазинов по продаже сантехники', 'Приняли на комплексное обслуживание новый сайт', 'Серверная защита', 'Приняли на комплексное обслуживание новый сайт', 'Разработаем несколько интернет-магазинов по продаже сантехники']
            .object.grid-x.grid-padding-x
              .cell.shrink
                a(href="#"): img(src="./i/photo.svg").object__img
              .cell.auto
                a(href="#")= title
            hr.hr
              
          .media-object.margin-bottom-6
            .media-object-section.main-section.padding-0
              a(href="#") Разработаем несколько интернет-магазинов по продаже сантехники
          hr.hr
          .media-object.margin-bottom-6
            .media-object-section
              a(href="#"): img(src="./i/photo.svg" style="width: 5rem")
            .media-object-section.main-section.padding-0
              a(href="#") Разработаем несколько интернет-магазинов по продаже сантехники
          hr.hr
          a(href="#").button Все новости<i class="fas fa-long-arrow-alt-right canv"></i>
