doctype html
html.no-js(lang='ru')
  include components/_head
  body

    include ../blocks/cat/_cat

    include components/_header

    block page
      include ../blocks/carousel-main/_carousel-main
      include ../blocks/breadcrumbs/_breadcrumbs
      include ../blocks/advantages/_advantages
      include ../blocks/recipes/_recipes
      include ../blocks/feedback-form/_feedback-form
      include components/_footer

    include components/_js
