extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Каталог
  .info.grid-container: .grid-x.grid-padding-x
    .cell.medium-8.large-6
      include components/shop/_sidebar
    .cell.medium-16.large-18
      .grid-x.grid-padding-x
        .cell.auto.medium-shrink
          +button
            button.button.button_hollow.button_dropdown(data-toggle='sort-dropdown' data-position="bottom" data-alignment="left") По популярности
          #sort-dropdown.dropdown-pane(data-dropdown)
            +partners(['Сначала новинки','Сначала дешёвые','Сначала дорогие','По популярности','По рейтингу',])
        .cell.show-for-medium.auto
        .cell.shrink
          +button('<i class="fas fa-lg fa-balance-scale hide-for-medium-only"></i><span class="hide-for-small-only canv picture">Сравнить:</span>5','button_light-gray','shop-compare.html')
        .cell.medium-shrink
          .sect.hide-for-small-only
            span.button-group
              +button('<i class="fas fa-lg fa-th"></i>','button_light-gray','shop-catalog.html')
              +button('<i class="fas fa-lg fa-th-list"></i>','button_light-gray','shop-catalog-lines.html')
        

      block products
        .sect.grid-x.grid-padding-x.medium-up-2.large-up-3.xlarge-up-4(data-equalizer data-equalize-by-row="true")
          +prod('Комби-перфоратор Metabo KHE 2650', false)
          +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
          +prod('Лобзик Metabo STEB 65 Quick', false)
          +prod('Торцовочная пила Ryobi EMS254L', true)
          +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
          +prod('Лобзик Metabo STEB 65 Quick', false)
          +prod('Комби-перфоратор Metabo KHE 2650', false)
          +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
          +prod('Лобзик Metabo STEB 65 Quick', false)
          +prod('Торцовочная пила Ryobi EMS254L', true)
          +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
          +prod('Лобзик Metabo STEB 65 Quick', false)
          +prod('Комби-перфоратор Metabo KHE 2650', false)
          +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
          +prod('Лобзик Metabo STEB 65 Quick', false)
          +prod('Торцовочная пила Ryobi EMS254L', true)
          +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
          +prod('Лобзик Metabo STEB 65 Quick', false)
          +prod('Комби-перфоратор Metabo KHE 2650', false)
          +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
          +prod('Лобзик Metabo STEB 65 Quick', false)
          +prod('Торцовочная пила Ryobi EMS254L', true)
          +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
          +prod('Лобзик Metabo STEB 65 Quick', false)
      +pagination

  .grid-container: .grid-x.grid-padding-x: .cell: hr
  .info
    .grid-container: .grid-x.grid-padding-x: .cell
      h2 Вы смотрели
    include components/common/_line-products
