extends shop-index

block page
    include components/common/_breadcrumbs
    block content
        .grid-container: .grid-x.grid-padding-x: .cell
            h1 Заголовок страницы h1
        .content
            .grid-container: .grid-x.grid-padding-x
                .cell.small-12.medium-5.large-3
                    include components/common/_sidebar
                .cell.small-12.medium-7.large-9
                    include components/common/_text