extends shop-regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Персональный раздел
    .content
        .grid-container: .grid-x.grid-padding-x
            .cell.small-12.medium-4.large-3
                .margin-bottom-6.show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium'): span.button.light-gray.expanded(data-toggle)
                    i.fa.fa-lg.fa-bars
                    | &nbsp;Навигация
                .callout#menu-left
                    ul.menu.vertical
                        li: a(href='shop-user-personal.html' title='') Регистрационные данные
                        li.active: a(href='shop-user-edit.html' title='') Изменить данные о себе
                        li: a(href='shop-cart.html' title='') Корзина
                        li: a(href='shop-orders.html' title='') Список заказов
                        li: a(href='shop-wishlist.html' title='') Любимые товары
                        li: a(href='shop-user-personal.html' title='') Изменить подписку

            .cell.small-12.medium-8.large-9
                block personal
                    .callout.text-center
                        .margin-bottom-6.lead
                            = 'Ваш '
                            a(href='#' title='') заказ №123 от 30.06.2016
                            = ' подтверждён'

                        a.button(href='#' title='') Оплатить заказ

                    h2 Регистрационные данные
                    p
                        span.text-dark-gray Электронная почта:&nbsp;
                        | user@email.com
                    p
                        span.text-dark-gray Логин:&nbsp;
                        | user
                    p
                        span.text-dark-gray Имя:&nbsp;
                        | user
                    p
                        span.text-dark-gray Фамилия:&nbsp;
                        | user

                    hr
                    br

                    h2 Получать на электронную почту
                    form
                        label
                            input(type='checkbox' checked required disabled)
                            | Информацию о заказах
                        label
                            input(type='checkbox')
                            | Сообщения о наших акциях
                        label
                            input(type='checkbox')
                            | Сообщения про обновления ассортимента
                        button.button Сохранить