extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Оформление заказа
  .info.grid-container: .grid-x.grid-padding-x
    .cell.medium-16.large-18#order-container
      +callout
        h2 Товары в заказе
        +growth()
        hr
        +growth('Картридж совместимый SuperFine (SF-CN048AE) 951XL')
        
      +callout
        h2 Регион доставки
        fieldset
          .sect.sect_type Тип плательщика
          .sect.sect_dib: +radio('Физическое лицо','type')
          .sect.sect_dib: +radio('Юридическое лицо','type')
        
        label
          strong
            span *&nbsp;
            | Местоположение
          input(type='text')
        p.help-text Выберите свой город в списке. Если вы не нашли свой город, выберите "другое местоположение", а город впишите в поле "Город"
        label
          strong
            span *&nbsp;
            | Индекс
          input(type='text')
      +callout
        h2 Доставка
        .grid-x.grid-padding-x.medium-up-2.large-up-4(data-equalizer data-equalize-by-row="true")
          .cell
            +callout('',true)
              +radio('<i class="fas fa-lg fa-car callout__tag"></i><span class="label">0 <i class="fas fa-ruble-sign"></i></span>','delivery')
              span.callout__block Самовывоз
          .cell
            +callout('',true)
              +radio('<i class="fas fa-lg fa-truck callout__tag"></i><span class="label">500 <i class="fas fa-ruble-sign"></i></span>','delivery')
              span.callout__block Доставка курьером
        
        hr
        .grid-x.grid-padding-x
          .cell.medium-24.large-12
            +search('Применить купон',true)
              +button('<i class="fas fa-calculator picture fa-sm"></i>Пересчитать','button_input')
      .callout
        h2 Оплата
        .grid-x.grid-padding-x.medium-up-2.large-up-4(data-equalizer data-equalize-by-row="true")
          .cell
            +callout('',true)
              +radio('<i class="far fa-lg fa-money-bill-alt"></i>','payment')
              span.callout__block Наличными
          .cell
            +callout('',true)
              +radio("<img src='./images/shop/visa-dark.svg' alt='иконка' class='callout__icon' />",'payment')
              span.callout__block Банковские карты
          .cell
            +callout('',true)
              +radio("<img src='./images/sber.svg' alt='иконка' class='callout__icon' />",'payment')
              span.callout__block Квитанция Сбербанка
          .cell
            +callout('',true)
              +radio('<i class="fas fa-lg fa-terminal"></i>','payment')
              span.callout__block Терминалы
          .cell
            +callout('',true)
              +radio("<img src='./images/shop/ym.svg' alt='иконка' class='callout__icon' />",'payment')
              span.callout__block Яндекс.Деньги
          .cell
            +callout('',true)
              +radio('<i class="fas fa-lg fa-university"></i>','payment')
              span.callout__block Наложенный платеж
      .callout
        h2 Покупатель
        label
          strong
            span.sect.sect_primary *&nbsp;
            | ФИО
            input(type='text')
        label
          strong
            span.sect.sect_primary *&nbsp;
            | E-Mail
            input(type='text')
        label
          strong
            span.sect.sect_primary *&nbsp;
            | Телефон
            input(type='text')
        label
          strong
            span.sect.sect_primary *&nbsp;
            | Адрес доставки
            input(type='text')
        label
          strong
            span.sect.sect_primary *&nbsp;
            | Комментарий к заказу
            textarea
    .cell.medium-8.large-6
      include components/shop/_info-sticky
    .cell.medium-16.large-18.text-right
      +button('<i class="far fa-credit-card picture"></i>Оформить заказ','','shop-order-confirmation.html')
        
