extends shop-regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Регистрация
    .content
        .grid-container: .grid-x.grid-padding-x.align-center
            .cell.small-12.medium-8.large-6
                .success.callout
                    h5 Вы были успешно зарегистрированы!
                    p На вашу электронную почту отправлено письмо с подтверждением.
                .alert.callout
                    h5 При регистрации произошли следующие ошибки:
                    ul
                        li не заполнено поле Email
                        li пароль и его подтверждение не совпадают
                        li введен неверный код
                form(action='shop-user-personal.html')
                    label
                        | Имя
                        input(type='text')
                    label
                        | Фамилия
                        input(type='text')
                    label
                        | Логин*
                        input(type='text')
                    label
                        | Пароль*
                        input(type='password')
                    p.help-text Пароль должен быть не менее 6 символов длиной
                    label
                        | Подтверждение пароля*
                        input(type='password')
                    label
                        | Электронная почта*
                        input(type='email')
                    .grid-x.grid-padding-x
                        .cell.small-7.medium-8
                            label
                                | Введите код*
                                input(type='password')
                        .cell.small-5.medium-4
                            img(src='./i/image.svg' alt='Капча' style='width:100%;height:64px;')
                    .grid-x.grid-padding-x
                        .cell.small-1
                            input#checkbox1(type='checkbox')
                        .cell.small-11
                            label(for='checkbox1')
                                | Я ознакомлен и принимаю условия &nbsp;
                                a(href='shop-regular.html' title='') Соглашения об использовании сайта
                                |, в том числе в части обработки и использования моих персональных данных
                    br
                    button.button.small-expanded
                        | Регистрация &nbsp;
                        i.fa.fa-user-plus.fa-lg
                p * - Обязательные поля
                p
                    a(href='shop-user-login.html' title='') Авторизация