extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Корзина
  .info.grid-container: .grid-x.grid-padding-x: .cell
    .sect
      +button('Готовые к заказу','picture')
      +button('Отложенные','button_light-gray picture')
      +button('Очистить корзину','button_hollow')

    +offspring
    +offspring('Картридж совместимый SuperFine')
    +offspring

    .grid-x.grid-padding-x
      .cell.medium-12.large-8
        +search('№ купона на скидку',true)
          +button('<i class="fas fa-calculator picture"></i>Пересчитать','button_input')
            
    
      .cell.medium-12.large-16.medium-text-right
        div
          | Товаров на: 398.31&#160;
          i.fas.fa-ruble-sign
        div
          | НДС: 71.69&#160;
          i.fas.fa-ruble-sign
        .sect
          strong Итого: 470&#160;
            i.fas.fa-ruble-sign
    hr
    .text-right
      +button('<i class="far fa-credit-card picture"></i>Оформить заказ','','shop-order-make.html')
        
