extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Ваши вопросы
  .info.grid-container: .grid-x.grid-padding-x
    aside.medium-8.large-6.cell
      .show-for-small-only(data-responsive-toggle='menu-left', data-hide-for='medium')
        +button
          .button.button_expanded(data-toggle)
            i.fas.fa-lg.fa-bars.picture
            | Навигация
      .side#menu-left
        ul.partners
          li.partners__item
            a(href='#').partners__link Частые вопросы
          li.partners__item
            a(href='#').partners__link Оплата
          li.partners__item
            a(href='#').partners__link Доставка
          li.partners__item
            a(href='#').partners__link Условия возврата

    .medium-16.large-18.cell
      +accordion

  .grid-container: .grid-x.grid-padding-x: .cell
    hr
  .grid-container: .grid-x.grid-padding-x: .cell
    h2.text-center
      span.picture Нет нужного ответа?
      span.sect.sect_date Задайте свой вопрос
  .grid-container.info: .grid-x.grid-padding-x.align-center
    .medium-18.large-14.cell
      +callout
        form
          label Представьтесь
          input(type='text')

          label Ваш email *
            span.callout__quest для ответа вам на вопрос
          input(type='email')

          label Текст вопроса *
          textarea(rows='3')
          +button('Отправить вопрос')
        
