extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Оформление заказа
  .info
    .grid-container: .grid-x.grid-padding-x
      .cell.small-24.medium-16.large-18#order-container
        .callout
          h2 Товары в заказе
          include components/shop/_duct
          hr.hr
          include components/shop/_duct
          
        .callout
          h2 Регион доставки
          fieldset
            .info__type Тип плательщика
            .info__dib: +radio('Физическое лицо','type')
            .info__dib: +radio('Юридическое лицо','type')
          
          label
            strong
              span.text-primary *&nbsp;
              | Местоположение
            input(type='text')
          p.help-text Выберите свой город в списке. Если вы не нашли свой город, выберите "другое местоположение", а город впишите в поле "Город"
          label
            strong
              span.text-primary *&nbsp;
              | Индекс
            input(type='text')
        .callout
          h2 Доставка
          .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-4(data-equalizer data-equalize-by-row="true")
            .cell
              label.callout(data-equalizer-watch)
                input(type='radio' name='delivery')
                i.fas.fa-lg.fa-car.info__dark
                = ' '
                span.label
                  | 0
                  = ' '
                  i.fas.fa-ruble-sign
                br
                | Самовывоз
            .cell
              label.callout(data-equalizer-watch)
                input(type='radio' name='delivery')
                i.fas.fa-lg.fa-truck.info__dark
                = ' '
                span.label
                  | 500
                  = ' '
                  i.fas.fa-ruble-sign
                br
                | Доставка курьером
          hr.hr
          .grid-x.grid-padding-x
            .cell.small-24.medium-24.large-12.end
              .input-group
                input.input-group-field(type='text' placeholder='Применить купон')
                .input-group-button
                  button.button(type='button')
                    i.fas.fa-calculator
                    = ' '
                    | Пересчитать
        .callout
          h2 Оплата
          .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-4(data-equalizer data-equalize-by-row="true")
            .cell
              label.callout(data-equalizer-watch)
                input(type='radio' name='payment')
                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                br
                | Наличными
            .cell
              label.callout(data-equalizer-watch)
                input(type='radio' name='payment')
                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                br
                | Банковские карты
            .cell
              label.callout(data-equalizer-watch)
                input(type='radio' name='payment')
                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                br
                | Квитанция Сбербанка
            .cell
              label.callout(data-equalizer-watch)
                input(type='radio' name='payment')
                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                br
                | Терминалы
            .cell
              label.callout(data-equalizer-watch)
                input(type='radio' name='payment')
                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                br
                | Яндекс.Деньги
            .cell
              label.callout(data-equalizer-watch)
                input(type='radio' name='payment')
                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                br
                | Наложенный платеж
        .callout
          h2 Покупатель
          label
            strong
              span.text-primary *&nbsp;
              | ФИО
            input(type='text')
          label
            strong
              span.text-primary *&nbsp;
              | E-Mail
            input(type='text')
          label
            strong
              span.text-primary *&nbsp;
              | Телефон
            input(type='text')
          label
            strong
              span.text-primary *&nbsp;
              | Адрес доставки
            input(type='text')
          label
            strong
              span.text-primary *&nbsp;
              | Комментарий к заказу
            textarea
      .cell.small-24.medium-8.large-6
        div(data-sticky-container)
          .sticky.callout(data-sticky data-anchor="order-container" data-sticky-on="medium" style="width: 100%")
            .grid-x.grid-padding-x
              .cell.small-10: strong Товаров на
              .cell.small-14.text-right: strong
                | 500
                = ' '
                i.fas.fa-ruble-sign
            br
            hr.hr
            .grid-x.grid-padding-x
              .cell.small-10 НДС
              .cell.small-14.text-right
                | 90
                = ' '
                i.fas.fa-ruble-sign
              .cell.small-24: small: em 18%, включен в цену
            br
            hr.hr
            .grid-x.grid-padding-x
              .cell.small-10 Доставка
              .cell.small-14.text-right
                | 500
                = ' '
                i.fas.fa-ruble-sign
            br
            hr.hr
            .grid-x.grid-padding-x
              .cell.small-10: strong Итого
              .cell.small-14.text-right.text-size-xxlarge
                | 1000
                = ' '
                i.fas.fa-ruble-sign
      .cell.small-24.medium-16.large-18.end.text-right
        a.button(href='shop-order-confirmation.html')
          i.far.fa-credit-card
          = ' '
          | Оформить заказ
