extends shop-regular

block content
    .row.column
        h1 Любимые товары
    .content
        .row.column
            +productLine(false, 'onDemand', false, 'inFavourites')
            hr
            br
            +productLine(false, false, 'inCart', 'inFavourites')
            hr
            br
            +productLine('discount', false, false, 'inFavourites')
            hr
            br
            +productLine(false, 'onDemand', false, 'inFavourites')
            hr
            br
            +productLine(false, false, 'inCart', 'inFavourites')
            hr
            br
            +productLine('discount', false, false, 'inFavourites')
            hr
            br
            +productLine(false, 'onDemand', false, 'inFavourites')
            hr
            br
            +productLine(false, false, 'inCart', 'inFavourites')
            hr
            br
            +productLine('discount', false, false, 'inFavourites')
            p &nbsp;
            include components/common/_pagination