extends shop-regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Любимые товары
    .content
        .grid-container: .grid-x.grid-padding-x: .cell
            .margin-bottom-20
                +productLine(false, 'onDemand', false, 'inFavourites')
                hr.margin-bottom-10
                +productLine(false, false, 'inCart', 'inFavourites')
                hr.margin-bottom-10
                +productLine('discount', false, false, 'inFavourites')
                hr.margin-bottom-10
                +productLine(false, 'onDemand', false, 'inFavourites')
                hr.margin-bottom-10
                +productLine(false, false, 'inCart', 'inFavourites')
                hr.margin-bottom-10
                +productLine('discount', false, false, 'inFavourites')
                hr.margin-bottom-10
                +productLine(false, 'onDemand', false, 'inFavourites')
                hr.margin-bottom-10
                +productLine(false, false, 'inCart', 'inFavourites')
                hr.margin-bottom-10
                +productLine('discount', false, false, 'inFavourites')
            include components/common/_pagination