extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Персональный раздел
  .info.grid-container: .grid-x.grid-padding-x
    .cell.medium-8.large-6
      +side()
        +partners(['Регистрационные данные','Изменить данные о себе','Корзина','Список заказов','Любимые товары','Изменить подписку',])

    .cell.medium-16.large-18
      block personal
        +callout('text-center')
          .sect.sect_big
            = 'Ваш '
            a(href='#' title='') заказ №123 от 30.06.2016
            = ' подтверждён'
          +button('Оплатить заказ')

        h2 Регистрационные данные
        p
          span.sect.sect_time Электронная почта:&nbsp;
          | user@email.com
        p
          span.sect.sect_time Логин:&nbsp;
          | user
        p
          span.sect.sect_time Имя:&nbsp;
          | user
        p
          span.sect.sect_time Фамилия:&nbsp;
          | user

        hr

        h2 Получать на электронную почту
        form

          +step('Информацию о заказах',true)
          +step('Сообщения о наших акциях')
          +step('Сообщения про обновления ассортимента')
          +button('Сохранить')
