extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Любимые товары
  .grid-container: .grid-x.grid-padding-x: .cell
    +commodity(false, 'onDemand', false, 'inFavourites')
    hr
    +commodity(false, false, 'inCart', 'inFavourites')
    hr
    +commodity('discount', false, false, 'inFavourites')
    hr
    +commodity(false, 'onDemand', false, 'inFavourites')
    hr
    +commodity(false, false, 'inCart', 'inFavourites')
    hr
    +commodity('discount', false, false, 'inFavourites')
    hr
    +commodity(false, 'onDemand', false, 'inFavourites')
    hr
    +commodity(false, false, 'inCart', 'inFavourites')
    hr
    +commodity('discount', false, false, 'inFavourites')
  .info.grid-container 
    +pagination
