extends shop-regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Корзина
    .content
        .grid-container: .grid-x.grid-padding-x: .cell
            .margin-bottom-6
                a.button(href='#') Готовые к заказу
                = ' '
                a.button.light-gray(href='#') Отложенные

            .grid-x.grid-padding-x
                .cell.small-4.medium-2.large-2
                    img(src='./i/image.svg' alt='Товар').margin-bottom-6
                .cell.small-8.medium-4.large-4
                    h5.margin-bottom-3: a(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
                    ul.hide-for-small-only.hide-for-medium-only
                        li Гарантия: 1 год
                        li Мощность: 1000W
                        li Цвет: Красный
                        li Страна: Китай

                .cell.small-12.medium-4.large-5
                    .grid-x.grid-padding-x
                        .cell.small-6.medium-6.large-3
                            .margin-bottom-6
                                strong
                                    | 25 280&nbsp;
                                    i.fa.fa-rub
                                br
                                del.text-dark-gray
                                    | 27 150 &nbsp;
                                    i.fa.fa-rub
                        .cell.small-6.medium-6.large-4
                            input(type='number' value='1' min='1')
                        .cell.small-12.large-5
                            .margin-bottom-6
                                span.stat
                                    | 25 280&nbsp;
                                    i.fa.fa-rub
                .cell.small-12.medium-2.large-1
                    .margin-bottom-6
                        a(href='#'): small Удалить
                        = ' '
                        a(href='#'): small Отложить
            hr.margin-bottom-6
            .grid-x.grid-padding-x
                .cell.small-4.medium-2.large-2
                    img(src='./i/image.svg' alt='Товар').margin-bottom-6
                .cell.small-8.medium-4.large-4
                    h5.margin-bottom-3: a(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
                    ul.hide-for-small-only.hide-for-medium-only
                        li Гарантия: 1 год
                        li Мощность: 1000W
                        li Цвет: Красный
                        li Страна: Китай

                .cell.small-12.medium-4.large-5
                    .grid-x.grid-padding-x
                        .cell.small-6.medium-6.large-3
                            .margin-bottom-6
                                strong
                                    | 25 280&nbsp;
                                    i.fa.fa-rub
                                br
                                del.text-dark-gray
                                    | 27 150 &nbsp;
                                    i.fa.fa-rub
                        .cell.small-6.medium-6.large-4
                            input(type='number' value='1' min='1')
                        .cell.small-12.large-5
                            .margin-bottom-6
                                span.stat
                                    | 25 280&nbsp;
                                    i.fa.fa-rub
                .cell.small-12.medium-2.large-1
                    .margin-bottom-6
                        a(href='#'): small Удалить
                        = ' '
                        a(href='#'): small Отложить
            hr.margin-bottom-6
            .grid-x.grid-padding-x
                .cell.small-4.medium-2.large-2
                    img(src='./i/image.svg' alt='Товар').margin-bottom-6
                .cell.small-8.medium-4.large-4
                    h5.margin-bottom-3: a(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
                    ul.hide-for-small-only.hide-for-medium-only
                        li Гарантия: 1 год
                        li Мощность: 1000W
                        li Цвет: Красный
                        li Страна: Китай

                .cell.small-12.medium-4.large-5
                    .grid-x.grid-padding-x
                        .cell.small-6.medium-6.large-3
                            .margin-bottom-6
                                strong
                                    | 25 280&nbsp;
                                    i.fa.fa-rub
                                br
                                del.text-dark-gray
                                    | 27 150 &nbsp;
                                    i.fa.fa-rub
                        .cell.small-6.medium-6.large-4
                            input(type='number' value='1' min='1')
                        .cell.small-12.large-5
                            .margin-bottom-6
                                span.stat
                                    | 25 280&nbsp;
                                    i.fa.fa-rub
                .cell.small-12.medium-2.large-1
                    .margin-bottom-6
                        a(href='#'): small Удалить
                        = ' '
                        a(href='#'): small Отложить
            hr.margin-bottom-6
            .grid-x.grid-padding-x
                .cell.small-12.medium-6.large-4
                    .input-group
                        input.input-group-field(type='text' placeholder='№ купона на скидку')
                        .input-group-button
                            button.button(type='button')
                                i.fa.fa-calculator
                                = ' '
                                | Пересчитать
                .cell.small-12.medium-6.large-8.medium-text-right
                    .margin-bottom-6
                        | Товаров на: 398.31
                        = ' '
                        i.fa.fa-rub
                        br
                        | НДС: 71.69
                        = ' '
                        i.fa.fa-rub
                        br
                        strong Итого: 470
                            = ' '
                            i.fa.fa-rub
            hr.margin-bottom-6
            .margin-bottom-6.text-right
                a.button(href='shop-order-make.html')
                    i.fa.fa-credit-card
                    = ' '
                    | Оформить заказ
