extends shop-regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Корзина
    .padding-top-12.padding-bottom-6
        .grid-container: .grid-x.grid-padding-x: .cell
            .margin-bottom-6
                a.button(href='#') Готовые к заказу
                = ' '
                a.button.light-gray(href='#') Отложенные

            .grid-x.grid-padding-x
                .cell.small-8.medium-4.large-4
                    img(src='./i/photo.svg' alt='Товар').margin-bottom-6
                .cell.small-16.medium-8.large-8
                    h5.margin-bottom-3: a(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
                    ul.hide-for-small-only.hide-for-medium-only
                        li Гарантия: 1 год
                        li Мощность: 1000W
                        li Цвет: Красный
                        li Страна: Китай

                .cell.small-24.medium-8.large-10
                    .grid-x.grid-padding-x
                        .cell.small-12.medium-12.large-6
                            .margin-bottom-6
                                strong
                                    | 25 280&nbsp;
                                    i.fas.fa-ruble-sign
                                br
                                del.text-dark-gray
                                    | 27 150 &nbsp;
                                    i.fas.fa-ruble-sign
                        .cell.small-12.medium-12.large-8
                            input(type='number' value='1' min='1')
                        .cell.small-24.large-10
                            .margin-bottom-6
                                span.text-size-xxlarge
                                    | 25 280&nbsp;
                                    i.fas.fa-ruble-sign
                .cell.small-24.medium-4.large-2
                    .margin-bottom-6
                        a(href='#'): small Удалить
                        = ' '
                        a(href='#'): small Отложить
            hr.margin-bottom-6
            .grid-x.grid-padding-x
                .cell.small-8.medium-4.large-4
                    img(src='./i/photo.svg' alt='Товар').margin-bottom-6
                .cell.small-16.medium-8.large-8
                    h5.margin-bottom-3: a(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
                    ul.hide-for-small-only.hide-for-medium-only
                        li Гарантия: 1 год
                        li Мощность: 1000W
                        li Цвет: Красный
                        li Страна: Китай

                .cell.small-24.medium-8.large-10
                    .grid-x.grid-padding-x
                        .cell.small-12.medium-12.large-6
                            .margin-bottom-6
                                strong
                                    | 25 280&nbsp;
                                    i.fas.fa-ruble-sign
                                br
                                del.text-dark-gray
                                    | 27 150 &nbsp;
                                    i.fas.fa-ruble-sign
                        .cell.small-12.medium-12.large-8
                            input(type='number' value='1' min='1')
                        .cell.small-24.large-10
                            .margin-bottom-6
                                span.text-size-xxlarge
                                    | 25 280&nbsp;
                                    i.fas.fa-ruble-sign
                .cell.small-24.medium-4.large-2
                    .margin-bottom-6
                        a(href='#'): small Удалить
                        = ' '
                        a(href='#'): small Отложить
            hr.margin-bottom-6
            .grid-x.grid-padding-x
                .cell.small-8.medium-4.large-4
                    img(src='./i/photo.svg' alt='Товар').margin-bottom-6
                .cell.small-16.medium-8.large-8
                    h5.margin-bottom-3: a(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
                    ul.hide-for-small-only.hide-for-medium-only
                        li Гарантия: 1 год
                        li Мощность: 1000W
                        li Цвет: Красный
                        li Страна: Китай

                .cell.small-24.medium-8.large-10
                    .grid-x.grid-padding-x
                        .cell.small-12.medium-12.large-6
                            .margin-bottom-6
                                strong
                                    | 25 280&nbsp;
                                    i.fas.fa-ruble-sign
                                br
                                del.text-dark-gray
                                    | 27 150 &nbsp;
                                    i.fas.fa-ruble-sign
                        .cell.small-12.medium-12.large-8
                            input(type='number' value='1' min='1')
                        .cell.small-24.large-10
                            .margin-bottom-6
                                span.text-size-xxlarge
                                    | 25 280&nbsp;
                                    i.fas.fa-ruble-sign
                .cell.small-24.medium-4.large-2
                    .margin-bottom-6
                        a(href='#'): small Удалить
                        = ' '
                        a(href='#'): small Отложить
            hr.margin-bottom-6
            .grid-x.grid-padding-x
                .cell.small-24.medium-12.large-8
                    .input-group
                        input.input-group-field(type='text' placeholder='№ купона на скидку')
                        .input-group-button
                            button.button(type='button')
                                i.fas.fa-calculator
                                = ' '
                                | Пересчитать
                .cell.small-24.medium-12.large-16.medium-text-right
                    .margin-bottom-6
                        | Товаров на: 398.31
                        = ' '
                        i.fas.fa-ruble-sign
                        br
                        | НДС: 71.69
                        = ' '
                        i.fas.fa-ruble-sign
                        br
                        strong Итого: 470
                            = ' '
                            i.fas.fa-ruble-sign
            hr.margin-bottom-6
            .margin-bottom-6.text-right
                a.button(href='shop-order-make.html')
                    i.far.fa-credit-card
                    = ' '
                    | Оформить заказ
