extends shop-regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Восстановление пароля
    .content
        .grid-container: .grid-x.grid-padding-x.align-center
            .cell.small-12.medium-8.large-6
                p
                    |Если вы забыли пароль, введите логин или E-Mail.
                    br
                    | Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по E-Mail.
                form(action='shop-user-login.html')
                    label
                        | Введите либо ваш логин
                        input(type='text')
                    label
                        | Либо ваш email
                        input(type='email')
                    button.button.small-expanded
                        | Выслать контрольную строку &nbsp;
                        i.fa.fa-envelope-o.fa-lg
                p
                    a(href='shop-user-login.html', title='') Авторизация