extends shop-user-personal

block personal
    h2 Заказы
    .margin-bottom-6: a(href='#' title='') Посмотреть историю заказов
    h3 Заказы в статусе «Оплачен, формируется к отправке»

    .callout
        h4: a(href='shop-order.html' title='') Заказ №3 от 27.10.2016, 2 товара на сумму 4 398
            = ' '
            i.fa.fa-rub
        h5.text-dark-gray Оплата
        .margin-bottom-6
            strong Счет №3/1 от 27.10.2016, Наличные курьеру
            = ' '
            span.label.success Оплачено
            br
            | Сумма к оплате по счету: 4 398
            = ' '
            i.fa.fa-rub

        h5.text-dark-gray Доставка
        .margin-bottom-6
            strong Отгрузка №3/2, стоимость доставки 500
                = ' '
                i.fa.fa-rub
            = ' '
            span.label Не отгружено
            br
            | Статус отгрузки:
            = ' '
            span.label.light-gray Ожидает обработки
            br
            | Служба доставки: Доставка курьером
        hr.margin-bottom-6
        .grid-x.grid-padding-x
            .cell.small-12.medium-4
                a(href='shop-order.html' title='') Подробнее о заказе
            .cell.small-12.medium-8.medium-text-right
                a(href='#' title='')
                    i.fa.fa-undo
                    = ' '
                    | Повторить заказ
                = ' '
                a.text-dark-gray(href='#') Отменить заказ

    h3 Заказы в статусе «Принят, ожидается оплата»

    .callout
        h4: a(href='shop-order.html' title='') Заказ №6 от 27.10.2016, 2 товара на сумму 4 398
            = ' '
            i.fa.fa-rub
        h5.text-dark-gray Оплата
        .grid-x.grid-padding-x
            .cell.small-12.medium-8
                .margin-bottom-6
                    strong Счет №6/1 от 27.10.2016, Наличные курьеру
                    = ' '
                    span.label Не оплачено
                    br
                    | Сумма к оплате по счету: 4 398
                    = ' '
                    i.fa.fa-rub
                    br
                    a(href='#' title='') Сменить способ оплаты
            .cell.small-12.medium-4.medium-text-right
                .margin-bottom-6: a.button(href='#')
                    i.fa.fa-credit-card
                    = ' '
                    | Оплатить

        h5.text-dark-gray Доставка
        .margin-bottom-6
            strong Отгрузка №6/2, стоимость доставки 500
                = ' '
                i.fa.fa-rub
            = ' '
            span.label Не отгружено
            br
            | Статус отгрузки:
            = ' '
            span.label.light-gray Ожидает обработки
            br
            | Служба доставки: Доставка курьером
        hr.margin-bottom-6
        .grid-x.grid-padding-x
            .cell.small-12.medium-4
                a(href='shop-order.html' title='') Подробнее о заказе
            .cell.small-12.medium-8.medium-text-right
                a(href='#' title='')
                    i.fa.fa-undo
                    = ' '
                    | Повторить заказ
                = ' '
                a.text-dark-gray(href='#') Отменить заказ