extends shop-index

block page
    include components/common/_breadcrumbs
    block content
        .row: .column
            h1 Поиск
        .content
            .row: .column
                include components/common/_search