extends shop-index

block page
    include components/common/_breadcrumbs
    block content
        .row.column
            h1 Карта сайта
        .content
            .row
                .columns.small-12.medium-8.large-6.end
                    include components/shop/_sitemap