extends shop-catalog

block products
    +productLine(false,'onDemand')
    hr.hr
    +productLine(false,false,'inCart')
    hr.hr
    +productLine('discount')
    hr.hr
    +productLine(false,'onDemand')
    hr.hr
    +productLine(false,false,'inCart')
    hr.hr
    +productLine('discount')
    hr.hr
    +productLine(false,'onDemand')
    hr.hr
    +productLine(false,false,'inCart')
    hr.hr
    +productLine('discount')
