extends shop-index

block page
    include components/common/_breadcrumbs
    block content
        .grid-container: .grid-x.grid-padding-x: .cell
            h1 Поиск
        .content
            .grid-container: .grid-x.grid-padding-x: .cell
                include components/common/_search