extends shop-catalog

block products
    +commodity(false,'onDemand')
    hr
    +commodity(false,false,'inCart')
    hr
    +commodity('discount')
    hr
    +commodity(false,'onDemand')
    hr
    +commodity(false,false,'inCart')
    hr
    +commodity('discount')
    hr
    +commodity(false,'onDemand')
    hr
    +commodity(false,false,'inCart')
    hr
    +commodity('discount')
