extends shop-catalog

block products
    +productLine(false,'onDemand')
    hr
    br
    +productLine(false,false,'inCart')
    hr
    br
    +productLine('discount')
    hr
    br
    +productLine(false,'onDemand')
    hr
    br
    +productLine(false,false,'inCart')
    hr
    br
    +productLine('discount')
    hr
    br
    +productLine(false,'onDemand')
    hr
    br
    +productLine(false,false,'inCart')
    hr
    br
    +productLine('discount')