extends shop-user-personal

block personal
    form
        label Имя *
            input(type='text' required)

        label Фамилия
            input(type='text')

        label Электронная почта
            input(type='email')

        label Контактный телефон *
            input(type='text' required)

        label Должность
            input(type='text')

        label Новый пароль
            input(type='password')

        label Подтверждение пароля
            input(type='password')

        button.button Сохранить