extends shop-user-personal

block personal
    h2 Заказ #4 от 11.03.2016 на сумму 6 388 руб

    h3 Информация о покупателе
    p
        | Физ. лицо
        br
        | Иванов Иван Иванович
        br
        | i.ivanov@mail.com
        br
        | +7 900 456-87-98

    h3 Адрес доставки
    p: strong Россия, Московская область, г. Москва, ул. Уличная, д. 11, кв. 42

    h3 Способ доставки
    p: strong Самовывоз

    h3 Способ оплаты
    p: strong Наличными

    h3 Состав заказа
    .grid-x.grid-padding-x
        .cell.small-3.medium-2.large-1
            img.margin-bottom-6(src='./i/image.svg' alt='Товар')
        .cell.small-9.medium-5.large-6
            h5: a.text-dark(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
        .cell.small-12.medium-5.large-5
            .grid-x.grid-padding-x
                .cell.small-6.medium-7.large-4
                    .margin-bottom-6
                        strong
                            | 25 280&nbsp;
                            i.fa.fa-rub
                        br
                        del.text-dark-gray
                            | 27 150 &nbsp;
                            i.fa.fa-rub
                .cell.small-6.medium-5.large-3 1 шт
                .cell.small-12.large-5
                    .margin-bottom-6
                        span.stat
                            | 25 280&nbsp;
                            i.fa.fa-rub
    hr.margin-bottom-6
    .grid-x.grid-padding-x
        .cell.small-3.medium-2.large-1
            img.margin-bottom-6(src='./i/image.svg' alt='Товар')
        .cell.small-9.medium-5.large-6
            h5: a.text-dark(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
        .cell.small-12.medium-5.large-5
            .grid-x.grid-padding-x
                .cell.small-6.medium-7.large-4
                    .margin-bottom-6
                        strong
                            | 25 280&nbsp;
                            i.fa.fa-rub
                        br
                        del.text-dark-gray
                            | 27 150 &nbsp;
                            i.fa.fa-rub
                .cell.small-6.medium-5.large-3 1 шт
                .cell.small-12.large-5
                    .margin-bottom-6
                        span.stat
                            | 25 280&nbsp;
                            i.fa.fa-rub
    .margin-bottom-6.lead ИТОГО: &nbsp;
        strong 6 388
            = ' '
            i.fa.fa-rub