extends shop-regular

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1 Оформление заказа
    .content
        .grid-container: .grid-x.grid-padding-x
            .cell.small-12.medium-8.large-9#order-container
                .callout
                    h2 Товары в заказе
                    .grid-x.grid-padding-x
                        .cell.small-3.medium-2.large-1
                            img.margin-bottom-6(src='./i/image.svg' alt='товар')
                        .cell.small-9.medium-5.large-6
                            h5: a.text-dark(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
                        .cell.small-12.medium-5.large-5
                            .grid-x.grid-padding-x
                                .cell.small-6.medium-7.large-4
                                    .margin-bottom-6
                                        strong
                                            | 25 280&nbsp;
                                            i.fa.fa-rub
                                        br
                                        del.text-dark-gray
                                            | 27 150 &nbsp;
                                            i.fa.fa-rub
                                .cell.small-6.medium-5.large-3 1 шт
                                .cell.small-12.large-5
                                    .margin-bottom-6
                                        span.stat
                                            | 25 280&nbsp;
                                            i.fa.fa-rub
                    hr.margin-bottom-6
                    .grid-x.grid-padding-x
                        .cell.small-3.medium-2.large-1
                            img.margin-bottom-6(src='./i/image.svg' alt='товар')
                        .cell.small-9.medium-5.large-6
                            h5: a.text-dark(href='shop-product.html') Картридж совместимый SuperFine (SF-CN048AE) 951XL Magenta
                        .cell.small-12.medium-5.large-5
                            .grid-x.grid-padding-x
                                .cell.small-6.medium-7.large-4
                                    .margin-bottom-6
                                        strong
                                            | 25 280&nbsp;
                                            i.fa.fa-rub
                                        br
                                        del.text-dark-gray
                                            | 27 150 &nbsp;
                                            i.fa.fa-rub
                                .cell.small-6.medium-5.large-3 1 шт
                                .cell.small-12.large-5
                                    .margin-bottom-6
                                        span.stat
                                            | 25 280&nbsp;
                                            i.fa.fa-rub
                .callout
                    h2 Регион доставки
                    fieldset
                        legend: strong Тип плательщика
                        input#type1(type='radio' name='type')
                        label(for='type1') Физическое лицо
                        input#type2(type='radio' name='type')
                        label(for='type2') Юридическое лицо
                    label
                        strong
                            span.text-primary *&nbsp;
                            | Местоположение
                        input(type='text')
                    p.help-text Выберите свой город в списке. Если вы не нашли свой город, выберите "другое местоположение", а город впишите в поле "Город"
                    label
                        strong
                            span.text-primary *&nbsp;
                            | Индекс
                        input(type='text')
                .callout
                    h2 Доставка
                    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-4(data-equalizer data-equalize-by-row="true")
                        .cell
                            label.callout(data-equalizer-watch)
                                input(type='radio' name='delivery')
                                i.fa.fa-lg.fa-automobile.text-dark-gray
                                = ' '
                                span.label
                                    | 0
                                    = ' '
                                    i.fa.fa-rub
                                br
                                | Самовывоз
                        .cell
                            label.callout(data-equalizer-watch)
                                input(type='radio' name='delivery')
                                i.fa.fa-lg.fa-truck.text-dark-gray
                                = ' '
                                span.label
                                    | 500
                                    = ' '
                                    i.fa.fa-rub
                                br
                                | Доставка курьером
                    hr.margin-bottom-6
                    .grid-x.grid-padding-x
                        .cell.small-12.medium-12.large-6.end
                            .input-group
                                input.input-group-field(type='text' placeholder='Применить купон')
                                .input-group-button
                                    button.button(type='button')
                                        i.fa.fa-calculator
                                        = ' '
                                        | Пересчитать
                .callout
                    h2 Оплата
                    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-4(data-equalizer data-equalize-by-row="true")
                        .cell
                            label.callout(data-equalizer-watch)
                                input(type='radio' name='payment')
                                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                                br
                                | Наличными
                        .cell
                            label.callout(data-equalizer-watch)
                                input(type='radio' name='payment')
                                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                                br
                                | Банковские карты
                        .cell
                            label.callout(data-equalizer-watch)
                                input(type='radio' name='payment')
                                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                                br
                                | Квитанция Сбербанка
                        .cell
                            label.callout(data-equalizer-watch)
                                input(type='radio' name='payment')
                                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                                br
                                | Терминалы
                        .cell
                            label.callout(data-equalizer-watch)
                                input(type='radio' name='payment')
                                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                                br
                                | Яндекс.Деньги
                        .cell
                            label.callout(data-equalizer-watch)
                                input(type='radio' name='payment')
                                img(src='./i/image.svg' alt='иконка' style='width:40px;height:25px;background:#36B6AD;')
                                br
                                | Наложенный платеж
                .callout
                    h2 Покупатель
                    label
                        strong
                            span.text-primary *&nbsp;
                            | ФИО
                        input(type='text')
                    label
                        strong
                            span.text-primary *&nbsp;
                            | E-Mail
                        input(type='text')
                    label
                        strong
                            span.text-primary *&nbsp;
                            | Телефон
                        input(type='text')
                    label
                        strong
                            span.text-primary *&nbsp;
                            | Адрес доставки
                        input(type='text')
                    label
                        strong
                            span.text-primary *&nbsp;
                            | Комментарий к заказу
                        textarea
            .cell.small-12.medium-4.large-3
                div(data-sticky-container)
                    .sticky.callout(data-sticky data-anchor="order-container" data-sticky-on="medium" style="width: 100%")
                        .grid-x.grid-padding-x
                            .cell.small-5: strong Товаров на
                            .cell.small-7.text-right: strong
                                | 500
                                = ' '
                                i.fa.fa-rub
                        br
                        hr.margin-bottom-6
                        .grid-x.grid-padding-x
                            .cell.small-5 НДС
                            .cell.small-7.text-right
                                | 90
                                = ' '
                                i.fa.fa-rub
                            .cell.small-12: small: em 18%, включен в цену
                        br
                        hr.margin-bottom-6
                        .grid-x.grid-padding-x
                            .cell.small-5 Доставка
                            .cell.small-7.text-right
                                | 500
                                = ' '
                                i.fa.fa-rub
                        br
                        hr.margin-bottom-6
                        .grid-x.grid-padding-x
                            .cell.small-5: strong Итого
                            .cell.small-7.text-right.stat
                                | 1000
                                = ' '
                                i.fa.fa-rub
            .cell.small-12.medium-8.large-9.end.text-right
                a.button(href='shop-order-confirmation.html')
                    i.fa.fa-credit-card
                    = ' '
                    | Оформить заказ