extends shop-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1 Сравнить товары
  .info.grid-container: .grid-x.grid-padding-x: .cell
    .info
      span.sect.sect_link Показать:
      strong.sect.sect_link Только отличия
      a(href="#").sect.sect_link  Основные параметры
      a(href="#")  Все параметры
    .table-scroll
      +comp
