extends shop-regular

block content
    .row: .column
        h1 Любимые товары
    .content
        .row: .column
            .mb-2
                +productLine(false, 'onDemand', false, 'inFavourites')
                hr.mb-1
                +productLine(false, false, 'inCart', 'inFavourites')
                hr.mb-1
                +productLine('discount', false, false, 'inFavourites')
                hr.mb-1
                +productLine(false, 'onDemand', false, 'inFavourites')
                hr.mb-1
                +productLine(false, false, 'inCart', 'inFavourites')
                hr.mb-1
                +productLine('discount', false, false, 'inFavourites')
                hr.mb-1
                +productLine(false, 'onDemand', false, 'inFavourites')
                hr.mb-1
                +productLine(false, false, 'inCart', 'inFavourites')
                hr.mb-1
                +productLine('discount', false, false, 'inFavourites')
            include components/common/_pagination