extends smi-index

block page
  +breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .cell
      include components/common/_error
    .info.grid-container: .grid-x.grid-padding-x
      .cell.medium-20.large-16
        include components/common/_404
