extends smi-regular

include components/mixins/_mixin-news-tile

block content
    .grid-container: .grid-x.grid-padding-x: .cell
        h1
            small Всё на дату: &#160;
            | 17.02.2016
    .grid-container: .grid-x.grid-padding-x
        .cell.small-12.medium-7.large-8

            block date-content
                .content
                    .grid-x.grid-padding-x
                        .small-12.medium-8.cell
                            h2 Статьи
                        .small-12.medium-4.cell.medium-text-right
                            a.button(href='#') Все статьи &nbsp;
                                i.fa.fa-long-arrow-right

                    .grid-x.grid-padding-x.small-up-1.medium-up-2(data-equalizer='news1', data-equalize-by-row='true')
                        +newsTile(false, 'news1')
                        +newsTile(false, 'news1')
                        +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники', 'news1')
                            | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
                        +newsTile(false, 'news1')

                .grid-x.grid-padding-x: .cell: hr

                include components/common/_video-tiles
                .grid-x.grid-padding-x: .cell: hr
                include components/common/_photo-tiles
                .grid-x.grid-padding-x: .cell: hr
                include components/smi/_magazine-tiles

        aside.cell.small-12.medium-5.large-4
            .content
                h2 Календарь материалов
                include components/common/_calendar

            .grid-x.grid-padding-x: .cell: hr

            include components/smi/_aside-index