extends smi-index

block page
    include components/common/_breadcrumbs
    block content
        .row.column
            h1 Заголовок страницы h1
        .content
            .row
                .columns.small-12.medium-7.large-8
                    include components/common/_text
                .columns.small-12.medium-5.large-4
                    include components/common/_sidebar