extends smi-category

block category-content
  .grid-x.grid-padding-x: .cell
    +art(['Статьи','Фото','Видео','Журналы',])
  .grid-x.grid-padding-x.medium-up-2(data-equalizer='news', data-equalize-by-row='true')
    +news(false, 'news')
    +news(false, 'news')
    +news('Разработаем несколько интернет-магазинов по продаже сантехники', 'news')
      | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
    +news(false, 'news')
    +news(false, 'news')
    +news(false, 'news')
    +news(false, 'news')
    +news(false, 'news')
    +news('Разработаем несколько интернет-магазинов по продаже сантехники', 'news')
      | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
    +news(false, 'news')

  .grid-x.grid-padding-x.info: .cell
    +pagination
