doctype html
html.no-js(lang='ru')
  include components/service/_head
  body
    include ../blocks/foundation/callout/_callout
    include ../blocks/foundation/label/_label
    include ../blocks/foundation/close-button/_close-button
    include ../blocks/foundation/button/_button
    include ../blocks/foundation/pagination/_pagination
    include ../blocks/foundation/breadcrumbs/_breadcrumbs
    
    include ../blocks/general/side/_side
    include ../blocks/general/contacts/_contacts
    include ../blocks/general/cat/_cat
    include ../blocks/general/dd/_dd
    include ../blocks/general/art/_art
    include ../blocks/general/news/_news
    include ../blocks/general/project/_project
    
    include ../blocks/smi/rubric/_rubric
    include ../blocks/smi/calendar/_calendar
    include ../blocks/smi/user/_user
    include ../blocks/smi/magazine/_magazine
    include ../blocks/smi/carousel-news/_carousel-news
    
    
    include components/smi/_top-nav
    include components/smi/_header

    block article

    block page
      include components/smi/_news-top-slider
      .grid-container: .grid-x.grid-padding-x: .cell: hr.hr
      .grid-container: .grid-x.grid-padding-x
        .medium-16.cell
          include components/smi/_articles-tiles
          .grid-x.grid-padding-x: .cell: hr.hr
          include components/common/_video-tiles
          .grid-x.grid-padding-x: .cell: hr.hr
          include components/common/_photo-tiles
          .grid-x.grid-padding-x: .cell: hr.hr
          include components/smi/_magazine-tiles
          .grid-x.grid-padding-x: .cell: hr.hr
          include components/smi/_now-read-comment
          .grid-x.grid-padding-x: .cell: hr.hr
          include components/smi/_news-sharing
          .grid-x.grid-padding-x: .cell: hr.hr
          include components/common/_social-widgets
          .grid-x.grid-padding-x: .cell: hr.hr
        aside.medium-8.show-for-medium.cell
          include components/smi/_aside-index

    include components/smi/_footer
    include components/service/_js
