extends smi-category

block category-content
    .content
        .grid-x.grid-padding-x: .cell
            ul.menu
                li.menu-text Статьи
                li: a(href='#' title='') Фото
                li: a(href='#' title='') Видео
                li: a(href='#' title='') Журналы
            br
        .grid-x.grid-padding-x.small-up-1.medium-up-2(data-equalizer='news', data-equalize-by-row='true')
            +newsTile(false, 'news')
            +newsTile(false, 'news')
            +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники', 'news')
                | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
            +newsTile(false, 'news')
            +newsTile(false, 'news')
            +newsTile(false, 'news')
            +newsTile(false, 'news')
            +newsTile(false, 'news')
            +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники', 'news')
                | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
            +newsTile(false, 'news')

        .grid-x.grid-padding-x: .cell
            .content
                include components/common/_pagination