extends smi-index

block article
    include components/mixins/_mixin-news-tile

    include components/common/_breadcrumbs

    .row.column: h1 Заголовок новости новости новости новости
    .row
        .small-12.medium-9.column

            .content
                p.text-dark-gray Константин Александропольский, 12:20 16.02.2016

                include components/common/_text

                .callout.text-center
                    span.text-gray Поделиться в соц. сетях: &#160;
                    a(href='#', title=''): i.fa.fa-twitter.fa-lg &#160;
                    a(href='#', title=''): i.fa.fa-facebook.fa-lg &#160;
                    a(href='#', title=''): i.fa.fa-vk.fa-lg &#160;

                .callout
                    h4 Ешё по этой теме
                    ul
                        li: a(href='#', title='') УЕФА может исключить футболиста «Локомотива» за майку
                        li: a(href='#', title='') Источник: ФСБ и ФНС провели операцию по зачистке алкогольного рынка
                        li: a(href='#', title='') Пол Маккартни не прошел фейс-контроль на вечеринку после «Грэмми»

            .row.column: hr

            .content
                h3.text-dark-gray Похожие новости
                .row.small-up-1.medium-up-2.large-up-3
                    +newsTile()
                    +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники')
                        p Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
                    +newsTile()

                include components/smi/_aside-subscribe

                .callout
                    include components/smi/_comments

        aside.medium-3.show-for-medium.column
            .content
                h2 Календарь материалов
                include components/common/_calendar
                br

                h2 Другие новости

                -var n = 1
                while n < 11
                    .callout
                        a(href='', title='')=  'Достаточно длинный заголовок другой новости ' + n++
                        span.text-gray &#160; 17 февраля, 10:59 &#160;

    .row.column: hr