extends smi-date

block date-сontent
    .content
        .row.column
            ul.menu
                li.menu-text Статьи
                li: a(href='#', title='') Фото
                li: a(href='#', title='') Видео
            br
        .row.small-up-1.medium-up-2(data-equalizer='news1', data-equalize-by-row='true')
            +newsTile(false, 'news1')
            +newsTile(false, 'news1')
            +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники', 'news1')
                p Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
            +newsTile(false, 'news1')
            +newsTile(false, 'news1')
            +newsTile(false, 'news1')
            +newsTile(false, 'news1')
            +newsTile(false, 'news1')
            +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники', 'news1')
                p Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
            +newsTile(false, 'news1')

        .row.column
            .content
                include components/common/_pagination