extends smi-index

block article
  +breadcrumbs

  .grid-container: .grid-x.grid-padding-x: .cell: h1 Заголовок новости с длинным названием
  .grid-container: .grid-x.grid-padding-x
    .medium-14.large-16.cell
      .info
        .sect.sect_dark Константин Александропольский, 12:20 16.02.2016
        include components/common/_text
        +callout
          h4 Ещё по этой теме
          ul
            li: a(href='#', title='') УЕФА может исключить футболиста «Локомотива» за майку
            li: a(href='#', title='') Источник: ФСБ и ФНС провели операцию по зачистке алкогольного рынка
            li: a(href='#', title='') Пол Маккартни не прошел фейс-контроль на вечеринку после «Грэмми»

      .grid-x.grid-padding-x: .cell: hr

      .info
        h3 Похожие новости
        .grid-x.grid-padding-x.medium-up-2.large-up-3(data-equalizer='similar', data-equalize-by-row='true')
          +news(false, 'similar')
          +news('Разработаем несколько интернет-магазинов по продаже сантехники', 'similar')
            | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
          +news(false, 'similar')
        include components/smi/_aside-subscribe
        +callout
          include components/smi/_comments

    aside.medium-10.large-8.show-for-medium.cell
      .info
        h2 Календарь материалов
        .table-scroll
          +calendar
      .sect
        h2 Другие новости
        +callout
          -var n = 1
          while n < 11
            h5: a(href='', title='')=  'Достаточно длинный заголовок другой новости ' + n++
            .callout__info: .callout__dark 17 февраля, 10:59
            if n < 11
              hr
  .grid-container: .grid-x.grid-padding-x: .cell: hr
