extends smi-index

block page
  +breadcrumbs
  block content
    .grid-container: .grid-x.grid-padding-x: .cell
      h1 Карта сайта
    .info.grid-container: .grid-x.grid-padding-x
      .cell.medium-16.large-12.end
        include components/smi/_sitemap
