extends smi-index

block article
    include components/mixins/_mixin-news-tile

    include components/common/_breadcrumbs

    .grid-container: .grid-x.grid-padding-x: .cell: h1 Заголовок новости с длинным названием
    .grid-container: .grid-x.grid-padding-x
        .small-12.medium-7.large-8.cell

            .content
                .margin-bottom-10.text-dark-gray Константин Александропольский, 12:20 16.02.2016

                include components/common/_text

                .callout.text-center
                    span.show-for-large.text-medium-gray Поделиться в соц. сетях: &#160;
                    a(href='#', title='').fa-stack.fa-lg.text-vk
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-vk.fa-stack-1x.fa-inverse
                    | &nbsp;
                    a(href='#', title='').fa-stack.fa-lg.text-twi
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-twitter.fa-stack-1x.fa-inverse
                    | &nbsp;
                    a(href='#', title='').fa-stack.fa-lg.text-fb
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-facebook.fa-stack-1x.fa-inverse
                    | &nbsp;
                    a(href='#', title='').fa-stack.fa-lg.text-ok
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-odnoklassniki.fa-stack-1x.fa-inverse
                    | &nbsp;
                    a(href='#', title='').fa-stack.fa-lg.text-insta
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-instagram.fa-stack-1x.fa-inverse
                    | &nbsp;
                    a(href='#', title='').fa-stack.fa-lg.text-gp
                        i.fa.fa-circle.fa-stack-2x
                        i.fa.fa-google-plus.fa-stack-1x.fa-inverse

                .callout
                    h4 Ещё по этой теме
                    ul
                        li: a(href='#', title='') УЕФА может исключить футболиста «Локомотива» за майку
                        li: a(href='#', title='') Источник: ФСБ и ФНС провели операцию по зачистке алкогольного рынка
                        li: a(href='#', title='') Пол Маккартни не прошел фейс-контроль на вечеринку после «Грэмми»

            .grid-x.grid-padding-x: .cell: hr

            .content
                h3.text-dark-gray Похожие новости
                .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3(data-equalizer='similar', data-equalize-by-row='true')
                    +newsTile(false, 'similar')
                    +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники', 'similar')
                        | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
                    +newsTile(false, 'similar')

                include components/smi/_aside-subscribe

                .callout
                    include components/smi/_comments

        aside.medium-5.large-4.show-for-medium.cell
            .content
                h2 Календарь материалов
                include components/common/_calendar
                br

                h2 Другие новости

                .callout
                    -var n = 1
                    while n < 11
                        h5.margin-bottom-3: a(href='', title='')=  'Достаточно длинный заголовок другой новости ' + n++
                        .margin-bottom-10.text-medium-gray 17 февраля, 10:59 &#160;
                        if n < 11
                            hr.margin-bottom-10

    .grid-container: .grid-x.grid-padding-x: .cell: hr