extends smi-index

block page
    include components/common/_breadcrumbs
    block content
        .row.column
            h1 Заголовок страницы h1
        .content
            .row
                .columns.small-12.medium-5.large-4.medium-push-7.large-push-8
                    include components/common/_sidebar
                .columns.small-12.medium-7.large-8.medium-pull-5.large-pull-7
                    include components/common/_text
