extends smi-regular

block content
  .grid-container: .grid-x.grid-padding-x: .cell
    h1
      span.sect.sect_err Всё на дату:
      | 17.02.2016
  .grid-container: .grid-x.grid-padding-x
    .cell.medium-14.large-16
      block date-content
        .info
          .grid-x.grid-padding-x
            .medium-16.cell
              h2 Статьи
            .medium-8.cell.medium-text-right
              +button('Все статьи<i class="fas fa-long-arrow-alt-right canv"></i>')

          .grid-x.grid-padding-x.medium-up-2(data-equalizer='news1', data-equalize-by-row='true')
            +news(false, 'news1')
            +news(false, 'news1')
            +news('Разработаем несколько интернет-магазинов по продаже сантехники', 'news1')
              | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
            +news(false, 'news1')

        .grid-x.grid-padding-x: .cell: hr.hr

        include components/common/_video-tiles
        .grid-x.grid-padding-x: .cell: hr.hr
        include components/common/_photo-tiles
        .grid-x.grid-padding-x: .cell: hr.hr
        include components/smi/_magazine-tiles

    aside.cell.medium-10.large-8
      .info
        h2 Календарь материалов
        .table-scroll
          +calendar

      include components/smi/_aside-index
