.footer
    .row.column
        ul.menu-footer
            each title in ['Сайт', 'Магазин', 'Интернет-СМИ', 'Реклама', 'Мобильные', 'Обучение', 'Конверсия']
                li.menu-footer__item
                    a.menu-footer__link(href='#')= title
    .row.column
        p &nbsp;
        hr
        p &nbsp;
    .row.text-dark-gray

        .small-12.medium-8.columns
            p
                | &copy;&nbsp;
                a.text-light-gray(href='#') Cetera Labs
                |, 2002–2016
                br
                | Создание сайта &mdash;
                a.text-light-gray(target='_blank', href='http://cetera.ru/') Cetera Labs
                | &nbsp;&nbsp;&nbsp;&nbsp;
                a.text-light-gray(target='_blank', href='http://www.cetera.ru/support/default.php?project=CE&lang=ru') Сообщить об ошибке
        .small-12.medium-4.columns.text-center.medium-text-right
            p
                a(href='#')
                    img(src='./images/image.svg', style='width: 300px; height: 50px; background: #8a8a8a', alt='logo')