.callout
    ul.menu.vertical
        li
            a(href='#') О портале
        li
            a(href='#') Условия пользования
        li
            a(href='#') Реклама на портале
        li
            a(href='#') Партнёры
        li
            a(href='#') Контактная информацияи
        li
            a(href='#') О портале
        li
            a(href='#') Условия пользования
        li
            a(href='#') Реклама на портале
        li
            a(href='#') Контактная информацияи по партнерам
        li
            a(href='#') О портале
        li
            a(href='#') Условия пользования
        li
            a(href='#') Реклама на портале
        li
            a(href='#') Партнёры
        li
            a(href='#') Контактная информация