head
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='copyright', content='Создание сайтов - Cetera Labs, www.cetera.ru, 2016')
    meta(name='author' content='Cetera Labs, http://www.cetera.ru/, создание сайтов, поддержка сайтов, продвижение сайтов')
    meta(name='cmsmagazine', content='f21b68cb09efe1a7161ca2caaacaf749')
    title Cetera Labs WireFrames
    if minify
        style
            include ../../../../dist/css/style.css
    else
        link(rel='stylesheet', href='css/style.css')