.carousel-main {
  text-align: center;
}

.carousel-main__item {
  background: center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: none;
  padding: 2rem;
  &:first-child {
    display: block;
  }
}

.carousel-main__content {
  height: rem-calc(400);
}