.carousel-main {
  text-align: center;
}

.carousel-main__item {
  background: center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: none;
  padding: 2rem 0;
  position: relative;
  &:first-child {
    display: block;
  }
}

.carousel-main__darken:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

@include breakpoint(medium up) {
  .carousel-main__item {
    padding: 2rem 3rem;
  }
  .carousel-main__content {
    min-height: rem-calc(300);
  }
}

@include breakpoint(large up) {
  .carousel-main__content {
    min-height: rem-calc(400);
  }
}