.footer {
  //begin sticky footer
  margin-top: auto;
  //end sticky footer
  padding-top: rem-calc(48);
  padding-bottom: rem-calc(24);
  color: $white;
  background: $quaternary;

  &__head {
    color: $white;
    font-size: rem-calc(17);
    display: block;
    font-weight: 300;

  }

  &__shop {
    color: $white;
    display: block;
    font-weight: 300;

    line-height: 1.5;
    font-size: rem-calc(17);

    &:active,
    &:focus,
    &:hover {
      color: $light-gray;
    }
  }

  &__bottom {
    font-size: rem-calc(13);
    text-align: center;
  }

  &__soc {

    font-size: rem-calc(26);
    text-align: center;
  }

  &__link {
    font-weight: $global-weight-bold;
    display: block;
    margin-bottom: rem-calc(7);
    color: $tertiary;

    &:active,
    &:focus,
    &:hover {
      color: $white;
    }
  }

  &__pay {
    height: rem-calc(24);
  }

  &__cetera {
    margin-right: rem-calc(18);
  }

  &__labs {
    margin-right: rem-calc(18);
    color: $tertiary;
    display: inline-block;

    &:active,
    &:focus,
    &:hover {
      color: $white;
    }

    &_right {
      margin-right: rem-calc(0);
    }
  }

  &__nav {
    margin-bottom: rem-calc(12);
  }

  &__logo {
    width: rem-calc(140);
  }

  &__block {

  }
}
