include ../mixins/_mixin-news-tile

.padding-top-12.padding-bottom-6
    .grid-x.grid-padding-x
        .small-24.medium-16.cell
            h2 Свежие статьи
        .small-24.medium-8.cell.medium-text-right
            a.button(href='#') Все материалы &nbsp;
                i.fas.fa-long-arrow-alt-right

    .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3(data-equalizer='articles', data-equalize-by-row='true')
        +newsTile(false, 'articles')
        +newsTile(false, 'articles')
        +newsTile(false, 'articles')
        +newsTile(false, 'articles')
        +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles')
            | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
        +newsTile(false, 'articles')