.grid-x.grid-padding-x
  .medium-16.cell
    h2 Свежие статьи
  .medium-8.cell.medium-text-right
    +button('Все материалы<i class="fas fa-long-arrow-alt-right canv"></i>')

div(data-equalizer='title', data-equalize-by-row='true'): .grid-x.grid-padding-x.large-up-3(data-equalizer='articles', data-equalize-by-row='true')
  +project('Запустили 200 новых сайтов на собственной CMS', 'articles',true)
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
    | Проект будет развиваться по методологии «Быстрый старт».
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
    | Проект будет развиваться по методологии «Быстрый старт».
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
    | Проект будет развиваться по методологии «Быстрый старт».
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles',true)
    | Проект будет развиваться по методологии «Быстрый старт».
