include ../mixins/_mixin-news-tile

.info
  .grid-x.grid-padding-x
    .small-24.medium-16.cell
      h2 Свежие статьи
    .small-24.medium-8.cell.medium-text-right
      a.button(href='#') Все материалы
        i.fas.fa-long-arrow-alt-right.canv

  .grid-x.grid-padding-x.large-up-3(data-equalizer='articles', data-equalize-by-row='true')
    +newsTile(false, 'articles')
    +newsTile(false, 'articles')
    +newsTile(false, 'articles')
    +newsTile(false, 'articles')
    +newsTile('Разработаем несколько интернет-магазинов по продаже сантехники', 'articles')
      | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
    +newsTile(false, 'articles')
