include ../mixins/_mixin-comment-author

.callout
    h3
        a.text-dark-gray(href='#', title='') Последние комментарии

    +commentAuthor
    .mb-1 Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
    hr.mb-1

    +commentAuthor
    .mb-1 Обязательно придём!!!
    hr.mb-1

    +commentAuthor
    .mb-1 Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь