+callout
  h3.callout__dark Цитата
  blockquote Диалогический контекст, за счет использования параллелизмов и повторов на разных языковых уровнях, представляет собой метаязык.
    cite Пафнутий Непарнокобылкин
