+callout
  h3
    a.callout__dark(href='#', title='') Мобильный репортёр

  img.callout__report(src='./i/image.svg', alt='Видео')
  .callout__info
    a(href='#' title='') Название репортажа мобильного репортёра
    .callout__watch
      i.far.fa-eye.picture
      | 142
    .callout__watch
      i.fas.fa-comments.picture
      | 7
  +button('Смотреть ещё','button_hollow button_expanded')
