.callout
    h3
        a.text-dark-gray(href='#', title='') Трансляции

    img.margin-bottom-6(src='./i/image.svg', alt='Видео', style='background:#999;width:100%;height:10rem;')
    .margin-bottom-6
        span Сейчас в эфире:&#160;
        a(href='#') Евлампия Персикова о проблемах крайнего севера.
        br
        i.fa.fa-eye &nbsp;
        span.text-dark-gray 50 зрителей

    a.button.hollow.expanded(href='#', title='') Архив трансляций