+callout
  h3
    a.callout__dark(href='#', title='') Гороскопы
  +user
    span.user__title Рыбы — вы сможете извлечь из событий этого дня очень…
    a(href='#') Читать
      i.fas.fa-long-arrow-alt-right.canv

  +button('Другие гороскопы','button_hollow button_expanded')
