.callout
    h3
        a.text-dark-gray(href='#', title='') Афиша

    .margin-bottom-5: span.label Кино
    img.margin-bottom-10(src='./i/image.svg', alt='Изображение события', style='background:#999;width:100%;height:11rem;')
    .margin-bottom-10 Название этого события в этом блоке афиши
        br
        span.text-success 13.04.2016 19:00

    a.button.hollow.expanded(href='#', title='') Вся афиша
