.callout
    h3
        a.text-dark-gray(href='#', title='') Гороскопы

    .media-object
        .media-object-section.show-for-large
            img(src='./i/image.svg', alt='Знак зодиака Рыбы', style='background:#abcdef;width:45px;height:45px;')
        .media-object-section
            .margin-bottom-6 Рыбы — вы сможете извлечь из событий этого дня очень…
                a(href='#') Читать &nbsp;
                    i.fa.fa-long-arrow-right

    a.button.hollow.expanded(href='#', title='') Другие гороскопы