.callout
    h3.text-dark-gray Цитата

    blockquote Диалогический контекст, за счет использования параллелизмов и повторов на разных языковых уровнях, представляет собой метаязык.
        cite Пафнутий Непарнокобылкин