.callout
    h3.text-dark-gray Теги
    .margin-bottom-6
        a.text-light-gray(href='#', title='') Госзакупки &#160;
        a(href='#', title='') Грипп &#160;
        a(href='#', title='') Губернатор &#160;
        a(href='#', title='') Деньги &#160;
        a.text-dark-gray(href='#', title='') Депутаты &#160;
        a(href='#', title='') Дети &#160;
        a.text-light-gray(href='#', title='') Дорога &#160;
        a(href='#', title='') Дороги &#160;
        a(href='#', title='') ДТП &#160;
        a.text-light-gray(href='#', title='') ЕДДС &#160;
        a.text-dark-gray(href='#', title='') Единая Россия &#160;
        a(href='#', title='') Животные &#160;
        a(href='#', title='') ЖКХ &#160;
        a.text-dark-gray(href='#', title='') ЗАГС &#160;
        a.text-light-gray(href='#', title='') Законодательное собрание &#160;
        a.text-dark-gray(href='#', title='') Законодательство &#160;
        a(href='#', title='') Здоровье &#160;
        a(href='#', title='') Здравоохранение &#160;
        a(href='#', title='') Интернет &#160;
        a.text-dark-gray(href='#', title='') Искусство &#160;
        a.text-dark-gray(href='#', title='') История &#160;
        a.text-light-gray(href='#', title='') Казахстан &#160;
        a(href='#', title='') Карантин &#160;
        a.text-dark-gray(href='#', title='') Картина маслом