include ../../../blocks/smi/advice/_advice
+callout
  h3
    a(href='', title='') Консультации
  +advice('Полиция')
  hr
  +advice('Прокуратура')
  hr
  +advice('ГИБДД')
  +button('Все консультации','button_hollow button_expanded')
