+callout
  h3
    a.callout__dark(href='#', title='') Афиша
  .callout__label
    +label('Кино')
  a(href="#"): img.callout__bill(src='./i/image.svg', alt='Изображение события')
  div Название этого события в этом блоке афиши
  .callout__date 13.04.2016 19:00

  +button('Вся афиша','button_hollow button_expanded')
