.callout
    h3.text-dark-gray Подписка
        a.float-right(href='#', title='')
            i.fa.fa-rss-square &nbsp;
            | RSS

    form(action='' method='post', data-abide='', novalidate='novalidate')
        input(type='email', placeholder='Ваша эл. почта', required='')
        button.button.expanded(type='submit') Подписаться &nbsp;
            i.fa.fa-envelope-o.fa-lg
    .margin-bottom-6.text-center
        a.text-dark-gray(href='#', title='') Как отписаться?
