+callout
    h3.callout__dark Теги
    .callout__info
        a.callout__unit(href='#', title='') Госзакупки
        a(href='#', title='').callout__link Грипп
        a(href='#', title='').callout__link Губернатор
        a(href='#', title='').callout__link Деньги
        a.callout__tag(href='#', title='') Депутаты
        a(href='#', title='').callout__link Дети
        a.callout__unit(href='#', title='') Дорога
        a(href='#', title='').callout__link Дороги
        a(href='#', title='').callout__link ДТП
        a.callout__unit(href='#', title='') ЕДДС
        a.callout__tag(href='#', title='') Единая Россия
        a(href='#', title='').callout__link Животные
        a(href='#', title='').callout__link ЖКХ
        a.callout__tag(href='#', title='') ЗАГС
        a.callout__unit(href='#', title='') Законодательное собрание
        a.callout__tag(href='#', title='') Законодательство
        a(href='#', title='').callout__link Здоровье
        a(href='#', title='').callout__link Здравоохранение
        a(href='#', title='').callout__link Интернет
        a.callout__tag(href='#', title='') Искусство
        a.callout__tag(href='#', title='') История
        a.callout__unit(href='#', title='') Казахстан
        a(href='#', title='').callout__link Карантин
        a.callout__tag(href='#', title='') Картина маслом
