.callout
    h3
        a.text-dark-gray(href='', title='') Консультации

    h4
        a(href='#', title='') Полиция
    .margin-bottom-3 Ваше обращение зарегистрировано в книге учёта обращений граждан отдела №2 УМВД России по городу…
    .margin-bottom-6
        a(href='#') Прочитать &nbsp;
            i.fa.fa-long-arrow-right
    hr.margin-bottom-6

    h4
        a(href='#', title='') Прокуратура
    .margin-bottom-3 В летнее время действительно обостряются проблемы охраны территорий, на которых расположены садовые…
    .margin-bottom-6
        a(href='#') Прочитать &nbsp;
            i.fa.fa-long-arrow-right
    hr.margin-bottom-6

    h4
        a(href='#', title='') ГИБДД
    .margin-bottom-3 Горизонтальная дорожная разметка на пересечении Карла Маркса и Краснознамённой нанесена в соответствии…
    .margin-bottom-6
        a(href='#') Прочитать &nbsp;
            i.fa.fa-long-arrow-right

    a.button.hollow.expanded(href='', title='') Все консультации