include ../mixins/_mixin-comment-author

.callout
    h3
        a.text-dark-gray(href='#', title='') Последние комментарии

    +commentAuthor
    .margin-bottom-6 Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
    hr.margin-bottom-6

    +commentAuthor
    .margin-bottom-6 Обязательно придём!!!
    hr.margin-bottom-6

    +commentAuthor
    .margin-bottom-6 Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь