+callout
  h3
    a.callout__dark(href='#', title='') Последние комментарии
  +user
  .sect Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
  hr
  +user
  .sect Обязательно придём!!!
  hr
  +user
  .sect Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
