include ../mixins/_mixin-comment-author

.callout
    h3
        a.text-dark-gray(href='#', title='') Последние комментарии

    +commentAuthor
    p Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
    br

    +commentAuthor
    p Обязательно придём!!!
    br

    +commentAuthor
    p Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
    br