+callout
  h3
    a.callout__dark(href='#', title='') Трансляции

  img(src='./i/image.svg', alt='Видео').callout__bill
  div
    span Сейчас в эфире:
    a(href='#').canv Евлампия Персикова о проблемах крайнего севера.
  .callout__info
    i.far.fa-eye
    span.callout__see 50 зрителей
  +button('Архив трансляций','button_hollow button_expanded')  
