.callout
    h3
        a.text-dark-gray(href='#', title='') Мобильный репортёр

    img.margin-bottom-6(src='./i/image.svg', alt='Видео', style='background:#999;width:100%;height:10rem;')
    .margin-bottom-6
        a(href='#' title='') Название репортажа мобильного репортёра &#160;
        i.fa.fa-eye
        | 142 &nbsp;
        i.fa.fa-comments
        | 7

    a.button.hollow.expanded(href='#', title='') Смотреть ещё