h3.callout__dark Комментарии (3)

+user
.sect Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
hr

+user
.sect Обязательно придём!!!
hr

+user
.sect Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
hr

h3 Добавить комментарий
form(action='#' method='post', data-abide='', novalidate='novalidate')
  input(type='text', placeholder='Представьтесь *', required='')
  p.help-text Ваше имя для комментария
  input(type='email', placeholder='Ваша электронная почта', required='')
  textarea(placeholder='Текст комментария')
  +button('Отправить сообщение<i class="far fa-envelope fa-lg canv"></i>')
