include ../mixins/_mixin-comment-author

h3.text-dark-gray Комментарии (3)

+commentAuthor
.margin-bottom-6 Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
hr.margin-bottom-6

+commentAuthor
.margin-bottom-6 Обязательно придём!!!
hr.margin-bottom-6

+commentAuthor
.margin-bottom-6 Приходите, будет весело =) В программе мероприятия запланированы сюрпризы, о которых вы вряд ли догадываетесь
hr.margin-bottom-12

h3 Добавить комментарий
form(action='' method='post', data-abide='', novalidate='novalidate')
    .grid-x.grid-padding-x: .cell
        input(type='text', placeholder='Представьтесь *', required='')
        p.help-text Ваше имя для комментария
    .grid-x.grid-padding-x: .cell
        input(type='email', placeholder='Ваша электронная почта', required='')
    .grid-x.grid-padding-x: .cell
        textarea(placeholder='Текст комментария')
    .grid-x.grid-padding-x: .cell
        button.button(type='submit') Отправить сообщение &nbsp;
            i.fa.fa-envelope-o.fa-lg