.background-black.padding-top-8.padding-bottom-4
    .grid-container: .grid-x.grid-padding-x: .cell
        .title-bar(data-responsive-toggle='footer-menu', data-hide-for='medium')
            button.menu-icon(type='button', data-toggle)
            .title-bar-title Рубрики
        .margin-bottom-6
            ul#footer-menu.menu-base
                li.menu-base__item
                    a.menu-base__link(href='#') Экономика
                li.menu-base__item
                    a.menu-base__link(href='#') Финансы
                li.menu-base__item
                    a.menu-base__link(href='#') ТЭК
                li.menu-base__item
                    a.menu-base__link(href='#') Интернет
                li.menu-base__item
                    a.menu-base__link(href='#') Промышленность
                li.menu-base__item
                    a.menu-base__link(href='#') Транспорт
                li.menu-base__item
                    a.menu-base__link(href='#') Наука
                li.menu-base__item
                    a.menu-base__link(href='#') ИТ и Медиа
                li.menu-base__item
                    a.menu-base__link(href='#') Потребительские рынки
                li.menu-base__item
                    a.menu-base__link(href='#') ВПК
                li.menu-base__item
                    a.menu-base__link(href='#') Бренды
                li.menu-base__item
                    a.menu-base__link(href='#') Спорт
                li.menu-base__item
                    a.menu-base__link(href='#') Видео
                li.menu-base__item
                    a.menu-base__link(href='#') Интервью
                li.menu-base__item
                    a.menu-base__link(href='#') Пресс-релизы
                li.menu-base__item
                    a.menu-base__link(href='#') Отставки и назначения
                li.menu-base__item
                    a.menu-base__link(href='#') Мнения
        hr.margin-bottom-6
    .grid-container: .grid-x.grid-padding-x
        .small-12.medium-7.cell
            .margin-bottom-6
                ul.menu-base
                    li.menu-base__item: a.menu-base__link(href="#") Редакция
                    li.menu-base__item: a.menu-base__link(href="#") Реклама
                    li.menu-base__item: a.menu-base__link(href="#") Медиакит
                    li.menu-base__item: a.menu-base__link(href="#") Техподдержка
                    li.menu-base__item: a.menu-base__link(href="#") Спецпроекты
        .small-12.medium-5.cell.text-medium-gray
            .margin-bottom-6
                | &copy; Информационное агентство News Service, 2016 г.
                | Учредитель: ООО «Интернет Новости». Адрес: 115280, Москва, ул. Московская, д. 1
                | Свидетельство о регистрации СМИ Эл № ФФ07-12345 выдано федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 08.23.2015
    .grid-container: .grid-x.grid-padding-x: .cell
        hr.margin-bottom-6
    .grid-container: .grid-x.grid-padding-x
        .small-12.medium-7.cell
            .margin-bottom-6
                img(src='./i/image.svg', style='width: 100px; height: 40px; background: #888', alt='counter')
                | &#160;
                img(src='./i/image.svg', style='width: 100px; height: 40px; background: #888', alt='counter')
                | &#160;
                img(src='./i/image.svg', style='width: 100px; height: 40px; background: #888', alt='counter')
        .small-12.medium-5.cell.text-dark-gray
            .margin-bottom-6
                a(href='#', title='').fa-stack.fa-lg.text-vk
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-vk.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-twi
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-fb
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-ok
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-odnoklassniki.fa-stack-1x.fa-inverse
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-insta
                    i.fa.fa-circle.fa-stack-2x.fa-inverse
                    i.fa.fa-instagram.fa-stack-1x
                | &nbsp;
                a(href='#', title='').fa-stack.fa-lg.text-gp
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-google-plus.fa-stack-1x.fa-inverse