.padding-vertical-6
    .grid-container: .grid-x.grid-padding-x
        .small-10.large-3.cell.text-center.large-text-left
            .margin-bottom-6
                a(href='#' title='')
                    img(src='./i/image.svg', style='width: 400px; height: 60px', alt='logo')
        .small-2.large-1.cell.text-center
            .margin-bottom-6.text-age-rating.stat: strong 18+
        .small-12.large-5.large-offset-3.cell
            form(action='' method='post' data-abide='', novalidate='novalidate')
                .input-group
                    input.input-group-field(type='text', placeholder='Поиск')
                    .input-group-button
                        button.button.secondary(type='submit', name='Найти')
                            i.fa.fa-search.fa-inverse
    .grid-container: .grid-x.grid-padding-x: .cell
        hr.margin-bottom-6
    .grid-container: .grid-x.grid-padding-x
        .cell.small-12.medium-6.large-3.text-dark-gray
            span.fa-stack.text-dark-gray
                i.fa.fa-square.fa-stack-2x
                i.fa.fa-calendar.fa-stack-1x.fa-inverse
            strong &nbsp; 10:10 14.15.2016
            .margin-bottom-2.hide-for-large
        .cell.small-12.medium-6.large-3.text-dark-gray
            span.fa-stack.text-dark-gray
                i.fa.fa-square.fa-stack-2x
                i.fa.fa-dollar.fa-stack-1x.fa-inverse
            span.text-alert
                | &nbsp;77.05&nbsp;
                i.fa.fa-long-arrow-down
            | &nbsp;&nbsp;&nbsp;
            span.fa-stack.text-dark-gray
                i.fa.fa-square.fa-stack-2x
                i.fa.fa-euro.fa-stack-1x.fa-inverse
            span.text-success
                | &nbsp;88.20&nbsp;
                i.fa.fa-long-arrow-up
            .margin-bottom-2.hide-for-large
        .cell.small-12.medium-6.large-3.text-dark-gray
            span.fa-stack.text-dark-gray
                i.fa.fa-square.fa-stack-2x
                i.fa.fa-thermometer-half.fa-stack-1x.fa-inverse
            | &nbsp;-1&deg;C, снег
            .margin-bottom-2.hide-for-large
        .cell.small-12.medium-6.large-3.text-dark-gray
            span.fa-stack.text-dark-gray
                i.fa.fa-square.fa-stack-2x
                i.fa.fa-flag.fa-stack-1x.fa-inverse
            | &nbsp;Локомотив&nbsp;
            span.label: strong 1:3
            | &nbsp;Медвешчак
            .margin-bottom-2.hide-for-large
.background-primary.padding-vertical-6
    .grid-container: .grid-x.grid-padding-x
        .small-12.cell
            .show-for-small-only(data-responsive-toggle='menu', data-hide-for='medium')
                .text-white(data-toggle)
                    i.fa.fa-bars.fa-lg
                    | &nbsp;Меню
            div#menu
                .margin-bottom-6.show-for-small-only
                ul.menu-base
                    li.menu-base__item: a.menu-base__link(href='#') Экономика
                    li.menu-base__item: a.menu-base__link(href='#') Финансы
                    li.menu-base__item: a.menu-base__link(href='#') ТЭК
                    li.menu-base__item: a.menu-base__link(href='#') Интернет
                    li.menu-base__item: a.menu-base__link(href='#') Промышленность
                    li.menu-base__item: a.menu-base__link(href='#') Транспорт
                    li.menu-base__item: a.menu-base__link(href='#') Наука
                    li.menu-base__item: a.menu-base__link(href='#') ИТ и Медиа
                    li.menu-base__item: a.menu-base__link(href='#') Потребительские рынки
                    li.menu-base__item: a.menu-base__link(href='#') ВПК
                    li.menu-base__item: a.menu-base__link(href='#') Бренды
                    li.menu-base__item: a.menu-base__link(href='#') Спорт
                    li.menu-base__item: a.menu-base__link(href='#') Видео
                    li.menu-base__item: a.menu-base__link(href='#') Интервью
                    li.menu-base__item: a.menu-base__link(href='#') Пресс-релизы
                    li.menu-base__item: a.menu-base__link(href='#') Отставки и назначения
                    li.menu-base__item: a.menu-base__link(href='#') Мнения