.padding-vertical-6
    .grid-container: .grid-x.grid-padding-x
        .small-18.medium-6.large-4.cell.text-center.large-text-left
            .margin-bottom-6
                a(href='#' title='')
                    img(src='./images/logo.svg', style='max-width: 15rem;', alt='logo')
        .shrink.cell.text-center
            .margin-bottom-6.text-age-rating.stat: strong 18+
        .small-24.medium-auto.cell.text.medium-text-right
            a.text-size-xxlarge(data-open='region') Москва
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            i.fa.fa-thermometer-half
            | &nbsp;-1&deg;C, снег
            br
            | Курс ЦБ на 30.12:
            | &nbsp;
            span.text-alert
                i.fa.fa-dollar
                | &nbsp;77.05&nbsp;
                i.fa.fa-long-arrow-down
            | &nbsp;
            span.text-success
                i.fa.fa-euro
                | &nbsp;88.20&nbsp;
                i.fa.fa-long-arrow-up

.reveal.small#region(data-reveal)
    h3 Выберите ваш регион
    .grid-x
        .small-12.cell
            h5.margin-bottom-2: a(href='#') Москва
            h5.margin-bottom-2: a(href='#') Санкт-Петербург
            h5.margin-bottom-2: a(href='#') Екатеринбург
        .small-12.cell
            h5.margin-bottom-2: a(href='#') Новосибирск
            h5.margin-bottom-2: a(href='#') Владивосток
    button(class="close-button" data-close aria-label="Close Accessible Modal" type="button")
        span(aria-hidden="true") &times;

.background-main.padding-vertical-3
    .grid-container: .grid-x.grid-padding-x
        .small-24.cell
            .show-for-small-only(data-responsive-toggle='menu', data-hide-for='medium')
                .text-secondary.text-size-xxlarge(data-toggle)
                    i.fa.fa-bars
                    strong &nbsp;Меню
            div#menu
                .margin-bottom-6.show-for-small-only
                ul.menu-base
                    li.menu-base__item: a.menu-base__link(href='#') Экономика
                    li.menu-base__item: a.menu-base__link(href='#') Финансы
                    li.menu-base__item: a.menu-base__link(href='#') ТЭК
                    li.menu-base__item: a.menu-base__link(href='#') Интернет
                    li.menu-base__item: a.menu-base__link(href='#') Промышленность
                    li.menu-base__item: a.menu-base__link(href='#') Транспорт
                    li.menu-base__item: a.menu-base__link(href='#') Наука
                    li.menu-base__item: a.menu-base__link(href='#') ИТ и Медиа
                    li.menu-base__item: a.menu-base__link(href='#') Потребительские рынки
                    li.menu-base__item: a.menu-base__link(href='#') ВПК
                    li.menu-base__item: a.menu-base__link(href='#') Бренды
                    li.menu-base__item: a.menu-base__link(href='#') Спорт
                    li.menu-base__item: a.menu-base__link(href='#') Видео
                    li.menu-base__item: a.menu-base__link(href='#') Интервью
                    li.menu-base__item: a.menu-base__link(href='#') Пресс-релизы
                    li.menu-base__item: a.menu-base__link(href='#') Отставки и назначения
                    li.menu-base__item: a.menu-base__link(href='#') Мнения