.info.grid-container: .grid-x.grid-padding-x(data-equalizer='top-news' data-equalize-on-stack='true')
  .medium-16.large-18.cell
    .grid-x
      +carousel-news

  .medium-8.large-6.cell
    .callout.text-center.callout_light-gray(data-equalizer-watch='top-news' style='background-image: url(./i/image.svg);')
      span.callout__donate От спонсора
