.grid-x.grid-padding-x: .cell
  h2 Интересное в Интернете
  
div(data-equalizer='title2', data-equalize-by-row='true'): .grid-x.grid-padding-x.medium-up-2.large-up-3(data-equalizer='interesting', data-equalize-by-row='true')
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'interesting',true,'title2')
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'interesting',true,'title2')
  +project('Разработаем несколько интернет-магазинов по продаже сантехники', 'interesting',true,'title2')
    | Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».
