mixin readCommentTile(title)
    .margin-bottom-6
        .clearfix(data-equalizer-watch='readCommentTile')
            .grid-x
                .cell.small-5.medium-24.margin-bottom-3
                    img(src='./i/photo.svg', alt='Статья')
                .cell.small-18.medium-24.small-offset-1.medium-offset-0
                    h5.margin-bottom-3
                        if title
                            a(href='#')= title
                        else
                            a(href='#') Приняли на комплексное обслуживание новый сайт
                    block
            .margin-bottom-3 Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
        a(href='#') Читать &nbsp;
            i.fas.fa-long-arrow-alt-right

.padding-top-12.padding-bottom-6
    .grid-x.grid-padding-x(data-equalizer='readCommentTile', data-equalize-by-row='true')
        .small-24.medium-12.cell
            h2 Читают
            +readCommentTile()
                .margin-bottom-3
                    i.far.fa-eye &nbsp;
                    span.text-dark-gray Читают: 50

        .small-24.medium-12.cell
            h2 Комментируют
            +readCommentTile('Разработаем несколько интернет-магазинов по продаже сантехники')
                .margin-bottom-3
                    i.fas.fa-comments &nbsp;
                    span.text-dark-gray Комментариев: 50




