mixin readCommentTile(title)
    .margin-bottom-6
        .clearfix(data-equalizer-watch='readCommentTile')
            img.margin-bottom-3(src='./i/photo.svg', alt='Статья')
            h5.margin-bottom-3
                if title
                    a(href='#')= title
                else
                    a(href='#') Приняли на комплексное обслуживание новый сайт
            block
        a(href='#') Читать &nbsp;
            i.fa.fa-long-arrow-right

.padding-top-12.padding-bottom-6
    .grid-x.grid-padding-x(data-equalizer='readCommentTile', data-equalize-by-row='true')
        .small-24.medium-12.cell
            h2 Читают
            +readCommentTile()
                .margin-bottom-6
                    i.fa.fa-eye &nbsp;
                    span.text-dark-gray Читают: 50
                .margin-bottom-6 Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».

        .small-24.medium-12.cell
            h2 Комментируют
            +readCommentTile('Разработаем несколько интернет-магазинов по продаже сантехники')
                .margin-bottom-6
                    i.fa.fa-comments &nbsp;
                    span.text-dark-gray Комментариев: 50
                .margin-bottom-6 Приняли на комплексное обслуживание компанию «СантехОпт». Проект будет развиваться по методологии «Быстрый старт».




