.reveal.small#region(data-reveal)
  h3 Выберите ваш регион
  .grid-x
    .large-12.medium-24.small-12.cell
      h5: a(href='#') Москва
      h5: a(href='#') Санкт-Петербург
      h5: a(href='#') Екатеринбург
    .large-12.medium-24.small-12.cell
      h5: a(href='#') Новосибирск
      h5: a(href='#') Владивосток
  +close-button
  
