ul
    li: a(href='smi-index.html') Главная
    li: a(href='smi-article.html') Статья
    li: a(href='smi-regular.html') Рядовая
    li: a(href='smi-search.html') Результаты поиска
    li: a(href='smi-error.html') Страница ошибки
    li: a(href='smi-sitemap.html') Карта сайта
    li: a(href='smi-category.html') Рубрика 1
    li: a(href='smi-category-type.html') Рубрика 2
    li: a(href='smi-date.html') Дата