.padding-top-4.padding-bottom-2.text-size-small.background-black
    .grid-container: .grid-x.grid-padding-x: .cell
        .padding-bottom-2.text-secondary.show-for-small-only(data-responsive-toggle='responsive-menu', data-hide-for='medium')
            span.menu-icon(data-toggle)
        #responsive-menu.padding-bottom-2
            ul.menu-top
                li.menu-top__item
                    a.menu-top__link(href='#') Новости
                li.menu-top__item
                    a.menu-top__link(href='#') Дом
                li.menu-top__item
                    a.menu-top__link(href='#') Еда
                li.menu-top__item
                    a.menu-top__link(href='#') Музыка
                li.menu-top__item
                    a.menu-top__link(href='#') Дизайн
            .clearfix