.top-line.top-line_dark
    .grid-container: .grid-x.grid-padding-x: .cell
        .top-line__humburger(data-responsive-toggle='responsive-menu', data-hide-for='medium')
            span.menu-icon(data-toggle)
        .top-line__menu#responsive-menu
            ul.menu-top
                li.menu-top__item
                    a.menu-top__link(href='#') Новости
                li.menu-top__item
                    a.menu-top__link(href='#') Дом
                li.menu-top__item
                    a.menu-top__link(href='#') Еда
                li.menu-top__item
                    a.menu-top__link(href='#') Музыка
                li.menu-top__item
                    a.menu-top__link(href='#') Дизайн