.padding-top-4.padding-bottom-2.text-size-small.background-primary
    .grid-container: .grid-x.grid-padding-x
        .small-24.medium-12.large-8.cell.medium-text-right.medium-order-2
            span.text-white.show-for-small-only(data-responsive-toggle='responsive-menu', data-hide-for='medium')
                span.menu-icon(data-toggle)
                | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            a(href='#', title='').fa-stack.text-tertiary
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-vk.fa-stack-1x.fa-inverse
            | &nbsp;
            a(href='#', title='').fa-stack.text-tertiary
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-twitter.fa-stack-1x.fa-inverse
            | &nbsp;
            a(href='#', title='').fa-stack.text-tertiary
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-facebook-f.fa-stack-1x.fa-inverse
            | &nbsp;
            a(href='#', title='').fa-stack.text-tertiary
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-odnoklassniki.fa-stack-1x.fa-inverse
            | &nbsp;
            a(href='#', title='').fa-stack.text-tertiary
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-instagram.fa-stack-1x.fa-inverse
            | &nbsp;
            a(href='#', title='').fa-stack.text-tertiary
                i.fas.fa-circle.fa-stack-2x
                i.fab.fa-google-plus-g.fa-stack-1x.fa-inverse
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            a(href='#' title='' data-toggle='search').text-white: i.fas.fa-lg.fa-search
        .small-24.medium-12.large-16.cell.medium-order-1
            #responsive-menu.padding-bottom-2
                ul.menu-top
                    li.menu-top__item
                        a.menu-top__link(href='#') Новости
                    li.menu-top__item
                        a.menu-top__link(href='#') Дом
                    li.menu-top__item
                        a.menu-top__link(href='#') Еда
                    li.menu-top__item
                        a.menu-top__link(href='#') Музыка
                    li.menu-top__item
                        a.menu-top__link(href='#') Спецпроекты
                .clearfix

.grid-container: .grid-x.grid-padding-x
    .small-24.large-10.large-offset-14.cell
        .dd(id='search' data-toggler='.dd_show')
            .dd__content.padding-6.background-main
                form(action='' method='post' data-abide='', novalidate='novalidate')
                    .input-group
                        input.input-group-field(type='text', placeholder='Поиск')
                        .input-group-button
                            button.button.primary(type='submit', name='Найти')
                                i.fas.fa-search.fa-inverse