.contacts
  .grid-container: .grid-x.grid-padding-x
    .small-24.medium-9.large-8.cell.medium-text-right.medium-order-2
      span.contacts__menu(data-responsive-toggle='responsive-menu', data-hide-for='medium')
        span(data-toggle): i.fas.fa-bars.fa-lg
      span.contacts__block: include ../common/_soc    
      a(href='#' title='' data-toggle='search').contacts__search: i.fas.fa-lg.fa-search
    .small-24.medium-15.large-16.cell.medium-order-1
      #responsive-menu.contacts__cab
        ul.menu-top
          li.menu-top__item
            a.menu-top__link(href='#') Новости
          li.menu-top__item
            a.menu-top__link(href='#') Дом
          li.menu-top__item
            a.menu-top__link(href='#') Еда
          li.menu-top__item
            a.menu-top__link(href='#') Музыка
          li.menu-top__item
            a.menu-top__link(href='#') Спецпроекты
    

include ../common/_search-input
