.grid-container: .grid-x.grid-padding-x: .cell
    ul.breadcrumbs
        li
            a(href='#' title='') Главная
        li
            a(href='#' title='') Раздел
        li
            a(href='#' title='') Путь до страницы
        li.current Страница
