.grid-container: .grid-x.grid-padding-x: .cell.footer__bottom
  | &copy;&nbsp;
  a.footer__tel(href='#') Cetera&nbsp;Labs
  span.footer__cetera ,&nbsp;2002–2018
  | Создание&nbsp;сайта&nbsp;&mdash;&nbsp;
  a.footer__labs(target='_blank', href='http://cetera.ru/') Cetera&nbsp;Labs
  a.footer__labs(target='_blank', href='http://www.cetera.ru/support/default.php?project=CCD&lang=ru&page=http://wireframes.cetera.ru/boilerplate_wireframe/') Сообщить&nbsp;об&nbsp;ошибке
  a.footer__tel(target='_blank', href='#') Политика&nbsp;конфиденциальности
