.grid-container: .grid-x.grid-padding-x.small-up-1.medium-up-3.large-up-4.xlarge-up-6(data-equalizer data-equalize-by-row="true")
  +productTile('Комби-перфоратор Metabo KHE 2650', false)
  +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
  +productTile('Лобзик Metabo STEB 65 Quick', false)
  +productTile('Торцовочная пила Ryobi EMS254L', true)
  +productTile('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
  +productTile('Лобзик Metabo STEB 65 Quick', false)
