.grid-container: .grid-x.grid-padding-x.medium-up-3.large-up-4.xlarge-up-6(data-equalizer data-equalize-by-row="true")
  +prod('Комби-перфоратор Metabo KHE 2650', false)
  +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
  +prod('Лобзик Metabo STEB 65 Quick', false)
  +prod('Торцовочная пила Ryobi EMS254L', true)
  +prod('Дрель-шуруповёрт RYOBI R18DDP-LL13G', false)
  +prod('Лобзик Metabo STEB 65 Quick', false)
