.padding-top-12.padding-bottom-6
    .grid-container: .grid-x.grid-padding-x
        .small-24.medium-16.cell
            h2 Новости компании
        .small-24.medium-8.cell.medium-text-right
            a.button(href='#') Все новости &nbsp;<i class="fas fa-long-arrow-alt-right"></i>
    .grid-container: .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3
        .cell.margin-bottom-6
            .grid-x
                .cell.small-5.medium-24
                    img.margin-bottom-3(src='./i/photo.svg' alt='Новый сайт')
                .cell.small-18.medium-24.small-offset-1.medium-offset-0
                    h5.margin-bottom-3: a(href='#') Приняли на комплексное обслуживание новый сайт
            .show-for-medium Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
        .cell.margin-bottom-6
            .grid-x
                .cell.small-5.medium-24
                    img.margin-bottom-3(src='./i/photo.svg' alt='Новый сайт')
                .cell.small-18.medium-24.small-offset-1.medium-offset-0
                    h5.margin-bottom-3: a(href='#') Приняли на комплексное обслуживание новый сайт
            .show-for-medium Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
        .cell.margin-bottom-6
            .grid-x
                .cell.small-5.medium-24
                    img.margin-bottom-3(src='./i/photo.svg' alt='Новый сайт')
                .cell.small-18.medium-24.small-offset-1.medium-offset-0
                    h5.margin-bottom-3: a(href='#') Приняли на комплексное обслуживание новый сайт
            .show-for-medium Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
        .cell.margin-bottom-6
            .grid-x
                .cell.small-5.medium-24
                    img.margin-bottom-3(src='./i/photo.svg' alt='Новый сайт')
                .cell.small-18.medium-24.small-offset-1.medium-offset-0
                    h5.margin-bottom-3: a(href='#') Разработаем несколько интернет-магазинов по продаже сантехники.
            .show-for-medium Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
        .cell.margin-bottom-6
            .grid-x
                .cell.small-5.medium-24
                    img.margin-bottom-3(src='./i/photo.svg' alt='Новый сайт')
                .cell.small-18.medium-24.small-offset-1.medium-offset-0
                    h5.margin-bottom-3: a(href='#') Приняли на комплексное обслуживание новый сайт
            .show-for-medium Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».
        .cell.margin-bottom-6
            .grid-x
                .cell.small-5.medium-24
                    img.margin-bottom-3(src='./i/photo.svg' alt='Новый сайт')
                .cell.small-18.medium-24.small-offset-1.medium-offset-0
                    h5.margin-bottom-3: a(href='#') Приняли на комплексное обслуживание новый сайт
            .show-for-medium Приняли на комплексное обслуживание компанию «СантехОпт». Разработаем несколько интернет-магазинов по продаже сантехники. Проект будет развиваться по методологии «Быстрый старт».