ul.pagination
    li.pagination-previous.disabled Пред
    li.current
        span.show-for-sr Вы на странице
        |  1
    li
        a(href='#' title='' aria-label='Page 2') 2
    li
        a(href='#' title='' aria-label='Page 3') 3
    li
        a(href='#' title='' aria-label='Page 4') 4
    li.ellipsis
    li
        a(href='#' title='' aria-label='Page 12') 12
    li
        a(href='#' title='' aria-label='Page 13') 13
    li.pagination-next
        a(href='#' title='' aria-label='Next page') След