.info
  .grid-x.grid-padding-x
    .small-24.medium-16.cell
      h2 Фото
    .small-24.medium-8.cell.medium-text-right
      a.button(href='#') Все фото &nbsp;<i class="fas fa-long-arrow-alt-right"></i>

  .grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-4(data-equalizer='photo', data-equalize-by-row='true')
    each name in [1, 2, 'ООО Промышленные Энергосистемы', 4]
      .cell.margin-bottom-6(data-equalizer-watch='photo')
        .grid-x
          .cell.small-5.medium-24.margin-bottom-3
            a(href='#'): img(src='./i/photo.svg', alt='Фото')
          .cell.small-18.medium-24.small-offset-1.medium-offset-0
            a(href='#')= 'Новый сайт компании ' + name
