include ../../../blocks/general/way/_way

form(action='#' method='get')
  .grid-x.grid-padding-x
    .medium-12.large-8.cell
      label: input(type='text', placeholder='Введите строку для поиска')
    .small-12.medium-6.large-4.cell
      select
        option(value='0') Где искать?
        option(value='1') Новости
        option(value='2') Форум
        option(value='3') Статьи
    .small-12.medium-6.large-4.cell
      +button('Искать','button_expanded')
p Результаты поиска 1-5 из 200
hr
- var n = 1
while n < 5
  h4
    a(href='' title='') «1С-Битрикс: Управление сайтом 15.5»: Скорость сайта #{n}
  p
    | ... ваш сайт? Взгляните на сайт глазами посетителей. Насколько быстро загружается ваш сайт? Можете ... зрения клиента - насколько быстро отображается сайт, насколько быстро откроется нужная ... Проверьте скорость собственного сайта! Увидеть сайт глазами посетителей! Новый облачный сервис ... Включите технологии «1С-Битрикс»: Композитный сайт Технология кеширования: автокеширование, html-кеширование ... композитной технологии Революционная технология «Композитный сайт» позволяет достичь невероятной скорости отклика ...
  div
    | Изменен: 12.05.2015
  +way(['Продукты','Управление сайтом','Что нового?'])
  hr
  - n++
+pagination
