form(action='#' method='get')
    .grid-x.grid-padding-x
        .small-12.medium-6.large-4.cell
            label: input(type='text', placeholder='Введите строку для поиска')
        .small-6.medium-3.large-2.cell
            select
                option(value='0') Где искать?
                option(value='1') Новости
                option(value='2') Форум
                option(value='3') Статьи
        .small-6.medium-3.large-2.cell.end
            input.button.expanded(type='submit', value='Искать')
.margin-bottom-6 Результаты поиска 1-5 из 200
hr.margin-bottom-6
- var n = 0
while n < 5
    h4
        a(href='' title='') «1С-Битрикс: Управление сайтом 15.5»: Скорость сайта &nbsp;
            = n
    .margin-bottom-6
        | ... ваш сайт? Взгляните на сайт глазами посетителей. Насколько быстро загружается ваш сайт? Можете ... зрения клиента - насколько быстро отображается сайт, насколько быстро откроется нужная ... Проверьте скорость собственного сайта! Увидеть сайт глазами посетителей! Новый облачный сервис ... Включите технологии «1С-Битрикс»: Композитный сайт Технология кеширования: автокеширование, html-кеширование ... композитной технологии Революционная технология «Композитный сайт» позволяет достичь невероятной скорости отклика ...
    .margin-bottom-6
        | Изменен: 12.05.2015
        br
        small
            | Путь:&nbsp;
            a(href='#' title='') Главная
            | &nbsp;/&nbsp;
            a(href='#' title='') Продукты
            | &nbsp;/&nbsp;
            a(href='#' title='') Управление сайтом
            | &nbsp;/&nbsp;
            a(href='#' title='') Что нового?
    hr.margin-bottom-6
    - n++
include _pagination