.padding-top-12.padding-bottom-6
    .grid-x.grid-padding-x
        .small-12.medium-6.cell
            h4 Виджет Вконтакте
            img.margin-bottom-6(src='./i/image.svg', alt='vk', style='background:#eee;width:100%;height:250px;')
        .small-12.medium-6.cell
            h4 Виджет Facebook
            img.margin-bottom-6(src='./i/image.svg', alt='fb', style='background:#eee;width:100%;height:250px;')