.grid-x.grid-padding-x
  .medium-12.cell
    h4 Виджет Вконтакте
    img.sect(src='./i/image.svg', alt='vk', style='background:#eee;width:100%;height:250px;')
  .medium-12.cell
    h4 Виджет Facebook
    img.sect(src='./i/image.svg', alt='fb', style='background:#eee;width:100%;height:250px;')
