.padding-top-12.padding-bottom-6
    .grid-x.grid-padding-x
        .small-24.medium-16.cell
            h2 Видео
        .small-24.medium-8.cell.medium-text-right
            a.button(href='#') Всё видео &nbsp;<i class="fas fa-long-arrow-alt-right"></i>

    section.grid-x.grid-padding-x.small-up-1.medium-up-2.large-up-3
        each item in [1, 2, 3, 4, 5, 6]
            .cell.margin-bottom-6
                .grid-x
                    .cell.small-5.medium-24.margin-bottom-3
                        img.margin-bottom-3(src='./i/video.svg' alt='Видео')
                    .cell.small-18.medium-24.small-offset-1.medium-offset-0
                        .margin-bottom-3
                            a(href='#' title='') Приняли на комплексное обслуживание новый сайт компании&nbsp;
                                = item
                        i.far.fa-eye.text-dark-gray
                        span.text-dark-gray &nbsp;128
                        | &nbsp;&nbsp;
                        i.far.fa-clock.text-dark-gray
                        span.text-dark-gray &nbsp;3:33
