h2 Новые проекты
.small-24.large-6.cell
    a(href='#' title='')
     img(src='./images/italian.png' alt='Italian')
    a(href='#' title='')
     img(src='./images/indian.png' alt='indian')
    a(href='#' title='')
     img(src='./images/french.png' alt='french')
    a(href='#' title='')
     img(src='./images/steakhouse.png' alt='steakhouse')
    a(href='#' title='')
     img(src='./images/seafood.png' alt='seafood')
.small-24.large-6.cell
    a(href='#' title='')
     img(src='./images/sushi.png' alt='sushi')
    a(href='#' title='')
     img(src='./images/mexican.png' alt='mexican')
    a(href='#' title='')
     img(src='./images/chinese.png' alt='chinese')
    a(href='#' title='')
     img(src='./images/pizza.png' alt='pizza')
    a(href='#' title='')
     img(src='./images/american.png' alt='american')