.promo {
  background: $primary-color;
  padding-top: rem-calc(70);
  color: $white;
  padding-bottom: rem-calc(70);
  @include margin-level(bottom,yellow);

  &__img {
    width: 100%;
  }
  @include breakpoint(small only) {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(20);
  }
}
