.partners {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  display: flex;

  .partners {
    margin-left: rem-calc(20);
  }

  &__link {
    display: block;
    padding: rem-calc(10 14);
    text-decoration: none;
    line-height: 1;

    &_active {
      background: $primary-color;
      color: $white;

      &:active,
      &:focus,
      &:hover {
        color: $white;
      }
    }
  }
}
