mixin pagination()
  ul.pagination
    if block
      block
    else
      li.pagination-previous.disabled Назад
      li.current
        span.show-for-sr Вы на странице
        |  1
      li
        a(href='#' title='' aria-label='Страница 2') 2
      li
        a(href='#' title='' aria-label='Страница 3') 3
      li
        a(href='#' title='' aria-label='Страница 4') 4
      li.ellipsis
      li
        a(href='#' title='' aria-label='Страница 12') 12
      li
        a(href='#' title='' aria-label='Страница 13') 13
      li.pagination-next
        a(href='#' title='' aria-label='Следующая страница') Дальше
