.radio {
  display: flex;
  @include margin-level(bottom,blue);
  cursor: pointer;

  &__input {
    margin-top: rem-calc(2);
    margin-bottom: rem-calc(0);
    display: none;

    &:checked + .radio__label {
      background: url($imagesPath +"/rad-2.svg")no-repeat left rem-calc(2);
    }

    &:disabled + .radio__label {
      opacity: 0.7;
      cursor: not-allowed;
    }
  }

  .radio__label {
    line-height: 1.3;
    margin-right: rem-calc(0);
    background: url($imagesPath +"/rad.svg")no-repeat left rem-calc(2);
    margin-left: rem-calc(0);
    padding-left: rem-calc(20);
  }
}
