.info
    .grid-container: .grid-x.grid-padding-x.small-up-1.medium-up-3(data-equalizer='services' data-equalize-on='medium')
        .cell
            .advantages(data-equalizer-watch='advantages')
                .advantages__block
                    img(src='./i/vdohnovenie.png' alt='Вдохновение').services__img
                h2.advantages__title Вдохновение
                .advantages__block.margin-top-6
                    | Lorem ipsum dolor sit amet, consectetur adipisc
                    | Pellentesque vel enim a elit viverra elementuma.
                    | Aliquam erat volutpat.
        .cell
            .advantages(data-equalizer-watch='advantages')
                .advantages__block
                    img(src='./i/voznagrajdenie.png' alt='Вознаграждение').services__img
                h2.advantages__title Вознаграждение
                .advantages__block.margin-top-6
                    | Lorem ipsum dolor sit amet, consectetur adipisc
                    | Pellentesque vel enim a elit viverra elementuma.
                    | Aliquam erat volutpat.
        .cell
            .advantages(data-equalizer-watch='advantages')
                .advantages__block
                    img(src='./i/soobshestvo.png' alt='Сообщество').services__img
                h2.advantages__title Сообщество
                .advantages__block.margin-top-6
                    | Lorem ipsum dolor sit amet, consectetur adipisc
                    | Pellentesque vel enim a elit viverra elementuma.
                    | Aliquam erat volutpat.