doctype html
html.no-js(lang='en')
    include components/_head
    body
        include components/_header
        .hello-intro
            .row.intro
                .large-centered.small-centered.large-12.columns.text-center
                    h2 Пригласите нас на презентацию
                    p
                        | Расскажем, где найти клиентов для вашего бизнеса. За 5 минут изложим ключевые тезисы нашего предложения.
                        br
                        | Поможем организовать проект создания сайта. Предоставим план создания сайта. И ответим на все ваши вопросы сразу.
                    a.button.radius(href='#') Узнайте стоимость сайта ›
        include components/_breadcrumbs
        include components/_services
        .technology
            .row.intro
                .large-centered.small-centered.large-12.columns.text-center
                    h2 Правильные технологии
                    p
                        | Используем популярные и открытые технологии.Если что-то пойдёт не так, вы легко смените подрядчика.
                    a.button.radius(href='#') Узнайте подробности ›
        .row.margin-rows
            .orbit-container
                .orbit-second-slider(role='region', aria-label='Favorite Space Pictures', data-orbit='tyopte-orbit', data-use-m-u-i='false')
                    ul.orbit-container(tabindex='0')
                        button.orbit-previous(aria-label='previous', tabindex='0')
                            span.show-for-sr Previous Slide
                            | ◀
                        button.orbit-next(aria-label='next', tabindex='0')
                            span.show-for-sr Next Slide
                            | ▶
                        li.orbit-slide.no-motionui.is-active.is-in(data-slide='0', aria-live='polite', style='')
                            .row
                                .large-6.text-center.columns
                                    img(src='./images/pay.svg', alt='slide images')
                                .large-6.columns.padding-right
                                    h2 Сайт и клиенты
                                    p
                                        | Откроем сайт. Обеспечим поддержкой и развитием. Привлечем покупателей. Конвертируем в заявки. Организуем продажи.
                                    a.button.radius(href='#') Узнайте стоимость сайта ›
                        li.orbit-slide.no-motionui(data-slide='1', style='position: relative; max-height: 292px; display: none;')
                            .row
                                .large-6.text-center.columns
                                    img(src='./images/workstation.svg', alt='slide images')
                                .large-6.columns.padding-right
                                    h2 Абонентское обслуживание
                                    p
                                        | Удобный для клиентов формат обслуживания. Все услуги — по единой фиксированной цене. Часто — нулевая стоимость сайта до открытия.
                                    a.button.radius(href='#') Узнайте стоимость сайта ›
                        li.orbit-slide.no-motionui(data-slide='2', style='position: relative; max-height: 292px; display: none;')
                            .row
                                .large-6.text-center.columns
                                    img(src='./images/fast-car.svg', alt='slide images')
                                .large-6.columns.padding-right
                                    h2 Быстрый старт
                                    p
                                        | Откроем сайт в индивидуальном дизайне за 3 дня. Используем Cetera CMS и методологию запуска собственного авторства.
                                    a.button.radius(href='#') Узнайте стоимость сайта ›
        hr
        .row.margin-rows(data-equalizer='how', data-equalize-by-row='true').column
            h2 Как еще нам убедить вас?
            .row.column.margin-block
            .row.small-up-1.large-up-2
                .column
                    .news-card.text-center.padding-100(data-equalizer-watch='how')
                        .service-icon-box.margin-60
                            img.service-icon(src='./icons/speech.svg', alt='')
                        h4.width-80 Позвоните нашим текущим клиентам
                        p.width-80
                            | Предоставим прямые телефоны наших текущих клиентов. Узнайте правду из первых уст.
                .column
                    .news-card.text-center.padding-100(data-equalizer-watch='how')
                        .service-icon-box.margin-60
                            img.service-icon(src='./icons/team.svg', alt='')
                        h4.width-80 Команда по цене одного сотрудника
                        p.width-80
                            | Предоставим проектную команду из 10 разных специалистов. Дешевле, чем оклад 1 квалифицированного программиста.
        .hello-intro
            .row.intro
                .large-centered.small-centered.large-12.columns.text-center
                    h2 Пригласите нас на презентацию
                    p
                        | Расскажем, где найти клиентов для вашего бизнеса. За 5 минут изложим ключевые тезисы нашего предложения.
                        br
                        | Поможем организовать проект создания сайта. Предоставим план создания сайта. И ответим на все ваши вопросы сразу.
                    a.button.radius(href='#') Узнайте стоимость сайта ›
        .row.margin-rows
            .columns.small-12.medium-6.large-6.text-center
                img(src='./images/test.svg', alt='')
            .columns.small-12.medium-6.large-6
                h2 Бесплатный тест наших услуг!
                p
                    | Все наши услуги до конца месяца — за счёт Cetera. Мы успеем открыть сайт или дать рекомендации по его развитию. Успеем наладить приток клиентов, решить инфраструктурные проблемы, исполнить несколько горящих задач.
                a.button.radius(href='#') Получите доступ ›
        hr
        .row.margin-rows
            .large-12.columns
                ul#example-tabs.tabs(data-tabs='')
                    li.tabs-title.is-active
                        a(href='#panel1', aria-selected='true') Прозрачность и контроль
                    li.tabs-title
                        a(href='#panel2') Консультации и знания
                    li.tabs-title
                        a(href='#panel3') Отличная доступность
                    li.tabs-title
                        a(href='#panel4') Эффективные процедуры
                .tabs-content(data-tabs-content='example-tabs')
                    #panel1.tabs-panel.is-active
                        .row
                            .large-6.columns.text-center
                                img(src='./images/fast-car.svg', alt='')
                            .large-6.columns
                                h4 Прозрачность и контроль
                                p
                                    | This is the first panel of the basic tab example. You can place all sorts of content here including a grid.
                    #panel2.tabs-panel
                        .row
                            .large-6.columns.text-center
                                img(src='./images/pay.svg', alt='')
                            .large-6.columns
                                h4 Консультации и знания
                                p
                                    | This is the second panel of the basic tab example. This is the second panel of the basic tab example.
                    #panel3.tabs-panel
                        .row
                            .large-6.columns.text-center
                                img(src='./images/workstation.svg', alt='')
                            .large-6.columns
                                h4 Отличная доступность
                                p
                                    | This is the third panel of the basic tab example. This is the third panel of the basic tab example.
                    #panel4.tabs-panel
                        .row
                            .large-6.columns.text-center
                                img(src='./images/fast-car.svg', alt='')
                            .large-6.columns
                                h4 Эффективные процедуры
                                p
                                    | This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.
        .row.margin-rows
            .columns.small-12
                .success.callout(data-closable='slide-out-right')
                    h5 This a friendly message.
                    p And when you're done with me, I close using a Motion UI animation.
                    button.close-button(aria-label='Dismiss alert', type='button', data-close='')
                        span(aria-hidden='true') ×
                .margin-60
                    h2.text-center Калькулятор комплексного обслуживания
                    h4.text-center Выберите необходимый набор услуг — получите предложение через 5 минут
                .callout.text-center
                    .row
                        .columns.small-12.medium-6
                            p Консультирование
                            .switch.large
                                input#yes1.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes1')
                                    span.show-for-sr Консультирование
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                        .columns.small-12.medium-6
                            p Дизайн (сайты, баннеры, схемы и прочие изображения для нужд интернета)
                            .switch.large
                                input#yes2.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes2')
                                    span.show-for-sr Дизайн (сайты, баннеры, схемы и прочие изображения для нужд интернета)
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                        .columns.small-12.medium-6
                            p Вёрстка HTML-страниц и сайтов
                            .switch.large
                                input#yes3.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes3')
                                    span.show-for-sr Вёрстка HTML-страниц и сайтов
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                        .columns.small-12.medium-6
                            p Консультирование
                            .switch.large
                                input#yes4.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes4')
                                    span.show-for-sr Программирование
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                    hr
                    .row
                        .columns.small-12.medium-6
                            p Тестирование разработанных сайтов и сервисов
                            .switch.large
                                input#yes5.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes5')
                                    span.show-for-sr Тестирование разработанных сайтов и сервисов
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                        .columns.small-12.medium-6
                            p Размещение сайтов или администрирование серверов
                            .switch.large
                                input#yes6.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes6')
                                    span.show-for-sr Размещение сайтов или администрирование серверов
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                        .columns.small-12.medium-6
                            p Вёрстка HTML-страниц и сайтов
                            .switch.large
                                input#yes7.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes7')
                                    span.show-for-sr Публикация текстовых материалов на сайты
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                        .columns.small-12.medium-6
                            p Обучение Заказчика использованию сайтов
                            .switch.large
                                input#yes8.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes8')
                                    span.show-for-sr Обучение Заказчика использованию сайтов
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                    hr
                    .row
                        .columns.small-12.medium-6
                            p Интеграция с внешними системами
                            .switch.large
                                input#yes9.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes9')
                                    span.show-for-sr Интеграция с внешними системами
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                        .columns.small-12.medium-6
                            p Обучение Заказчика использованию сайтов
                            .switch.large
                                input#yes10.switch-input(type='checkbox', name='exampleSwitch')
                                label.switch-paddle(for='yes10')
                                    span.show-for-sr Управление продвижением
                                    span.switch-active(aria-hidden='true') Да
                                    span.switch-inactive(aria-hidden='true') Нет
                    hr
                    .row
                        .large-3.columns
                            label
                                | Input Label
                                input(type='text', placeholder='large-4.columns')
                        .large-3.columns
                            label
                                | Input Label
                                input(type='text', placeholder='large-4.columns')
                        .large-3.columns
                            .row.collapse
                                label Input Label
                                .small-9.columns
                                    input(type='text', placeholder='small-9.columns')
                                .small-3.columns
                                    span.postfix .com
                        .large-3.columns
                            label
                                | Select Box
                                select
                                    option(value='husker') Husker
                                    option(value='starbuck') Starbuck
                                    option(value='hotdog') Hot Dog
                                    option(value='apollo') Apollo
                    .row
                        .large-6.columns
                            label
                                | Input Label
                                input(type='text', placeholder='large-12.columns')
                        .large-6.columns
                            label
                                | Textarea Label
                                textarea(placeholder='small-12.columns')
                    .margin-60
                    .row
                        .large-12.columns.text-center
                            button.button.large(type='button') Получите предложение через 5 минут ›
        include components/_events
        include components/_news-tiles
        .row.margin-rows
            .columns.small-12.medium-7.large-8
                h1 Заголовок h1
                h2 Заголовок h2
                h3 Заголовок h3
                p
                    | Достаточное условие сходимости, следовательно, порождает предел последовательности, откуда следует доказываемое равенство. Однако не все знают, что интеграл от функции, имеющий конечный разрыв изящно переворачивает экспериментальный интеграл Пуассона, что известно даже школьникам. Огибающая отражает нормальный расходящийся ряд, откуда следует доказываемое равенство. Несмотря на сложности, критерий интегрируемости поддерживает многочлен, что и требовалось доказать. Ссылка в тексте. Достаточное условие сходимости концентрирует действительный тройной интеграл, откуда следует доказываемое равенство. Асимптота, конечно, расточительно позиционирует косвенный интеграл Пуассона, как и предполагалось.
                p
                    | Непрерывная функция накладывает интеграл Дирихле, что несомненно приведет нас к истине. Сумма ряда, следовательно, переворачивает многомерный график функции, как и предполагалось. Очевидно проверяется, что огибающая позиционирует абстрактный интеграл от функции, обращающейся в бесконечность вдоль линии, что несомненно приведет нас к истине. Постоянная величина специфицирует разрыв функции, дальнейшие выкладки оставим студентам в качестве несложной домашней работы.
                blockquote
                    | Отсюда естественно следует, что первообразная функция очевидна не для всех. Лист Мёбиуса, как следует из вышесказанного, продуцирует график функции многих переменных, таким образом сбылась мечта идиота - утверждение полностью доказано. Векторное поле, общеизвестно, однородно поддерживает экстремум функции, как и предполагалось. Детерминант правомочен. Частная производная трансформирует интеграл от функции комплексной переменной, что и требовалось доказать. Криволинейный интеграл упорядочивает критерий сходимости Коши, что известно даже школьникам.
                p
                    | Функция выпуклая книзу очевидна не для всех. Отсюда естественно следует, что сумма ряда по-прежнему востребована. Подмножество, не вдаваясь в подробности, искажает критерий сходимости Коши, откуда следует доказываемое равенство.
                h3 Нумерованный список:
                ol
                    li Непрерывная функция.
                    li Сумма ряда.
                    li Достаточное условие
                h3 Маркированный список:
                ul
                    li Непрерывная функция
                    li Сумма ряда
                    li Достаточное условие
            .columns.small-12.medium-5.large-4
                .callout
                    ul.menu.vertical
                        li
                            a(href='#') О портале
                        li
                            a(href='#') Условия пользования
                        li
                            a(href='#') Реклама на портале
                        li
                            a(href='#') Партнёры
                        li
                            a(href='#') Контактная информацияи
                        li
                            a(href='#') О портале
                        li
                            a(href='#') Условия пользования
                        li
                            a(href='#') Реклама на портале
                        li
                            a(href='#') Контактная информацияи по партнерам
                        li
                            a(href='#') О портале
                        li
                            a(href='#') Условия пользования
                        li
                            a(href='#') Реклама на портале
                        li
                            a(href='#') Партнёры
                        li
                            a(href='#') Контактная информацияи
        hr
        .row.margin-rows
            .columns.small-12
                h2 О выборе хостинга
                .large-12.columns.margin-block
                table
                    thead
                        tr
                            th Table Header
                            th Table Header
                            th Table Header
                            th Table Header
                    tbody
                        tr
                            td Content Goes Here
                            td This is longer content Donec id elit non mi porta gravida at eget metus.
                            td Content Goes Here
                            td Content Goes Here
                        tr
                            td Content Goes Here
                            td
                                | This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
                            td Content Goes Here
                            td Content Goes Here
                        tr
                            td Content Goes Here
                            td
                                | This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.
                            td Content Goes Here
                            td Content Goes Here
        hr
        .row.margin-rows
            .columns.small-12
                h2 Поиск
                .large-12.columns.margin-block
                form
                    .row
                        .small-12.medium-6.large-6.columns
                            .input-group
                                input.input-group-field(type='text', placeholder='Поиск')
                                .input-group-button
                                    input.button(type='submit', value='Поиск')
                p Резульаты поиска 1-20 из 200
                include components/_pagination
                .large-12.columns.margin-block
                h4
                    a(href='#') «1С-Битрикс: Управление сайтом 15.5»: Скорость сайта
                p
                    | ... ваш сайт? Взгляните на сайт глазами посетителей. Насколько быстро загружается ваш сайт? Можете ... зрения клиента - насколько быстро отображается сайт, насколько быстро откроется нужная ... Проверьте скорость собственного сайта! Увидеть сайт глазами посетителей! Новый облачный сервис ... Включите технологии «1С-Битрикс»: Композитный сайт Технология кеширования : автокеширование, html-кеширование ... композитной технологии Революционная технология «Композитный сайт» позволяет достичь невероятной скорости отклика ...
                p
                    | Изменен: 12.05.2015
                    br
                    | Путь:
                    a(href='#') Главная
                    |  /
                    a(href='#') Продукты
                    |  /
                    a(href='#') Управление сайтом
                    |  /
                    a(href='#') Что нового?
                .large-12.columns.margin-block
                h4
                    a(href='#') «1С-Битрикс: Управление сайтом 15.5»: Скорость сайта
                p
                    | ... ваш сайт? Взгляните на сайт глазами посетителей. Насколько быстро загружается ваш сайт? Можете ... зрения клиента - насколько быстро отображается сайт, насколько быстро откроется нужная ... Проверьте скорость собственного сайта! Увидеть сайт глазами посетителей! Новый облачный сервис ... Включите технологии «1С-Битрикс»: Композитный сайт Технология кеширования : автокеширование, html-кеширование ... композитной технологии Революционная технология «Композитный сайт» позволяет достичь невероятной скорости отклика ...
                p
                    | Изменен: 12.05.2015
                    br
                    | Путь:
                    a(href='#') Главная
                    |  /
                    a(href='#') Продукты
                    |  /
                    a(href='#') Управление сайтом
                    |  /
                    a(href='#') Что нового?
                .large-12.columns.margin-block
                h4
                    a(href='#') «1С-Битрикс: Управление сайтом 15.5»: Скорость сайта
                p
                    | ... ваш сайт? Взгляните на сайт глазами посетителей. Насколько быстро загружается ваш сайт? Можете ... зрения клиента - насколько быстро отображается сайт, насколько быстро откроется нужная ... Проверьте скорость собственного сайта! Увидеть сайт глазами посетителей! Новый облачный сервис ... Включите технологии «1С-Битрикс»: Композитный сайт Технология кеширования : автокеширование, html-кеширование ... композитной технологии Революционная технология «Композитный сайт» позволяет достичь невероятной скорости отклика ...
                p
                    | Изменен: 12.05.2015
                    br
                    | Путь:
                    a(href='#') Главная
                    |  /
                    a(href='#') Продукты
                    |  /
                    a(href='#') Управление сайтом
                    |  /
                    a(href='#') Что нового?
                .large-12.columns.margin-block
                include components/_pagination
        hr
        include components/_footer_contacts
        include components/_footer
        include components/_js
