extends index

block page
    include components/through/_breadcrumbs
    block content
        .content
            .row.column
                h1 Заголовок страницы h1
            .row
                .columns.small-12.medium-7.large-8
                    include components/pages/_text
                .columns.small-12.medium-5.large-4
                    include components/through/_sidebar
