.soc {
  color: $tertiary;
  &_fb {
    color: $fb;
  }
  &_vk {
    color: $vk;
  }
  &_twi {
    color: $twi;
  }
  &_gp {
    color: $gp;
  }
  &_insta {
    color: $insta;
  }
  &_ok {
    color: $ok;
  }

}
