.quant {
  position: relative;

  .quant__input {
    border: rem-calc(1) solid $medium-gray;
    border-radius: $global-radius 0 0 $global-radius;
    padding-left: rem-calc(33);
    height: $global-input-height;
    text-align: right;
  }

  &__minus,
  &__plus {
    width: 0;
    height: 0;
    border-left: rem-calc(6) solid transparent;
    border-right: rem-calc(6) solid transparent;
    border-bottom: rem-calc(6) solid $black;
    position: absolute;
    display: block;
    cursor: pointer;
    left: rem-calc(16);
    top: rem-calc(7);
  }

  &__minus {
    top: rem-calc(24);
    transform: rotate(180deg);
  }
}
