.button {
  padding: rem-calc(11);
  margin-bottom: rem-calc(21);
  font-size: rem-calc(13);

  &:active,
  &:focus,
  &:hover {
    background: scale-color($primary-color, $lightness: -15%);
  }

  &_input {
    border-radius: 0 $global-radius $global-radius 0;
  }

  &_prod {
    font-size: rem-calc(11);
    margin-bottom: rem-calc(0);
    background: none;
    border: rem-calc(1) solid $primary-color;
    color: $primary-color;

    &:active,
    &:focus,
    &:hover {
      background: $primary-color;
      border-color: $primary-color;
      color: $white;
    }
  }

  &_large {
    font-size: rem-calc(18);
  }

  &_expanded {
    display: block;
    width: 100%;
    padding-left: rem-calc(7);
    padding-right: rem-calc(7);
    margin-right: 0;
    margin-left: 0;
  }

  &_light-gray {
    background: $light-gray;
    color: $black;
  }

  &_hollow {
    background: none;
    border: rem-calc(1) solid $primary-color;
    color: $primary-color;

    &:active,
    &:focus,
    &:hover {
      background: $primary-color;
      border-color: $primary-color;
      color: $white;
    }
  }

  &_secondary {
    background: $secondary-color;
    color: $white;
  }
}
