.button {
  padding: rem-calc(11);
  margin-bottom: rem-calc(21);
  font-size: rem-calc(13);

  &:active,
  &:focus,
  &:hover {
    background: scale-color($primary-color, $lightness: -15%);
  }

  &_hollow {
    background: none;
    border: rem-calc(1) solid $primary-color;
    color: $primary-color;

    &:active,
    &:focus,
    &:hover {
      background: $primary-color;
      border-color: $primary-color;
      color: $white;
    }
  }

  &_secondary {
    background: $secondary-color;
    color: $white;
  }
}
