.callout {
  @include margin-level(bottom,red);
  padding: 6 * $global-padding;

  &_st {
    width: 100%;
  }

  &_alert {
    background-color: #f7e4e1;
  }

  &_success {
    background-color: #d7f7f6;
  }

  &__dark {
    color: $dark-gray;
  }

  &__include {
    font-style: italic;
    font-size: rem-calc(11);
  }

  &__sum {
    font-size: rem-calc(21);
  }

  &__info {
    margin-bottom: rem-calc(20);
  }

  &__icon {
    max-height: rem-calc(20);
  }

  &__strong {
    font-weight: 500;
  }
  &__bill {
    margin-bottom: rem-calc(21);
    font-weight: 500;
  }

  &__block {
    display: block;
  }
}
