.checkbox-group {
  font-size: 0;
  margin: 0 0 6 * $global-margin;
}

label.checkbox-group__label {
  font-size: $global-font-size;
  padding: 0.83rem;
  margin: 0;
  min-width: 3rem;
  background: $white;
  line-height: 1;
  display: inline-block;
  border: rem-calc(1) solid $black;
  border-right-width: 0;
  text-align: center;

  &:last-child {
    border-right-width: rem-calc(1);
  }
}

input.checkbox-group__item {
  display: none;
}

input.checkbox-group__item:checked + label.checkbox-group__label {
  -webkit-box-shadow: inset 0 0 5px 2px rgba(1,1,1,0.4);
  box-shadow: inset 0 0 5px 2px rgba(1,1,1,0.4);
}