.dd {
  position: relative;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -ms-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.dd_show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.dd__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}