.footer {
  background: $black;
  padding: 2rem 0 1rem;
}

.footer__facebook-icon:hover {
  color: $facebook-color;
}

.footer__twitter-icon:hover {
  color: $twitter-color;
}

.footer__vk-icon:hover {
  color: $vk-color;
}