.header {
  background: $main-color;
  padding: rem-calc(35 0);

  &__hamb {
    display: none;
    font-size: rem-calc(28);
    align-self: center;
    text-align: center;
    color: $primary-color;
  }

  &__info {
    align-self: center;
    text-align: left;
  }

  &__logo {
    max-width: rem-calc(210);
  }
  @include breakpoint(large down) {
    &__info {
      text-align: center;
    }
  }
  @include breakpoint(small only) {
    &__hamb {
      display: block;
    }
  }
}
