.header {
  background: $main-color;
  padding: rem-calc(35 0);

  &__hamb {
    display: none;
    font-size: rem-calc(28);
    align-self: center;
    text-align: center;
    color: $primary-color;
  }

  &__info {
    align-self: center;
    text-align: left;
  }

  &__span {
    color: $secondary-color;
    margin-left: rem-calc(4);
    font-size: rem-calc(14);
    margin-right: rem-calc(4);
  }

  &__block {
    text-align: right;
    align-self: center;
  }

  &__tel {
    color: $medium-gray;
    font-size: rem-calc(28);
    font-weight: 500;
  }

  &__logo {
    max-width: rem-calc(210);
  }
  @include breakpoint(large down) {
    &__block {
      text-align: center;
    }
  }
  @include breakpoint(medium down) {
    &__info {
      margin-bottom: rem-calc(10);
      text-align: center;
    }
  }
  @include breakpoint(small only) {
    &__span {
      display: none;
    }

    &__hamb {
      display: block;
    }
  }
}
