.info {
  padding-top: rem-calc(42);
  padding-bottom: rem-calc(21);

  &_down {
    padding-bottom: rem-calc(42);
  }


  &__dib {
    display: inline-block;
    margin-right: rem-calc(8);
  }


  &__type {
    margin-bottom: rem-calc(8);
    font-weight: 500;
  }
  &__primary {
    color: $primary-color;
  }
  &__label {
    font-weight: 500;
  }
}
