.label {
  &_success {
    color: $white;
    background: $success-color;
  }

  &_secondary {
    color: $white;
    background: $secondary-color;
  }

  &_action {
    margin-right: rem-calc(4);
    color: $white;
    background: $secondary-color;
  }
}
