.rating {
  display: inline-block;
  vertical-align: middle;
  @include clearfix;
}

label.rating__star {
  float: right;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  font-size: 1.35rem;
  @include fa-icon;
}

.rating__star:hover {
  cursor: pointer;
}

.rating__star::before {
  color: #777;
  padding-right: 5px;

  @extend .far;
  content: fa-content($fa-var-star);
}

.rating__input {
  display: none;
}

.rating__star:hover::before, .rating__star:hover ~ .rating__star::before,
.rating:not(:hover) .rating__input:checked::before, .rating:not(:hover) .rating__input:checked ~ .rating__star::before {
  color: #EEB301;

  @extend .fas;
}