$search-input-padding: rem-calc(5);
$search-height: $global-lineheight * rem-calc($global-font-size) + 2 * $search-input-padding;

.search-top {
  width: 100%;
  margin: 0;
}

.search-top__input {
  width: 100%;
  border: 0;
  padding: $search-input-padding;
  line-height: $global-lineheight;
  height: $search-height;
  margin: 0;
  &:focus, &:hover {
    border: 0;
  }
}

button.search-top__button {
  border: 0;
  margin: 0;
  padding: 0;
  background: $white;
  height: $search-height;
  width: $search-height;
  color: map-get($foundation-palette, primary);
}

@include breakpoint(medium only) {
  .search-top {
    margin: 6 * $global-margin 0 0;
  }
}