.shipment {
  &__sect {
    margin-bottom: rem-calc(21);
  }

  &__tell {
    margin-right: rem-calc(8);

    font-size: rem-calc(14);
  }

  &__soc {
    
    font-size: rem-calc(28);
    margin-bottom: rem-calc(21);
  }

  &__art {
    color: $dark-gray;
  }

  &__no {
    color: $medium-gray;
    margin-left: rem-calc(4);
  }

  &__num {
    color: $success-color;
    margin-left: rem-calc(4);
  }

  &__low {
    color: $alert-color;
    margin-left: rem-calc(4);
  }

  &__rect {
    margin-bottom: rem-calc(11);
  }

  &__mark {
    font-style: italic;
    color: $dark-gray;
  }

  &__old {
    color: $dark-gray;
    display: block;
    text-decoration: line-through;
  }

  &__compare {
    margin-right: rem-calc(8);
  }

  &__text {
    color: $dark-gray;
  }

  &__price {
    font-size: rem-calc(35);
  }
}
