.side {
  padding: rem-calc(21);
  border-radius: $global-radius;
  background: $main-color;
  @include margin-level(bottom,red);
  &__city {
    font-weight: 500;
    margin-left: rem-calc(4);
    margin-right: rem-calc(4);
  }
  &__place {
    font-size: rem-calc(15);
    @include margin-level(bottom,red);
  }
  &__date {
    font-size: rem-calc(21);margin-bottom: rem-calc(11);
    color: $secondary-color;
  }
}
