.text-primary {
  color: $primary-color;
  &:hover, &:focus {
    color: $primary-color;
  }
}

.text-secondary {
  color: $secondary-color;
  &:hover, &:focus {
    color: $secondary-color;
  }
}

.text-success {
  color: $success-color;
  &:hover, &:focus {
    color: $success-color;
  }
}

.text-alert {
  color: $alert-color;
  &:hover, &:focus {
    color: $alert-color;
  }
}

.text-warning {
  color: $warning-color;
  &:hover, &:focus {
    color: $warning-color;
  }
}

.text-white {
  color: $white;
  &:hover, &:focus {
    color: $white;
  }
}

.text-gray {
  color: $medium-gray;
  &:hover, &:focus {
    color: $medium-gray;
  }
}

.text-light-gray {
  color: $light-gray;
  &:hover, &:focus {
    color: $light-gray;
  }
}

.text-dark-gray {
  color: $dark-gray;
  &:hover, &:focus {
    color: $dark-gray;
  }
}

.text-fb {
  color: $facebook-color;
  &:hover, &:focus {
    color: $facebook-color;
  }
}

.text-vk {
  color: $vk-color;
  &:hover, &:focus {
    color: $vk-color;
  }
}

.text-twi {
  color: $twitter-color;
  &:hover, &:focus {
    color: $twitter-color;
  }
}

.text-ok {
  color: $odnoklassniki-color;
  &:hover, &:focus {
    color: $odnoklassniki-color;
  }
}

.text-insta {
  color: $instagram-color;
  &:hover, &:focus {
    color: $instagram-color;
  }
}