.top-line {
  font-size: rem-calc(12);
  padding: 1rem 0;
}

.top-line_dark {
  background: $black;
}

.top-line__humburger {
  display: block;
  padding: 0 0 0.5rem;
  color: $secondary-color;
}

.top-line__menu {
  display: none;
  padding: 0;
}

.top-line__contacts {
  padding: 1rem 0 0;
}

@include breakpoint(medium up) {
  .top-line__humburger {
    display: none;
  }

  .top-line__menu {
    margin-top: 0;
    display: block;
  }
}

@include breakpoint(large up) {
  .top-line__contacts {
    padding: 0;
    margin: 0;
  }
}