@charset "utf-8";

// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;
$paddingMultipliers: ('0': 0, '0-125': 0.125, '0-25': 0.25, '0-5': 0.5, '1': 1, '1-5': 1.5, '2': 2, '3': 3, '4': 4) !default;
$textSizes: (tiny: 0.7rem, xsmall: 0.8rem, small: 0.9rem, default: 1rem, large: 1.25rem, xlarge: 1.5rem, xxlarge: 2rem) !default;

$fa-font-path: $fontsPath;

@import "foundation-settings";

@import "foundation";
@import "motion-ui";
@import "font-awesome";
@import "slick.scss";
@include foundation-everything(true);

@import "common";
@import "slick/slick-theme";

@import "carousel/carousel-main";
@import "carousel/carousel-news";
@import "carousel/carousel-services";
@import "checkbox-group";
@import "content";
@import "dd";
@import "footer";
@import "header";
@import "mb";
@import "menu-base";
@import "menu-top";
@import "menu-line";
@import "pb";
@import "rating";
@import "search-top";
@import "sticky-footer";
@import "text";
@import "text-size";
@import "top-line";