@charset "utf-8";
// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;

$textSizes: (tiny: 0.7rem, xsmall: 0.8rem, small: 0.9rem, default: 1rem, large: 1.1rem, xlarge: 1.25rem, xxlarge: 1.5rem, xxxlarge: 2.5rem) !default;

@import "fonts";
@import "color";

@import "grid";
@import "abide";
@import "card";
@import "switch";
@import "slider";
@import "title-bar";
@import "top-bar";
@import "tooltip";
@import "thumbnail";
@import "drilldown";
@import "dropdown";
@import "dropdown-menu";
@import "media-object";
@import "off-canvas";
@import "orbit";
@import "foundation-settings";

@import "slick.scss";
@import "foundation";
@import "motion-ui";
@import "fancybox";
@include foundation-everything(true, true);

@import "fa-layers";
@import "pagination";
@import "progress";
@import "label";
@import "callout";
@import "responsive-embed";
@import "reveal";
@import "close-button";
@import "typography";
@import "common";
@import "slick/slick-theme";

@import "carousel/carousel-main";
@import "carousel/carousel-news";
@import "carousel/carousel-services";
@import "background";
@import "checkbox-group";
@import "dd";
@import "menu-base";
@import "menu-top";
@import "menu";
@import "rating";
@import "search-top";
@import "sticky-footer";
@import "text";
@import "text-size";
@import "accordion";
@import "tabs";
@import "badge";
@import "breadcrumbs";
@import "button";
@import "contacts";
@import "hr";
