@charset "utf-8";

// Все картинки и шрифты необходимо подключать с использованием этих двух переменных:
$imagesPath: '../images' !default;
$fontsPath: '../fonts' !default;
$textSizes: (tiny: 0.7rem, xsmall: 0.8rem, small: 0.9rem, default: 1rem, large: 1.25rem, xlarge: 1.5rem, xxlarge: 2rem) !default;

$fa-font-path: $fontsPath;

@import "foundation-settings";

@import "font-awesome";
@import "slick.scss";
@import "foundation";
@import "motion-ui";
@include foundation-everything(true, true);

@import "common";
@import "slick/slick-theme";

@import "carousel/carousel-main";
@import "carousel/carousel-news";
@import "carousel/carousel-services";
@import "background";
@import "checkbox-group";
@import "content";
@import "dd";
@import "menu-base";
@import "menu-top";
@import "rating";
@import "search-top";
@import "sticky-footer";
@import "text";
@import "text-size";
@import "top-line";