.header {
  background: $main-color;
  padding: rem-calc(35 0);

  &__age {
    font-size: rem-calc(21);
    font-weight: $global-weight-bold;
    padding-top: rem-calc(10);
    margin-left: rem-calc(10);
    display: inline-block;
    margin-bottom: rem-calc(20);
  }

  &__alert {
    color: $alert-color;
    margin-right: rem-calc(4);
  }

  &__success {
    color: $success-color;
  }

  &__reg {
    margin-right: rem-calc(12);
    font-size: rem-calc(21);
  }

  &__hamb {
    display: none;
    font-size: rem-calc(28);
    align-self: center;
    text-align: center;
    color: $primary-color;
  }

  &__info {
    align-self: center;
    text-align: left;
  }

  &__span {
    color: $secondary-color;
    margin-left: rem-calc(4);
    font-size: rem-calc(14);
    margin-right: rem-calc(4);
  }

  &__block {
    text-align: right;
    align-self: center;
  }

  &__tel {
    color: $medium-gray;
    font-size: rem-calc(28);
    font-weight: $global-weight-bold;
  }

  &__logo {
    max-width: rem-calc(210);
  }
  @include breakpoint(large down) {
    &__block {
      text-align: center;
    }
  }
  @include breakpoint(medium down) {
    &__info {
      margin-bottom: rem-calc(10);
      text-align: center;
    }
  }
  @include breakpoint(small only) {
    &__span {
      display: none;
    }

    &__info {
      display: flex;
      justify-content: center;
    }

    &__age {
      padding-top: rem-calc(0);
      font-size: rem-calc(16);
    }

    &__logo {
      &_mini {
        width: rem-calc(150);
      }
    }

    &__hamb {
      display: block;
    }
  }
}
