.popular-products {

  &__image {
    display: inline-block;
    background-size: cover;
    width:100%
  }

  &__recipes {
    width: 30px;
    position: relative;
    bottom: 150px;
    left: 150px;

  }
  &__category{
    width: 30px;
    position: relative;
    bottom: 150px;
    left: 150px;
  }
}
