.popular-products {
  margin-top: rem-calc(21);
  width:20%;

  &__image {
    background-size: cover;
    background-position: center;
    width:100%;
    height: 100%;
    display: inline-block;
    padding-bottom: 60%;
  }

  &__recipe {
    color: $white;
    position: relative;
    top: rem-calc(110);
    left:0;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: 700;
    font-size: rem-calc(16);
    text-align: center;
  }
  &__category{
    color: $white;
    position: relative;
    top: rem-calc(110);
    left:0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: rem-calc(5);
    text-transform: uppercase;
    font-size: rem-calc(40);
    text-align: center;

  }
}
