.popular-products {

  width:20%;

  &__image {
    background-size: cover;
    width:100%;
    height:100%;
  }

  &__recipes {
    position: relative;
    top: 100px;
    left:150px;
  }
  &__category{
    position: relative;
    top: 100px;
    left:150px;
  }
}
