mixin cat(array)
    if array !='special-menu'
        ul.cat
            if array
                each title in array
                    li.cat__item
                        a.cat__link(href='#')= title
            else
                each title in ['О нас', 'Наши услуги', 'Медиа', 'Отзывы', 'Контакты']
                    li.cat__item
                        a.cat__link(href='#')= title

