ul.cat
  li.cat__item
    a.cat__link(href='#') Видеонаблюдение
    ul.cat
      each title in ['Создание сайтов', 'Развитие сайтов', 'Техническая поддержка сайтов', 'Cetera CMS — управление сайтом', 'Fastsite — бесплатный конструктор сайтов', 'Портфолио', 'Исполнение 152-ФЗ «О персональных данных»', 'Посмотрите прототип', 'Вопросы и ответы']
        li.cat__item
          a.cat__link(href='#')= title
  each title in ['Создание сайтов', 'Развитие сайтов', 'Техническая поддержка сайтов', 'Cetera CMS — управление сайтом']
    li.cat__item
      a.cat__link(href='#')= title
